# copy this sample file to `local.py` and edit for local settings that will NOT be committed
# these are overlayed on top of base settings

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
