{% load i18n %}
<tr class="print-hidden">
  <td colspan="4">
    {% if print != False %}
      <a href="#print-dialog" class="js-Dialog">{% trans "Print these credits" %}</a>
    {% endif %}
  </th>
  <td colspan="1">
    {% if select_all != False %}
      <input type="checkbox" id="select-all-{{ location }}" class="Checkbox Checkbox--left js-SelectAll" data-name="{{ field_name }}">
      <label data-analytics="event,select-all,{{ location }}" for="select-all-{{ location }}">{% trans "All 20" %}</label>
    {% endif %}
  </td>
</tr>