{% load i18n %}
<tr class="print-hidden">
  {% if pre_approval_required %}
    <td colspan="5">
  {% else %}
    <td colspan="4">
  {% endif %}
    {% if print != False %}
      <a href="#print-dialog" class="js-Dialog">{% trans "Print these credits" %}</a>
    {% endif %}
    </td>
  <td class="mtp-all" colspan="1">
    {% if select_all != False %}
      <input type="checkbox" id="select-all-{{ location }}" class="Checkbox Checkbox--left js-SelectAll" data-name="{{ field_name }}">
      <label data-analytics="event,select-all,{{ location }}" for="select-all-{{ location }}">
        {% blocktrans trimmed %}
        All {{ batch_size }}
        {% endblocktrans %}
      </label>
    {% endif %}
  </td>
</tr>