{% load i18n %}
{% load mtp_common %}
{% load credits %}

<tr>
  <td>
    {{ credit.received_at.date|date:'d/m/Y' }}
    {% if credit.resolution != 'credited' %}
      {% with days=credit.received_at.date|dayssince %}
        <div class="govuk-body-s--secondary {% if days >= 7 %}mtp-received-at--warning{% endif %}">
          {% if days == 0 %}
            {% trans 'Today' %}
          {% else %}
            {% blocktrans trimmed count days=days %}
              {{ days }} day ago
            {% plural %}
              {{ days }} days ago
            {% endblocktrans %}
          {% endif %}
        </div>
      {% endwith %}
    {% endif %}
  </td>
  <td>
    {{ credit.prisoner_number }}
    <div class="govuk-body-s--secondary">{{ credit.prisoner_name }}</div>
  </td>
  <td class="govuk-table__cell--numeric">
    <span class="mtp-sortable-cell--pad">
      £{{ credit.amount|currency }}
    </span>
  </td>
  <td>
    {% if credit.anonymous %}
      {% trans 'Anonymous sender' %}
      <div class="govuk-body-s--secondary">
        {% trans 'Will not be credited' %}
      </div>
    {% else %}
      {{ credit.sender_name }}
    {% endif %}
  </td>
  {% if pre_approval_required %}
    <td>
      {% if credit.reviewed %}
        {% trans 'Checked' %}
      {% else %}
        {% trans 'Not checked' %}
      {% endif %}
    </td>
  {% endif %}
  {% if include_status %}
    <td>{{ credit.nomis_transaction_id|default:'—' }}</td>
    <td>
      {% if credit.resolution == 'credited' %}
        {{ credit.credited_at.date }}
        <div class="govuk-body-s--secondary">
          {% blocktrans trimmed with name_of_clerk=credit.owner_name|default:'—' %}
            by {{ name_of_clerk }}
          {% endblocktrans %}
        </div>
      {% elif credit.resolution == 'refunded' %}
        {% trans 'Refunded' %}
        <div class="govuk-body-s--secondary">
          {{ credit.refunded_at.date }}
        </div>
      {% elif credit.anonymous %}
        {% trans 'Anonymous sender' %}
        <div class="govuk-body-s--secondary">
          {% trans 'Will not be credited' %}
        </div>
      {% else %}
        {% trans 'Not credited' %}
      {% endif %}
    </td>
  {% endif %}
</tr>
{% if credit.comments %}
  <tr>
    <td class="mtp-table__cell--security" colspan="{% if include_status and pre_approval_required %}7{% elif include_status %}6{% else %}4{% endif %}">
      {% for comment in credit.comments %}
        <div class="mtp-security-comment">
          {{ comment.comment|linebreaks }}
        </div>
      {% endfor %}
    </td>
  </tr>
{% endif %}
