{% load i18n %}
{% load mtp_common %}
{% load credits %}

<tr>
  {% sortable_cell _('Date sent') form.cleaned_data 'received_at' %}
  {% sortable_cell _('Prisoner') form.cleaned_data 'prisoner_number' %}
  {% sortable_cell _('Amount') form.cleaned_data 'amount' cell_classes='numeric' %}
  <th>{% trans 'Sender' %}</th>
  {% if pre_approval_required %}
    <th>{% trans 'Security check' %}</th>
  {% endif %}
  {% if include_status %}
    <th>{% trans 'NOMIS reference' %}</th>
    <th>{% trans 'Status' %}</th>
  {% endif %}
</tr>
