{% load i18n %}
{% load staticfiles %}
{% load mtp_common %}

{% dialoguebox title=_('Planning to enter these credits by hand?') html_id='print-dialog' html_classes='mtp-change-notification__dialog' %}
  <img src="{% static 'images/nomis-change-graphic.png' %}" srcset="{% static 'images/nomis-change-graphic@2x.png' %} 2x" alt="{% trans 'Digital cashbook now automatically connects to NOMIS' %}" />
  <p>
    {% trans 'You no longer have to enter credits by hand into NOMIS.' %}
    {% trans 'Now when you confirm credits here they will be sent to NOMIS digitally.' %}
  </p>
  <p>
    <button type="button" class="button {{ dialogue_close_class }}">{% trans 'Return to send credits to NOMIS' %}</button>
  </p>
  <p>
    <a href="#" class="js-Print">{% trans 'I still want to print' %}</a>
  </p>
{% enddialoguebox %}
