{% load i18n %}
<div id="print-dialog" class="Dialog" style="display: none">
  <div class="Dialog-inner">
    <h3 class="heading-medium">{% trans 'Do you need to print?' %}</h3>
    <p>{% trans 'Did you know:' %}</p>
    <ul class="list list-bullet">
      <li>{% trans 'you can see the digital cashbook and NOMIS screens at the same time by changing the size of your windows' %}</li>
      <li>{% trans 'you can switch between windows using the ALT + TAB keys' %}</li>
      <li>{% trans 'you can copy and paste the prisoner number from one window to the other' %}</li>
    </ul>

    <p>
      <input type="checkbox" class="Checkbox--left" name="remove-print-prompt" id="remove-print-prompt" value="1">
      <label for="remove-print-prompt">{% trans 'Don’t show this message again' %}</label>
    </p>

    <button type="button" class="button js-Print">{% trans 'Print' %}</button>
    <button type="button" class="button js-Dialog-close">{% trans 'Cancel' %}</button>
  </div>
</div>
