// Application specific

.mtp-all-credits-search {
  &__dates {
    display: inline-block;
    padding: .5em 1em .5em 0;

    input {
      width: 100%;
    }
  }

  &__date-start,
  &__date-end {
    display: inline-block;
    width: 6.7em;
  }

  &__date-end {
    padding-left: 0.5em;
  }

  &__field {
    display: inline-block;
    margin-right: 1em;

    input {
      width: 100%;
    }
  }

  @media print {
    display: none;
  }
}

.mtp-all-credits-search__filter-heading {
  font-weight: bold;
}

.mtp-all-credits-search__inputs {
  border: 2px solid #bfc1c3;
  padding: 15px;
  margin-bottom: 15px;
}

.mtp-all-credits-header {
  padding-right: 2em;

  &__credited {
    background: #cde2b7;
  }

  &__uncredited {
    background: #575a96;
    color: $page-colour;
  }

  &__refunded {
    background: #ffd9d9;
  }

  &__anonymous {
    background: $orange-50;
  }
}
