.v-batch {
  .totals {
    margin-top: -3em;
    margin-bottom: 1em;
    border-bottom: 2px solid $bg-color-alt;

    @include print {
      margin-top: 0;
    }

    p {
      font-size: em(24);
      margin-top: 0;
      margin-bottom: 1em;

      &:first-child {
        margin-top: 1em;
        margin-bottom: -.5em;
        font-size: em(36);
      }

      span {
        display: inline-block;
        &:first-child {
          width: 300px;
        }
        &:nth-child(2) {
          width: 40%;
          text-align: right;
          font-weight: bold;
        }
      }
    }

    &.is-sticky {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: em(12) 0;
      border: 0;
      background: $grey-3;

      p {
        font-size: em(19);
        margin-top: 0;
        margin-bottom: 0;
        span:nth-child(2) {
          width: 20%;
        }
      }

      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .v-batch-title {
    margin-bottom: 0;
  }

  .batch {
    margin: 0;
    display: inline-block;

    @include print {
      display: block;
    }
  }

  .batch-buttons span {
    padding-right: 1em;
  }

  @include print {
    .select-all,
    .print,
    .button,
    .check label {
      display: none;
    }
  }

  &.no-js {
    .print,
    .select-all {
      display: none;
    }
  }
}
