.v-batch {
  .totals {
    border-bottom: 2px solid $bg-color-alt;

    p {
      font-size: em(24);
      margin-bottom: 1em;

      &:first-child {
        font-size: em(36);
        margin-bottom: .1em;
      }

      span {
        display: inline-block;
        &.label {
          width: 310px;
        }
        &.total {
          width: 200px;
          text-align: right;
          font-weight: bold;
        }
      }
    }

    .container {
      margin-top: 1.5em;
    }

    &.is-sticky {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: em(12) 0;
      border: 0;
      background: #FDED95;

      p {
        font-size: em(19);
        margin-top: 0;
        margin-bottom: 0;
        span:nth-child(2) {
          width: 20%;
        }
      }

      .container {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .batch {
    margin: 0;
    width: 70%;
  }

  .batch-buttons {
    margin: 1em 0 1em 0;
    span {
      padding-right: 1em;
    }
  }

  &.no-js {
    .print,
    .select-all {
      display: none;
    }
  }

  .batch-buttons {
    width: 65%;
    padding: 10px 0 10px 0;
    span {
      padding-right: 1em;
    }
  }

  @media print {
    h1, .check, .batch-buttons {
      display: none;
    }
    table {
      width: 100%;
      tr {
        height: 4em;
        border-bottom: 1px solid $text-colour;
      }
      td.numeric {
        padding-right: 5em;
        width: 4em;
      }
    }
    .totals {
      margin-top: 0;
      border-bottom: 0;
      p span {
        &.label {
          font-size: em(10);
          width: 7em;
        }
        &.total {
          width: 10%;
          font-size: em(10);
          font-weight: bold;
        }
        margin-bottom: 1em;
      }
    }
    .batch {
      width: 100%;
      margin-bottom: 2em;
    }
    .select-all,
    .print,
    .button {
      display: none;
    }
  }
}
