.v-batch {

  table {
    width: 100%;

    td:nth-child(3) {
      text-align: left;
    }

    .mtp-select-all {
      text-align: center;
    }
  }

  .help-box {
    padding-bottom: 15px;

    .help-box-title {
      padding-top: 15px;
    }
  }

  .totals {
    border-bottom: 4px solid $text-colour;
    border-top: 4px solid $text-colour;
    margin: 20px 0;
    padding: 20px 0;

    p {
      font-size: em(22);
      margin-bottom: 1em;

      &:first-child {
        margin-bottom: .1em;
      }

      span {
        display: inline-block;

        &.label {
          width: 310px;
        }

        &.total {
          text-align: right;
          width: 200px;
          font-weight: bold;
        }
      }
    }

    .container {
      margin: 1.5em auto 0;
      max-width: $site-width;
    }

    &.is-sticky {
      background: #fded95;
      border: 0;
      left: 0;
      margin: 0;
      padding: .5em 1em;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;

      p {
        font-size: 1.2em;
        margin-bottom: 0;
        margin-top: 0;
        span:nth-child(2) {
          width: 20%;
        }
      }

      .container {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .mtp-batch {
    margin: 0;
  }

  .mtp-batch__buttons {
    margin: 1em 0;
    padding: 10px 0;
    width: 65%;

    span {
      padding-right: 1em;
    }

    @media print {
      display: none;
    }
  }

  &.no-js {
    .print,
    .select-all {
      display: none;
    }
  }

  @media print {
    h1,
    .check,
    .mtp-batch__buttons {
      display: none;
    }

    table {
      width: 100%;

      tr {
        border-bottom: 1px solid $text-colour;
        height: 2em;
      }

      td.numeric {
        padding-right: 5em;
        width: 4em;
      }
    }

    .totals {
      border-bottom: 0;
      margin-top: 0;
      p span {
        margin-bottom: 1em;
        &.label {
          font-size: em(10);
          width: 7em;
        }

        &.total {
          font-size: em(10);
          font-weight: bold;
          width: 10%;
        }

      }
    }

    .mtp-batch {
      margin-bottom: 2em;
      width: 100%;
    }

    .select-all,
    .print,
    .button {
      display: none;
    }
  }
}
