.v-batch {

  .Dialog {
    margin-top: 120px;
    position: fixed;
  }

  .help-box-title {
    padding: 20px 0 20px;
  }

  .totals {
    border-bottom: 4px solid $text-colour;
    border-top: 4px solid $text-colour;
    margin: 20px 0;
    padding: 40px 0 20px 0;

    p {
      font-size: 19px;
    }

    span.total {
      font-weight: bold;
      padding: .75em 1em;
    }

    .ctrl-total, .entered-total {
      width: 120px;
      text-align: right;
    }

    .grid-row {
      width: 100%;
      margin: 0;
    }

    .column-one-third {
      padding: 0;
    }

    .column-two-thirds {
      margin-top: 0;
    }

    .total {
      font-weight: bold;
    }

    .green {
      color: $button-colour;
    }

    .mtp-confirm__button {
      padding-right: 5px;
      text-align: right;
    }

    &.is-sticky {
      background: $page-colour;
      border-top: 0;
      border-bottom: solid $text-colour;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;

      .grid-row {
        width: 960px;
        margin: 0 auto;
      }

      .mtp-confirm__button {
        text-align: right;
        font-size: 1.1em;
      }

      p {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
      }

      .column-two-thirds {
        padding: 0;
      }
    }
  }

  .mtp-batch {
    margin: 0;

    table {
      width: 100%;

      td, th {
        border-bottom: none;
        border-top: 1px solid #bfc1c3;
      }

      .print-hidden {
        td {
          border-top: none;
        }
      }

      .number {
        text-align: right;
      }

      .mtp-all {
        text-align: center;
        padding-left: 80px;
      }

      .mtp-security {
        border-top: none;
      }
    }
  }

  &.no-js {
    .print,
    .select-all {
      display: none;
    }
  }

  .print-only {
    display: none;
  }

  @media print {
    .print-only {
      display: block;

      .print-checkbox {
        float: right;
        margin-right: 10.5%;
      }

      h2 {
        text-align: center;
        margin: 1em 0;
      }
      p {
        display: inline-block;
      }

    }
    .print-reminder {
      strong {
        padding-left: 50%;
      }

      .print-box {
        margin-top: 2em;
      }
    }

    .print-checkbox {
      margin-left: 2em;
      margin-bottom: 1em;
      width: 20px;
      height: 20px;
      border: 2px solid #000;
      display: inline-block;
    }

    h2.print-only {
      padding-top: 1em;
    }

    h1 {
      display: none;
    }

    .totals {
      margin-top: 0;
      border-bottom: 0;
      p span {
        &.label {
          font-size: em(10);
          width: 7em;
        }
        &.total {
          width: 10%;
          font-size: em(10);
          font-weight: bold;
        }
        margin-bottom: 1em;
      }
    }
    .mtp-batch {
      width: 100%;
      margin-bottom: 2em;
    }
    .select-all,
    .print,
    .button {
      display: none;
    }
  }
}

.mtp-security__comment {
  position: relative;
  padding: 15px;
  border: 3px solid $beta-colour;
  color: $text-colour;
  background: $page-colour;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: right;
  position: relative;
  min-width: 400px;
  max-width: 700px;
  margin-bottom: 15px;

  p {
    margin: 0;
  }
}

.mtp-security__comment:before {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 24px;
  bottom: auto;
  left: -12px;
  border-width: 0 10px 12px 0;
  border-color: transparent $beta-colour;
}

.mtp-security__comment:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 26px;
  bottom: auto;
  left: -7px;
  border-width: 0px 14px 15px 0;
  border-color: transparent $page-colour;
}
