.mtp-change-notification {
  h1 {
    text-align: center;
  }
}

.mtp-change-notification__page {
  text-align: center;

  div {
    text-align: left;
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.mtp-change-notification__dialog {
  header {
    text-align: center;
  }

  .mtp-dialogue__contents {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
  }
}
