.mtp-confirm {
  h2 {
    font-size: 1.26316em;
    margin: 0 0 .2em;
  }

  table {
    min-width: 100%;

    tr.mtp-section-header {
      border-top: 2px solid $border-colour;

      th, td {
        padding-top: 1em;
      }
    }

    th {
      max-width: 30px;
    }

    th, td {
      padding: 0.5em 2em 0.5em 0;
      border: none;
    }
  }
}

.mtp-confirm-change {
  text-align: right;
}
