.mtp-confirm-disbursements-list {
  table {
    width: 100%;

    tr {
      th {
        border-top: 1px solid $border-colour;
        font-weight: bold;
      }

      td {
        vertical-align: top;
      }

      td.mtp-button-column {
        width: 10em;
        text-align: center;
      }
    }
  }
}

.mtp-pending-cannot-confirm-row {
  th, td {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.mtp-reject-reason__input {
  width: 80%;
  margin-bottom: 1.5em;
  margin-top: 0.3em;
}
