.mtp-create-disbursement {
  .mtp-disbursement-start {
    .button-start {
      margin-top: 3em;
    }

    img {
      width: 95%;
      margin-top: 1.625em;
      border: 1px solid $border-colour;
    }
  }

  .mtp-next-button {
    margin-top: 1.5em;
    min-width: 150px;
    text-align: center;
  }

  .mtp-accounts-table {
    th {
      font-weight: bold;
      border: none;
    }

    td {
      text-align: center;
    }

    td.mtp-amount-column{
      text-align: left;
    }

    tr.mtp-private-row {
      td {
        font-weight: bold;
      }
    }

    tr.mtp-refresh-row {
      td {
        border: none;
      }
    }
  }

  .mtp-currency-sign {
    background-color: $highlight-colour;
    border-right: 0;
    font-weight: 900;
    line-height: 1.16;
    min-width: 1.8em;
    text-align: center;
    width: 1.8em;
  }

  .mtp-charges-amount {
    width: 5em;
  }

  .mtp-money-box {
    * {
      display: inline-block;
      height: 34px;
      vertical-align: bottom;
    }
  }

  #id_address_line1 {
    margin-bottom: 0.5em;
  }

  .mtp-confirm {
    h2 {
      font-size: 1.26316em;
      margin: 0 0 .2em;
    }

    table {
      min-width: 100%;

      tr.mtp-section-header {
        border-top: 2px solid $border-colour;

        th, td {
          padding-top: 1em;
        }
      }

      th {
        max-width: 30px;
      }

      th, td {
        padding: 0.5em 2em 0.5em 0;
        border: none;
      }
    }

    .mtp-confirm-change {
      text-align: right;
    }
  }
}
