.mtp-create-disbursement {
  .mtp-next-button {
    margin-top: 1em;
    min-width: 150px;
    text-align: center;
  }

  #id_address_line1 {
    margin-bottom: 0.5em;
  }

  #id_email-hint {
    max-width: 450px;
  }
}

.mtp-filled-form-sample {
  border: 1px solid $border-colour;
}

.mtp-accounts-table {
  th {
    font-weight: bold;
    border: none;
  }

  td {
    text-align: center;
  }

  td.mtp-balance-column {
    text-align: right;
  }

  td.mtp-amount-column {
    text-align: left;
  }

  td.mtp-account-column {
    text-align: left;
  }

  tr.mtp-private-row {
    td {
      font-weight: bold;
    }
  }

  tr.mtp-refresh-row {
    td {
      border: none;
    }
  }
}

.mtp-currency-sign {
  background-color: $highlight-colour;
  border-right: 0;
  font-weight: 900;
  line-height: 1.16;
  min-width: 1.8em;
  text-align: center;
  width: 1.8em;
}

.mtp-charges-amount {
  width: 5em;
}

.mtp-money-box {
  * {
    display: inline-block;
    height: 34px;
    vertical-align: bottom;
  }
}
