.mtp-credits {
  .print-only {
    display: none;
  }

  @media print {

    .phase-banner {
      display: none;
    }

    .print-only {
      display: block;

      .print-checkbox {
        float: right;
        margin-right: 108px;
      }

      h2 {
        text-align: center;
        margin: 1em 0;
      }

      p {
        display: inline-block;
      }
    }

    .mtp-nomis-print-header {
      page-break-before: always;
      margin-bottom: 2em;
      border: 2px solid $text-colour;

      img {
        margin-left: 35px;
        margin-top: 18px;
        float: left;
      }

      div.mtp-nomis-warning {
        padding-left: 100px;
        padding-bottom: 1em;

        h2.heading-medium {
          text-align: left;
          margin-bottom: 0;
        }
      }
    }

    .print-box {
      text-align: center;
    }

    .print-reminder {
      strong {
        padding-left: 50%;
      }

      .print-box {
        margin-top: 2em;
      }
    }

    h2.print-only {
      padding-top: 1em;
    }

    h1 {
      display: none;
    }

    .button {
      display: none;
    }
  }
}


.mtp-batch {
  @extend %table-container;
  margin: 0;

  table {
    width: 100%;
    margin-bottom: 2em;

    td, th {
      .sub {
        font-size: 16px;
        color: $grey-1;
      }

      .old {
        color: $red;
      }
    }

    .print-hidden {
      td {
        border-top: 0;
      }
    }

    .mtp-check-all {
      text-align: right;
      vertical-align: bottom;
      white-space: nowrap;
    }

    .mtp-check-col {
      text-align: center;
    }

    .mtp-security {
      border-top: 0;
    }

    .mtp-manual-action {
      border-top: 0;

      .mtp-manual-action__details {
        color: $orange;
        font-weight: bold;
      }
    }

    .mtp-manual-credit-complete {
      background-color: #cce9ff;  // would $light-blue-25 work?
    }

    .mtp-no-credits {
      text-align: center;
      height: 240px;
    }

    hr {
      width: 20px;
      height: 2px;
      margin: 0.5em 0 1em;
      padding: 0;
      border: 0;
      background: $border-colour;
      text-align: left;
    }
  }

  .mtp-dialog-info-table {
    .heading-medium {
      margin-top: 0;
    }

    tbody {
      border-bottom: none;
    }

    th, td {
      padding: 0.35em 1em 0.35em 0;
      border: none;
    }

    th {
      font-weight: bold;
    }
  }

  .mtp-dialog-info-table__close {
    margin-left: 1em;
    vertical-align: -0.3em;
  }

  @media print {
    width: 100%;
    margin-bottom: 2em;
  }
}

a.mtp-end-link {
  @include core-19;
  margin-left: 1em;
}

.mtp-manual-credits-batch {
  margin-bottom: 4em;
}
