.mtp-credits {
  .print-only {
    display: none;
  }

  @media print {

    .phase-banner {
      display: none;
    }

    .print-only {
      display: block;

      .print-checkbox {
        float: right;
        margin-right: 108px;
      }

      h2 {
        text-align: center;
        margin: 1em 0;
      }

      p {
        display: inline-block;
      }
    }

    .mtp-nomis-print-header {
      border: 2px solid $text-colour;

      img {
        margin-left: 35px;
        margin-top: 18px;
        float: left;
      }

      div.mtp-nomis-warning {
        padding-left: 100px;
        padding-bottom: 1em;

        h2.heading-medium {
          text-align: left;
          margin-bottom: 0;
        }
      }
    }

    .print-box {
      text-align: center;
    }

    .print-reminder {
      strong {
        padding-left: 50%;
      }

      .print-box {
        margin-top: 2em;
      }
    }

    h2.print-only {
      padding-top: 1em;
    }

    h1 {
      display: none;
    }

    .button {
      display: none;
    }
  }
}


.mtp-batch {
  @extend %table-container;
  margin: 0;

  th {
    padding: .8em;
  }
  th, td {
    vertical-align: top;
  }

  .mtp-results-ordering {
    height: 100%;
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $text-colour;
      text-decoration: none;

      &:hover, &:focus {
        background: $focus-colour;
        outline: 0;
      }

      span {
        display: block;
        margin: .8em 0 .8em .8em;
        padding-right: 1.2em;
      }
    }

    &.mtp-results-ordering--asc, &.mtp-results-ordering--desc {
      border-left: 1px solid $grey-2;
      border-right: 1px solid $grey-2;

      span {
        background: transparent file-url('ordering-asc.png') no-repeat 92% 50%;

        @include device-pixel-ratio {
          background-image: file-url('ordering-asc@2x.png');
          background-size: 9px 9px;
        }
      }
    }

    &.mtp-results-ordering--desc span {
      background-image: file-url('ordering-desc.png');

      @include device-pixel-ratio {
        background-image: file-url('ordering-desc@2x.png');
      }
    }
  }

  table {
    width: 100%;
    margin-bottom: 2em;

    tbody {
      border-bottom: 1px solid $grey-2;
    }

    td, th {
      border-bottom: 0;
      border-top: 1px solid $grey-2;

      .sub {
        font-size: 16px;
        color: $grey-1;
      }

      .old {
        color: $red;
      }
    }

    .print-hidden {
      td {
        border-top: 0;
      }
    }

    .number {
      text-align: right;
    }

    th.check {
      text-align: right;
      padding-right: 4.6em;
    }

    td.check {
      text-align: right;
      padding-right: 4.8em;
    }

    .mtp-all {
      vertical-align: bottom;
      padding-bottom: 1.5em;
      text-align: center;
      padding-left: 80px;
      white-space: nowrap;
    }

    .mtp-security, .mtp-manual-action {
      border-top: 0;

      .mtp-manual-action__details {
        color: $orange;
        font-weight: bold;
      }
    }

    .mtp-manual-credit-complete {
      background-color: #cce9ff;  // would $light-blue-25 work?
    }

    .mtp-no-credits {
      text-align: center;
      height: 240px;
    }

    hr {
      width: 20px;
      height: 2px;
      margin: 0.5em 0 1em;
      padding: 0;
      border: 0;
      background: $border-colour;
      text-align: left;
    }
  }

  .mtp-dialog-info-table {
    margin: 0 3em 1em;

    tbody {
      border-bottom: none;
    }

    th, td {
      border: none;
      padding: 0.35em;
      font-weight: bold;
    }
  }

  @media print {
    width: 100%;
    margin-bottom: 2em;
  }
}

a.mtp-end-link {
  @include core-19;
  margin-left: 1em;
}
