.status-box {
  background-color: $white;
  border: 2px solid $govuk-blue;
  margin: $gutter-half 0;
  a {
    display: block;
    padding: $gutter-half;
    color: $govuk-blue;
    text-decoration: none;
  }
  &:hover, &:focus {
    background-color: $govuk-blue;
    a {
      color: $white;
    }
  }
  .status-box__title {
    font-size: 24px;
    font-weight: bold;
  }
  .status-box__number {
    font-size: 42px;
    font-weight: bold;
    float: right;
  }
  .status-box__secondary-text {
    text-decoration: underline;
    font-size: 16px;
  }
}

.dashboard-training {
  clear: both;
  border-top: 1px solid $border-color;
}
