// Application specific

.mtp-status-box {
  overflow: hidden;
  margin: $gutter $gutter-half;
  padding-bottom: $gutter-half;
  border-bottom: 1px solid $grey-1;

  .mtp-status-box__secondary-text {
    font-size: 16px;
    padding-top: 8px;
  }

  .mtp-status-box__number {
    float: left;
    display: block;
    min-width: 12%;
    font-size: 42px;
    font-weight: bold;
    padding-top: 8px;

    @media (max-width: 769px) {
      min-width: 2.2em;
    }
  }

  .mtp-status-box__link {
    overflow: hidden;
    padding: 29px 0 0 10px;

    a {
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .mtp-status-box__button {
    overflow: hidden;
    padding: 16px 0 10px 10px;

    @include breakpoint($mobile) {
      .button {
        width: auto;
      }
    }
  }
}

.mtp-dashboard-training {
  clear: both;
}
