.mtp-filled-form-sample {
  margin-bottom: 1em;
  border: 1px solid $border-colour;
}

.mtp-paper-form-download {
  margin-top: 3em;

  @include media(desktop) {
    margin-right: 300px;
  }

  img {
    width: 100%;
    max-width: 180px;
    border: 1px solid $border-colour;
  }

  .column-two-thirds a {
    display: block;
    margin-bottom: 2em;
    font-size: 24px;
  }
}

#id_email-hint {
  max-width: 450px;
}
