.mtp-paper-form-download {
  margin-top: 3em;

  @include media(desktop) {
    margin-right: 300px;
  }

  img {
    width: 100%;
    max-width: 180px;
    border: 1px solid $border-colour;
  }

  .column-two-thirds a {
    font-size: 24px;
  }

  p {
    margin-bottom: 2em;
  }
}

.form-group .mtp-button-panel {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.mtp-next-button {
  margin-top: 1em;
  min-width: 150px;
  text-align: center;
}

.mtp-help-screenshot {
  max-width: 100%;
}

#mtp-remittance-sample img {
  max-width: 100%;
}

.mtp-track-invoice-help {
  img {
    max-width: 100%;
  }

  figure {
    page-break-before: always;
    break-before: page;

    &:first-of-type {
      page-break-before: avoid;
      break-before: avoid;
    }
  }
}
