// Application specific

.mtp-search-box {
  #id_start-wrapper, #id_end-wrapper {
    display: inline-block;
    width: 175px;
    margin-bottom: 0;

    input {
      width: 90%;
    }
  }

  @include media($max-width: $desktop-breakpoint, $ignore-for-ie: true) {
    #id_start-wrapper, #id_end-wrapper {
      width: 50%;

      input {
        width: 100%;
      }
    }
  }
}

.mtp-search-box__submit {
  display: inline-block;
  vertical-align: bottom;

  @include media($max-width: $desktop-breakpoint, $ignore-for-ie: true) {
    display: block;
    margin-top: 1em;
  }
}
