form.HistorySearch {
  width: 45%;
  .grid-row input {
    width: 100%;
    margin-bottom: 1em;
  }
}

.batch-history {
  width: 80%;
  table {
    width: 100%;
    margin-top: 0;
    font-size: 0.7em;

    thead th {
      border-top: 0;
    }
  }
}

.HistoryHeader {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0.6em .5em;
  background: $green-25;
  border-bottom: 1px solid $grey-1;
  text-align: center;
  line-height: 1.2em;

  a, span {
    margin: 0;
  }

  .HistoryHeader-aside {
    position: absolute;
    left: 1em;
    top: 40%;
    height: 1.5em;
    margin-top: -0.5em;
    font-size: 0.75em;
    font-weight: normal;
  }
  .HistoryHeader-aside-right {
    left: auto;
    right: 1em;
  }

  .ShowHide {
    float: left;
  }
}

.HistoryHeader-uncredited {
  background: $grey-3;
}

.HistoryHeader-refunded {
  background: $mellow-red-25;
}

.inline .block-label {
  margin-top: 0;
}
