// Application specific

.mtp-history-search {
  &__dates {
    background-color: $highlight-colour;
    display: inline-block;
    padding: .5em 1em .5em .6em;

    input {
      width: 100%;
    }
  }

  &__date-start,
  &__date-end {
    display: inline-block;
    width: 6.7em;
  }

  &__date-label,
  &__date-start,
  &__date-end {
    padding-left: .5em;
  }

  &__field {
    display: inline-block;
    margin-right: 1em;

    input {
      width: 100%;
    }
  }

  @media print {
    display: none;
  }
}

.mtp-batch__history {
  margin-top: 1em;

  h2 {
    margin-top: 0;
  }

  table {
    margin-bottom: 1.5em;
    width: 100%;

    thead th {
      border-top: 0;
    }
  }
}

.mtp-history-header {
  &__credited {
    background: #cde2b7;
  }

  &__uncredited {
    background: #575a96;
    color: $page-colour;
  }

  &__refunded {
    background: #ffd9d9;
  }

  &__anonymous {
    background: $orange-50;
  }
}

// govuk_elements overrides

.inline .block-label {
  margin-top: 0;
}
