form.HistorySearch {

  .form-inputs {
    margin: 2em 0 1em 0;
  }

  .date-fields {
    display: inline-block;
    background-color: $panel-colour;
    padding: .5em 1em .5em .6em;
    .date-start, .date-end {
      display:inline-block;
      width: 6.7em;
      padding-left: .5em;
    }
    input { width: 100% }
  }

  .search-field {
    display: inline-block;
    margin-right: 1em;
    input { width: 100% }
  }

}

.batch-history {
  float: left;
  margin-top: 2em;
  table {
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 0.7em;

    thead th {
      border-top: 0;
    }
  }
}

.HistoryHeader-credited {
  background: #CDE2B7;
}

.HistoryHeader-uncredited {
  background: $grey-3;
}

.HistoryHeader-refunded {
  background: #FFD9D9;
}

.HistoryHeader-anonymous {
  background: $orange-50;
}

.inline .block-label {
  margin-top: 0;
}

.Pagination-print-description {
  @if $is-print {
    display: block;
    font-size: 0.75em;
  } @else {
    display: none;
  }
}
