// Application specific

.mtp-locked {
  @include breakpoint($mobile) {
    width: 100%;
  }
}

.mtp-batch {
  margin-top: 1em;
}

.mtp-batch__buttons {
  margin: 1em 0;
  padding: 10px 0;
  width: 65%;

  span {
    padding-right: 1em;
  }

  @media print {
    display: none;
  }
}
