// Application specific

.mtp-locked {
  @include breakpoint($mobile) {
    width: 100%;
  }
}

.mtp-locked {
  margin-top: 1em;

  .mtp-batch__buttons {
    width: 100%;
    height: 10px;
  }

  table {
    width: 100%;

    .numeric {
      font-size: 19px;
    }

    .mtp-right-align {
      text-align: right;
    }

    td.check {
      text-align: left;
      padding-left: 25px;
    }
    .mtp-all {
      padding-left: 2.1em;
    }
  }
}

.mtp-batch__buttons {
  margin: 1em 0;
  padding: 10px 0;
  width: 65%;

  span {
    padding-right: 1em;
  }

  @media print {
    display: none;
  }
}
