// Application specific

.mtp-login {
  #content {
    width: auto;
    max-width: 100%;
    margin: 0;
  }

  #global-header-bar, #mtp-user-menu, .mtp-sub-nav {
    display: none;
  }

  .mtp-language-switch {
    padding-left: 0;
    padding-right: 0;
  }

  .mtp-language-switch__item {
    border-color: $white;
  }
}

.mtp-login__content {
  @extend %site-width-container;

  .column-half {
    padding-right: ($gutter * 2);
  }
}

.mtp-login__header {
  background: $govuk-blue;
  color: $white;

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    &:focus {
      color: $text-colour;
    }
  }

  .column-two-thirds {
    padding-right: 3 * $gutter;

    @include media(mobile) {
      padding-right: $gutter-half;
    }
  }

  .column-one-third {
    overflow: hidden;

    img {
      display: block;
      margin: 100px auto;
      text-align: center;

      @include media(mobile) {
        display: none;
      }
      @include media(tablet) {
        max-width: 80%;
      }
    }
  }

  aside {
    margin-bottom: 2em;
  }
}
