$mtp-nav-breakpoint: 830px;

.mtp-internal-site #global-header {
  #logo {
    height: 36px;
    font-size: 24px;
  }

  @include media(desktop) {
    &.with-proposition .header-wrapper {
      .header-global {
        width: 70%;
      }
      .header-proposition {
        width: 30%;
      }
    }
  }

  a.mtp-header-app {
    display: inline-block;
    padding: 5px 0 2px 10px;
    border-left: 2px solid $page-colour;

    font-family: $toolkit-font-stack;
    font-size: 24px;
    line-height: 1;
    background: $text-colour;
    color: $page-colour;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      background: $text-colour;
      color: $page-colour;
    }

    @include media($max-width: $mtp-nav-breakpoint, $ignore-for-ie: true) {
      display: none;
    }
  }
}

@mixin navigation-search-image {
  background: $govuk-blue file-url('icon-search.png') no-repeat 6px 50%;

  @include device-pixel-ratio {
    background-image: file-url('icon-search-2x.png');
    background-size: 30px 22px;
  }
}

#mtp-proposition-tabs .mtp-nav-search__trigger {
  margin: auto;
  float: right;

  a {
    display: none;
    width: 27px;
    height: 27px;
    border: solid 3px $govuk-blue;
    @include navigation-search-image;
    background-position: 50% 50%;

    &:focus {
      background-color: $govuk-blue;
      border-color: $focus-colour;
    }

    @include media($max-width: $mtp-nav-breakpoint, $ignore-for-ie: true) {
      display: block;
    }
  }
}

.mtp-proposition-tab-column {
  @include box-sizing(border-box);
  float: right;
  width: 50%;

  @include media($max-width: $mtp-nav-breakpoint, $ignore-for-ie: true) {
    float: none;
    width: auto;
  }
}

.mtp-nav-search {
  position: relative;

  @include media($max-width: $mtp-nav-breakpoint, $ignore-for-ie: true) {
    display: none;
    margin-bottom: 10px;

    &.mtp-nav-search--open {
      display: block;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  #id_search {
    @include core-16;
    float: right;
    width: 240px;
    padding-right: 44px;
    border-color: $page-colour;
    transition: width 0.2s;

    @include media($max-width: $mtp-nav-breakpoint, $ignore-for-ie: true) {
      width: 100%;
    }

    @include ie-lte(8) {
      width: 300px;
    }

    &:focus {
      width: 100%;
    }
  }

  button {
    @include box-sizing(border-box);
    @include core-16;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    padding: 5px 0 4px; // .form-control doesn't use em, e.g. em(5) em(4);
    width: 40px;
    right: 0;
    top: 0;
    border: 2px solid $govuk-blue;
    text-indent: 300px;
    @include navigation-search-image;
    cursor: pointer;
    border-radius: 0;

    @include ie-lte(8) {
      padding-bottom: 5px;
    }
  }
}

.footer-categories {
  margin-bottom: $gutter;

  .column-third {
    @include media(tablet) {
      min-width: 300px;
    }
  }

  h2 {
    padding: 10px 0 0;
    border-bottom: 1px solid $border-colour;

    @include media(tablet) {
      padding: 0 0 20px;
    }
  }

  ul {
    margin: $gutter-half 0 0 0;

    @include media(mobile) {
      margin-bottom: $gutter;
    }
  }

  li {
    padding: 10px 0 0;

    @include media(tablet) {
      padding: 20px 0 0;
    }
  }
}
