.mtp-cashbook-navigation {
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  ol {
    @extend %contain-floats;
  }

  li {
    float: left;
    list-style: none;

    > * {
      padding: 0.4em 1em 0.4em 1em;
    }

    span {
      background-color: $link-colour;
      color: $page-colour;
    }
  }
}
