.mtp-processed-credits-search {
  padding: 0 0 1em 0;

  &__date-start,
  &__date-end {
    display: inline-block;
    width: 6.7em;
    margin-right: 1em;

    input {
      width: 100%;
    }
  }

  &__field {
    display: inline-block;
    margin-right: 1em;

    input {
      width: 100%;
    }
  }

  &__submit {
    display: inline-block;
    width: 6.7em;
  }

  @media print {
    display: none;
  }
}
