.mtp-security__comment {
  position: relative;
  padding: 15px;
  border: 3px solid $orange;
  color: $text-colour;
  background: $page-colour;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: right;
  min-width: 400px;
  max-width: 700px;
  margin-bottom: 15px;

  p {
    margin: 0;
  }
}

.mtp-security__comment:before {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 24px;
  bottom: auto;
  left: -12px;
  border-width: 0 10px 12px 0;
  border-color: transparent $orange;
}

.mtp-security__comment:after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 26px;
  bottom: auto;
  left: -7px;
  border-width: 0 14px 15px 0;
  border-color: transparent $page-colour;
}
