// Application specific

.mtp-training-navigation {
  border: 1px solid $border-colour;
  border-left: 0;
  border-right: 0;
  display: block;
  list-style: none;
  overflow: hidden;
}

.mtp-training-navigation__item {
  background: $page-colour;
  display: block;
  float: left;

  a {
    color: $text-colour;
    display: block;
    font-size: .8em;
    font-weight: bold;
    line-height: 2em;
    padding: .6em 2em;
    text-decoration: none;

    @media (max-width: 640px) {
      padding: .6em 1em;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.mtp-training-navigation__js-print {
  display: none;
  float: right;

  .js-enabled & {
    display: block;
  }

  a {
    font-weight: normal;
    padding-right: 0;

    &:focus {
      background: none;
      text-decoration: underline;
    }
  }
}

.mtp-training-navigation__item--active {
  background: $govuk-blue;

  a {
    color: $white;

    &:focus {
      color: $text-colour;
    }
  }
}

.mtp-heading-training {
  display: none;

  @media print {
    display: block;
  }
}

.mtp-training-content__print {
  display: none;

  @media print {
    display: block;
  }
}

.mtp-training-section {
  clear: both;
  margin: 4em 0;
  overflow: hidden;

  .mtp-training-section__image {
    border: 1px solid $border-color;
    float: right;
    max-width: 465px;

    img {
      max-width: 100%;
    }
  }

  .mtp-training-section__text {
    float: left;
    margin-right: 1em;
    width: 22em;
  }

  @media (max-width: 970px) {
    .mtp-training-section__image {
      float: left;
    }

    .mtp-training-section__text {
      margin-right: 0;
      margin-top: 1em;
      width: 100%;
    }
  }
}

.mtp-survey-link-cta {
  background: $panel-colour;
  padding: .8em .5em;

  &.important div.message {
    width: 85%;
  }
}
