// Application specific

.mtp-training__print-link {
  display: none;

  .js-enabled & {
    display: inline;
  }
}

.mtp-training-navigation {
  border: 1px solid $border-colour;
  border-left: 0;
  border-right: 0;
  display: block;
  list-style: none;
  margin-top: 1em;
  overflow: hidden;
}

.mtp-training-navigation__item {
  background: $page-colour;
  display: block;
  float: left;

  a {
    color: $text-colour;
    display: block;
    font-size: .8em;
    font-weight: bold;
    line-height: 2em;
    padding: .6em 2em;
    text-decoration: none;

    @include media(mobile) {
      padding: .6em 1em;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.mtp-training-navigation__item--active {
  background: $govuk-blue;

  a {
    color: $white;

    &:focus {
      color: $text-colour;
    }
  }
}

.mtp-training-content__print-only {
  display: none;

  @media print {
    display: block;
  }
}

.mtp-training-section {
  clear: both;
  margin: 4em 0;
  overflow: hidden;

  .mtp-training-section__image {
    border: 1px solid $border-color;
    float: right;
    max-width: 465px;

    img {
      max-width: 100%;
    }
  }

  .mtp-training-section__text {
    float: left;
    margin-right: 1em;
    width: 22em;
  }

  @include media($max-width: 970px, $ignore-for-ie: true) {
    .mtp-training-section__image {
      float: left;
    }

    .mtp-training-section__text {
      margin-right: 0;
      margin-top: 1em;
      width: 100%;
    }
  }
}
