// mtp-common base components
@import 'mtp/base';
@import 'mtp/internal';

// mtp-common extra components
@import 'mtp/components/amount-field';
@import 'mtp/components/dialogue-box';
@import 'mtp/components/hidden-long-text';
@import 'mtp/components/mailcheck-warning';

// app components

/*
@import 'elements/tabbed-panel';
@import 'elements/character-count-warning';
@import 'elements/mailcheck-warning';

// Page specific styles
@import 'views/login';
@import 'views/sign-up';
@import 'views/landing';
@import 'views/navigation';
@import 'views/credits';
@import 'views/floating-header';
@import 'views/security-comments';
@import 'views/numbered-steps';
@import 'views/processed_credits';
@import 'views/progress_bar';
@import 'views/filter-box';
@import 'views/page-tabs';
@import 'views/page-contents';
@import 'views/confirmation-table';
@import 'views/create-disbursement';
@import 'views/disbursement-search';
@import 'views/disbursements-misc';
@import 'views/confirm_disbursements';

// mtp-common overrides
.without-footer-padding #footer .footer-wrapper {
  padding-top: 2em;
}

// app-specific styles
%table-container {
  @include media($max-width: $desktop-breakpoint) {
    overflow-x: scroll;

    table {
      min-width: 900px;
    }
  }
}

.mtp-heading--compact {
  margin-bottom: 0.5em;
}

.mtp-inactive__form {
  .form-label {
    color: $grey-2;
  }

  .form-control {
    border: 2px solid $grey-2;
  }
}

.govuk-box-highlight a {
  color: $page-colour;
}

address {
  font-style: normal;
}

.mtp-question-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 0 0 6px;
  vertical-align: top;
  background: file-url('question-icon.png');
  text-decoration: none;
  text-indent: -1000px;
  font-size: 1px;

  @include device-pixel-ratio {
    background: file-url('question-icon@2x.png');
    background-size: 15px 15px;
  }
}
*/
