*.pyc
include/
lib/
static/
media/
.build

# Sass-cache
*.sass-cache/

# sqlite3 db
*.db
*.sqlite3

# sublime stuff
*.sublime-workspace
*.sublime-project

# Virtual env
venv/

# Mac crap
*.DS_Store

# Ignore settings/local.py
*/settings/local.py

# Node Stuff
node_modules

mtp_cashbook/assets/

# Docker make targets
.dev_django_container

# failed test screenshots
test/errorshots/
