*.DS_Store
*.py[cod]
*.mo
*.pot
venv/

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# app-specific
.eslintrc.json
.sass-lint.yml
docker-compose.yml
package.json
package-lock.json
webpack.config.js
mtp_cashbook/assets/
mtp_cashbook/settings/local.py
static/
media/
spooler/

# testing
/reports/
geckodriver.log
ghostdriver.log

# Code Intelligence
.mypy_cache
