{% extends 'cashbook/credits_base.html' %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block body_classes %}mtp-credits{% endblock %}

{% block page_content %}

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  <div class="help-box">
    <p>
      {% trans 'Below you’ll find all the credits listed to date.' %}
      {% trans 'You can also use the search to find specific credits.' %}
    </p>
  </div>

  {% include "mtp_common/includes/message_box.html" %}

  <form method="get" class="mtp-all-credits-search" action="">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <div class="mtp-all-credits-search__inputs">
      <div class="mtp-all-credits-search__filter-heading">{% trans 'Filter by' %}</div>
      <div class="mtp-all-credits-search__dates">
        <div class="mtp-all-credits-search__date-start">
          {% include 'mtp_common/forms/field.html' with field=form.start input_classes='js-FormDateControl' value=form.start.value|date:'d/m/Y'|default:form.start.value|default_if_none:'' only %}
        </div>
        <div class="mtp-all-credits-search__date-end">
          {% include 'mtp_common/forms/field.html' with field=form.end input_classes='js-FormDateControl' value=form.end.value|date:'d/m/Y'|default:form.end.value|default_if_none:'' only %}
        </div>
      </div>
      <div class="mtp-all-credits-search__field">
        {% include 'mtp_common/forms/field.html' with field=form.search only %}
      </div>

      {# always forces a search to start on page 1 #}
      <input type="hidden" name="{{ form.page.html_name }}" value="1">

      <div><input class="button" type="submit" value="{% trans 'Search' %}"></div>
    </div>
  </form>


  <div class="mtp-batch mtp-batch__all-credits">
    {% if object_list %}

      <p class="mtp-all-credits__description">{{ form.get_search_description }}</p>
      <p><a href="#print-dialog" class="js-Dialog">{% trans 'Print this page of credits' %}</a></p>
      <table>
        <thead>

          <tr>
            <th class="{{ request|ordering_classes:'received_at' }}">
              <a href="?{{ request|query_string_with_reversed_ordering:'received_at' }}">
                <span>
                  {% trans 'Date sent' %}
                  {% describe_ordering_for_screenreader request 'received_at' %}
                </span>
              </a>
            </th>
            <th class="{{ request|ordering_classes:'prisoner_number' }}">
              <a href="?{{ request|query_string_with_reversed_ordering:'prisoner_number' }}">
                <span>
                  {% trans 'Prisoner' %}
                  {% describe_ordering_for_screenreader request 'prisoner_number' %}
                </span>
              </a>
            </th>
            <th class="{{ request|ordering_classes:'amount' }} number">
              <a href="?{{ request|query_string_with_reversed_ordering:'amount' }}">
                <span>
                  {% trans 'Amount' %}
                  {% describe_ordering_for_screenreader request 'amount' %}
                </span>
              </a>
            </th>
            <th>{% trans 'Sender' %}</th>
            <th>{% trans 'Credited status' %}</th>
          </tr>
        </thead>

        <tbody>
          {% for credit in object_list %}
            <tr>
              <td>
                <div>{{ credit.received_at.date|date:'d/m/Y' }}</div>
                {% with days=credit.received_at.date|dayssince %}
                <div class="sub {% if days >= 7 %}old{% endif %}">
                  {% if days == 0 %}
                    {% trans 'Today' %}
                  {% else %}
                    {% blocktrans count days=days %}
                    {{ days }} day ago
                    {% plural %}
                    {{ days }} days ago
                    {% endblocktrans %}
                  {% endif %}
                </div>
                {% endwith %}
              </td>
              <td>
                <div>{{ credit.prisoner_number }}</div>
                <div class="sub">{{ credit.prisoner_name }}</div>
              </td>
              <td class="number">&pound;{{ credit.amount|currency }}</td>
              <td>{{ credit.sender_name }}</td>
              <td>
                {% if credit.resolution == 'credited' %}
                  <p>
                    {{ credit.credited_at.date }}<br />
                    {% blocktrans trimmed with name_of_clerk=credit.owner_name|default:'—' %}
                      by {{ name_of_clerk }}
                    {% endblocktrans %}
                  </p>
                {% elif credit.resolution == 'refunded' %}
                  <p>
                    {% trans 'Refunded' %}<br />
                    {{ credit.refunded_at.date }}
                  </p>
                {% elif credit.anonymous %}
                  <p>
                    {% trans 'Anonymous (uncredited)' %}
                  </p>
                {% else %}
                  <p>{% trans 'No' %}</p>
                {% endif %}
              </td>
          {% endfor %}
        </tbody>
      </table>

      {% page_list page=current_page page_count=page_count query_string=form.query_string %}

      <p><a href="#print-dialog" class="js-Dialog">{% trans 'Print this page of credits' %}</a></p>
      {% include 'cashbook/includes/nomis_print_dialog.html' %}

    {% else %}

      <p><strong>{{ form.get_search_description }}</strong></p>

    {% endif %}
  </div>

{% endblock %}
