{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Digital cashbook' %}{% endblock %}

{% block proposition_extra %}
  <nav id="mtp-proposition-extra" class="govuk-grid-column-full mtp-print-hidden">
    <form class="mtp-proposition-tab-column mtp-nav-search" method="get" action="{% url 'search' %}">
      <div class="form-group">
        <label class="visually-hidden" for="id_search">{% trans 'Search all credits' %}</label>
        <input id="id_search" class="form-control" name="search" value="{{ search_field.value|default_if_none:'' }}" placeholder="{% trans 'Search all credits, for example, by prisoner number' %}" required/>
        <button type="submit">{% trans 'Search' %}</button>
      </div>
    </form>

    {% spaceless %}
      <ul id="mtp-proposition-tabs" class="mtp-proposition-tab-column">
        <li class="mtp-nav-search__trigger"><a href="#"><span class="visually-hidden">{% trans 'Search all credits' %}</span></a></li>
      </ul>
    {% endspaceless %}
  </nav>
{% endblock %}

{% block content %}
  {% notification_banners request 'cashbook_cashbook' 'cashbook_all' %}
{% endblock %}
