{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load staticfiles %}

{% block page_title %}{% trans 'Digital cashbook now automatically connects to NOMIS' %}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-change-notification{% endblock %}

{% block inner_content %}

  <header>
    {% language_switch %}
    <h1 class="heading-large">{% trans 'Digital cashbook now automatically connects to NOMIS' %}</h1>
  </header>

  <div class="mtp-change-notification__page">
    <img class="mtp-change-notification__graphic" src="{% static 'images/nomis-change-graphic.png' %}" srcset="{% static 'images/nomis-change-graphic@2x.png' %} 2x"/>
    <div>
      {% trans 'We’ve updated the cashbook so you no longer have to enter credits by hand into NOMIS.' %}
      {% trans 'Now, when you confirm your selected credits, the cashbook will send them to NOMIS digitally.' %}
    </div>
    <a class="button" href="{% url 'new-credits' %}">{% trans 'I understand' %}</a>
  </div>

{% endblock %}
