{% extends "base.html" %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}

{% block inner_content %}
  <header class="ContentHeader">
    <h1 class="heading-large">{{ view.title }}</h1>
  </header>

  {% include "mtp_common/includes/message_box.html" %}

  <form method="post" action="" class="mtp-locked">
    {% csrf_token %}

    {% if object_list %}

      <div class="help-box">
        <p>{% trans 'Here you can see who is currently processing the credits in your team. You can release them if you need to take over their work.' %}</p>

        <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="true" role="heading">
          <div></div><a href="#">{% trans 'Help' %}</a>
        </div>
        <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">
          <p>{% trans 'If you want to release credits:' %}</p>
          <ul>
            <li>{% trans 'Find your team member under ‘staff name’' %}</li>
            <li>{% trans 'Select the box at the end of the row' %}</li>
            <li>{% trans 'Click ‘Release’ to free up their work' %}</li>
            <li><a href="{% url 'training' page='in-progress' %}">{% trans 'More information is available in the training section' %}</a></li>
          </ul>
        </div>
      </div>

      {% include 'mtp_common/forms/error-summary.html' with form=form only %}

      <div class="mtp-batch">

        {% include "cashbook/includes/locked_buttons.html" %}

        <table>
          <thead>
            {% include "cashbook/includes/table_actions.html" with location='header' field_name=form.credits.html_name print=False %}

            <tr>
              <th>{% trans "Staff name" %}</th>
              <th>{% trans "Credits" %}</th>
              <th>{% trans "Amount (£)" %}</th>
              <th>{% trans "Time in progress" %}</th>
              <th>{% trans "Release" %}</th>
            </tr>
          </thead>

          <tbody>
            {% for credit_locked_ids, credit_group in object_list %}
              <tr>
                <td title="{{ credit_group.owner_prison }}">{{ credit_group.owner_name }}</td>
                <td class="numeric">{{ credit_group.locked_count }}</td>
                <td class="numeric">{{ credit_group.locked_amount|currency }}</td>
                <td>{{ credit_group.locked_at_earliest|timesince }}</td>
                <td class="check">
                  <input
                    type="checkbox"
                    name="{{ form.credits.html_name }}"
                    value="{{ credit_locked_ids }}"
                    id="check-{{ credit_group.owner }}"
                    class="Checkbox"
                    {% if credit_locked_ids in form.credits.value %}checked{% endif %}>
                  <label for="check-{{ credit_group.owner }}">{% trans "Select" %}</label>
                </td>
              </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            {% include "cashbook/includes/table_actions.html" with location='footer' field_name=form.credits.html_name print=False %}
          </tfoot>
        </table>

        {% include "cashbook/includes/locked_buttons.html" %}

      </div>

    {% else %}
      <p>{% trans "No credits in progress" %}</p>
    {% endif %}
  </form>
{% endblock %}
