{% extends 'base.html' %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block page_title %}{% trans 'New credits - Digital cashbook' %}{% endblock %}

{% block body_classes %}{{ block.super }} v-batch{% endblock %}

{% block inner_content %}

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">{{ view.title }}</h1>
  </header>

  {% include "mtp_common/includes/message_box.html" %}

  <form
    method="post"
    action=""
    class="js-BeforeUnload js-BatchValidation"
    data-credits-name="{{ form.credits.html_name }}"
    data-unload-msg="{% trans 'You are leaving this page, but have ticked credits.' %} &#x0A;&#x0A; {% trans 'Click ‘Done’ if credits have been processed in NOMIS.' %}">
    {% csrf_token %}


    {% if object_list %}
      {% include 'mtp_common/forms/error-summary.html' with form=form only %}

      <p class="print-hidden">
        {% if batch_size == 1 %}
          {% trans 'Here is the only new credit to be processed in NOMIS.' %}
        {% elif batch_size == new_credits %}
          {% blocktrans trimmed %}
          Here are the {{ batch_size }} new credits to be processed in NOMIS.
          {% endblocktrans %}
        {% else %}
          {% blocktrans trimmed %}
          Here are the next {{ batch_size }} of {{ new_credits }} new credits to be processed in NOMIS.
          {% endblocktrans %}
        {% endif %}
        <br />
        {% trans 'Enter credits into NOMIS and tick the relevant boxes.' %}
        {% trans 'Click the green ‘Confirm entered in NOMIS’ button when it appears.' %}
        <br />
        {% trans 'These credits are locked to you until completed or released by a colleague.' %}
      </p>

      <div class="print-only">
        <h2 class="heading-small">
          {% trans "CONFIDENTIAL: dispose of securely" %}
        </h2>
        <p>
          {% blocktrans trimmed with total=total|currency %}
          1-{{ batch_size }} of {{ new_credits }} credits <br />
          <strong>Control total: &pound;{{total}}</strong>
          {% endblocktrans %}
        </p>
      </div>

      <p>
        <a class="mtp-disclosure" href="#" aria-controls="mtp-help-box" aria-expanded="false" role="button" data-analytics="pageview,/-help_open/{{ request.resolver_match.url_name }}/">
          <span></span>{% trans 'How to use this with NOMIS' %}
        </a>
      </p>
      <div id="mtp-help-box" class="mtp-disclosure__contents panel panel-border-narrow">
        <ul class="list list-bullet">
          <li>{% trans 'You can credit in NOMIS in the usual way but remember to select the <strong>‘Misc Receipt - Private Cash’ category as Credit Type</strong>' %}</li>
          <li>{% trans 'You don’t need to use a reference' %}</li>
          <li>{% trans 'In the digital cashbook below, tick off the credits you’ve entered in NOMIS and click ‘Confirm entered in NOMIS’' %}</li>
          <li>{% trans 'You might find it easier to copy and paste the prisoner number from the digital cashbook into NOMIS' %}</li>
          <li><a href="{% url 'training' page='new' %}">{% trans 'More information is available in the training section' %}</a></li>
        </ul>
      </div>

      <div class="mtp-batch">
        <div class="print-box">
          <p>
            {% trans "Remember to confirm all credits as processed in the digital cashbook." %}
          </p>
        </div>

        <div class="totals js-StickyHeader print-hidden">
          <div class="grid-row">
            <div class="column-one-third">
              <p class='label'>
                {% blocktrans trimmed %}
                  Control total ({{ batch_size }})
                {% endblocktrans %}
              </p>
            </div>

            <div class="column-two-thirds">
              <div class="ctrl-total">
                <p><span class='total control-total'>&pound;{{total|currency}}</span></p>
              </div>
            </div>

            <div class="column-one-third">
              <p>{% trans 'Entered into NOMIS by you' %} (<span class="count-checked-checkboxes">0</span>)</p>
            </div>

            <div class="column-one-third">
              <div class="label container js-RunningTotal entered-total" data-label="">
              </div>
            </div>

            <div class="column-one-third mtp-confirm__button">
              {% if object_list %}
                <button type="submit" name="submit" value="submit" class="button">{% trans 'Confirm entered in NOMIS' %}</button>
              {% endif %}
            </div>
          </div>
        </div>

        <h2 class="print-only heading-small">
          {% trans 'To be entered into NOMIS by you' %}
        </h2>

        <table>
          <thead>
            {% include 'cashbook/includes/batch_table_actions.html' with location='header' field_name=form.credits.html_name batch_size=batch_size %}

            <tr>
              <th>{% trans 'Date sent' %}</th>
              <th>{% trans 'Prisoner' %}</th>
              <th class="number">{% trans 'Amount' %}</th>
              <th>{% trans 'Sender' %}</th>
              {% if pre_approval_required %}
                <th>{% trans 'Security' %}</th>
              {% endif %}
              <th class="check"><span id="id_credits-label">{% trans 'Entered in NOMIS?' %}</span></th>
            </tr>
          </thead>

          <tbody>
            {% for credit_pk, credit in object_list %}
              <tr>
                <td>
                  <div>{{ credit.received_at.date|date:'d/m/Y' }}</div>
                  {% with days=credit.received_at.date|dayssince %}
                  <div class="sub {% if days >= 7 %}old{% endif %}">
                    {% if days == 0 %}
                      {% trans 'Today' %}
                    {% else %}
                      {% blocktrans count days=days %}
                      {{ days }} day ago
                      {% plural %}
                      {{ days }} days ago
                      {% endblocktrans %}
                    {% endif %}
                  </div>
                  {% endwith %}
                </td>
                <td>
                  <div>{{ credit.prisoner_number }}</div>
                  <div class="sub">{{ credit.prisoner_name }}</div>
                </td>
                <td class="number">&pound;{{ credit.amount|currency }}</td>
                <td>{{ credit.sender_name }}</td>
                {% if pre_approval_required %}
                  <td>
                    {% if credit.reviewed %}
                      {% trans 'Checked' %}
                    {% else %}
                      {% trans 'Not checked' %}
                    {% endif %}
                  </td>
                {% endif %}
                <td class="check">
                  <div class="print-only print-checkbox"></div>
                  <input
                    type="checkbox"
                    name="{{ form.credits.html_name }}"
                    value="{{ credit_pk }}"
                    id="check-{{ credit.id }}"
                    {% if credit_pk|to_string in form.credits.value %}checked{% endif %}
                    class="js-RunningTotal-item Checkbox"
                    data-amount="{{ credit.amount|currency }}">
                  <label for="check-{{ credit.id }}">{% trans 'Credited' %}</label>
                </td>
              </tr>
              {% if credit.comments %}
                <tr>
                  <td class="mtp-security" colspan=6>
                    {% for comment in credit.comments %}
                      <div class="mtp-security__comment">
                        {{ comment.comment|linebreaks }}
                      </div>
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>

          <tfoot>
            {% include 'cashbook/includes/batch_table_actions.html' with location='footer' field_name=form.credits.html_name batch_size=batch_size %}
          </tfoot>
        </table>

      </div>
    {% else %}
      <p>{% trans "There aren’t any credits available" %}</p>
    {% endif %}

    <div class="print-only print-reminder">
      <strong>{% trans "Confirm all credits processed" %}</strong>
      <div class="print-only print-checkbox"></div>
      <div class="print-box">
        <p>
          {% trans "Remember to confirm all credits as processed in the digital cashbook." %}
        </p>
      </div>
    </div>


    <div id="incomplete-batch-dialog"
         class="Dialog"
         style="display: none"
         data-hide-close="true"
         data-disable-backdrop-close="true">
      <div class="Dialog-inner">
        <p><strong>{% trans 'Do you want to submit only the selected credits?' %}</strong></p>
        <button type="submit"
                class="button"
                value="override">{% trans 'Yes' %}</button>
        <button type="button"
                class="button button-secondary js-Dialog-close"
                data-analytics="pageview,/batch/-dialog_close/">{% trans 'No, continue processing' %}</button>
      </div>
    </div>
  </form>

  {% include 'cashbook/includes/print_dialog.html' %}

{% endblock %}
