{% extends "base.html" %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block inner_content %}
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1 class="heading-large">{% trans 'Credit history' %}</h1>
  </header>

  <div class="help-box">
    <p>{% trans 'Below you’ll find all the credits listed to date. You can also use the search to find specific credits.' %}</p>

    <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="true" role="heading">
      <div></div><a href="#">{% trans 'Help' %}</a>
    </div>
    <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">
      <p>{% trans 'To help with your search:' %}</p>
      <ul>
        <li>{% trans 'Search by prisoner name, prisoner number, sender name or amount' %}</li>
        <li>{% trans 'To bring up the whole history, don’t enter search dates although you can enter start and finish dates if you have a specific search' %}</li>
        <li>{% trans 'Click on ‘Expand’ to see a list of credits for that day, then click on ‘Collapse’ to go back' %}</li>
        <li>{% trans 'Remember the credits in ‘Uncredited’ haven’t been processed yet' %}</li>
        <li><a href="{% url 'training' page='history' %}">{% trans 'More information is available in the training section' %}</a></li>
      </ul>
    </div>
  </div>

  {% include "mtp_common/includes/message_box.html" %}

  <form method="get" class="mtp-history-search" action="">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <div class="mtp-history-search__inputs">
      <div class="mtp-history-search__field">
        {% include 'mtp_common/forms/field.html' with field=form.search only %}
      </div>
      <div class="mtp-history-search__dates">
        <div class="mtp-history-search__date-label">Date received<div class="form-hint">eg 28/04/2016</div></div>
        <div class="mtp-history-search__date-start">
          {% include 'mtp_common/forms/field.html' with field=form.start input_classes='js-FormDateControl' value=form.start.value|date:'d/m/Y'|default:form.start.value|default_if_none:'' only %}
        </div>
        <div class="mtp-history-search__date-end">
          {% include 'mtp_common/forms/field.html' with field=form.end input_classes='js-FormDateControl' value=form.end.value|date:'d/m/Y'|default:form.end.value|default_if_none:'' only %}
        </div>
      </div>
    </div>

    {# always forces a search to start on page 1 #}
    <input type="hidden" name="{{ form.page.html_name }}" value="1">

    <div><input class="button" type="submit" value="{% trans 'Search' %}"></div>
  </form>


  <div class="mtp-batch mtp-batch__history">
    {% if object_list %}

      <p class="mtp-history__description">{{ form.get_search_description }}</p>

      {% for credit_date, group in object_list|parse_date_fields|regroup_credits %}
        <h2 class="heading-medium">{{ credit_date|date:'DATE_FORMAT' }}</h2>

        {% for credit_status, credits in group %}
          <table id="HistoryBatch-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="CollapsingTable">
            <caption class="CollapsingTableHeader {% credit_group_class credit_status %}" data-collapse-text="{% trans 'Collapse' %}" data-expand-text="{% trans 'Expand' %}">
              {% if credit_status == 'credited' %}
                {% trans 'Credited' %}
              {% elif credit_status == 'refunded' %}
                {% trans 'Refunded' %}
              {% elif credit_status == 'anonymous' %}
                {% trans 'Unknown sender (uncredited)' %}
              {% else %}
                {% trans 'Uncredited' %}
              {% endif %}
              <span class="CollapsingTableHeader-aside CollapsingTableHeader-aside-right">
                {% trans 'Total' %}: £{{ credits|sum_credits|currency }}
              </span>
            </caption>
            <thead>
              <tr>
                <th>{% trans 'Prisoner no' %}</th>
                <th>{% trans 'Prisoner name' %}</th>
                {% if DEBIT_CARD_ACTIVE %}
                  <th>
                    {% trans 'Prisoner name' %}
                    <span class="font-xsmall">({% trans 'as entered by sender' %})</span>
                  </th>
                {% endif %}
                <th>{% trans 'Amount (£)' %}</th>
                <th>{% trans 'Sender' %}</th>
                <th>
                  {% if credit_status == 'credited' %}
                    {% trans 'Credited by' %}
                  {% else %}
                    {% trans 'Started by' %}
                  {% endif %}
                </th>
                {% if DEBIT_CARD_ACTIVE %}
                  <th>{% trans 'Payment method' %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for credit in credits %}
                <tr>
                  <td>{{ credit.prisoner_number|default_if_none:'—' }}</td>
                  <td>{{ credit.prisoner_name|default_if_none:'—' }}</td>
                  {% if DEBIT_CARD_ACTIVE %}
                    <td>{{ credit.intended_recipient|default_if_none:'—' }}</td>
                  {% endif %}
                  <td class="numeric">{{ credit.amount|currency }}</td>
                  <td>{{ credit.sender_name|default_if_none:'—' }}</td>
                  <td>{{ credit.owner_name|default_if_none:'—' }}</td>
                  {% if DEBIT_CARD_ACTIVE %}
                    <td>
                      {% if credit.source == 'online' %}
                        {% trans 'Debit card' %}
                      {% else %}
                        {% trans 'Bank transfer' %}
                      {% endif %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}

      <ul class="Pagination">
        {% if previous_page %}
          <li>
            <a href="{% url_with_query_param request 'page' previous_page %}">
              {% trans 'Previous' %}
              <span class="screenreader-only">{% trans 'page' %}</span>
            </a>
          </li>
        {% endif %}
        {% for page in page_range %}
          <li>
            {% if page %}
              <a href="{% url_with_query_param request 'page' page %}" class="{% if page == current_page %}Pagination-current-page{% endif %}">
                <span class="screenreader-only">{% trans 'Page' %}</span>
                {{ page }}
              </a>
            {% else %}
              …
            {% endif %}
          </li>
        {% endfor %}
        {% if next_page %}
          <li>
            <a href="{% url_with_query_param request 'page' next_page %}">
              {% trans 'Next' %}
              <span class="screenreader-only">{% trans 'page' %}</span>
            </a>
          </li>
        {% endif %}
      </ul>
      <p class="Pagination-print-description">
        {% blocktrans with page=current_page pages=page_count %}Page {{ page }} of {{ pages }}.{% endblocktrans %}
      </p>

      <p><a href="#print-dialog" class="js-Dialog">{% trans 'Print this page of credits' %}</a></p>
      {% include 'cashbook/includes/print_dialog.html' %}

    {% else %}

      <p><strong>{{ form.get_search_description }}</strong></p>

    {% endif %}
  </div>

{% endblock %}
