{% extends "base.html" %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}

{% block page_title %}{% trans "New credits - Digital cashbook" %}{% endblock %}

{% block body_classes %}v-batch{% endblock %}

{% block inner_content %}

  <h1 class="heading-xlarge">{{ view.title }}</h1>

  {% include "mtp_common/includes/message_box.html" %}

  <form
    method="post"
    action=""
    class="js-BeforeUnload js-BatchValidation"
    data-credits-name="{{ form.credits.html_name }}"
    data-unload-msg="{% trans 'You are leaving this page, but have ticked credits.' %} &#x0A;&#x0A; {% trans 'Click ‘Done’ if credits have been processed in NOMIS.' %}">
    {% csrf_token %}


    {% if object_list %}
      {% include 'mtp_common/forms/error-summary.html' with form=form only %}

      <div class="help-box">
        <p>
          {% if batch_size == 1 %}
            {% trans 'Here is the only new credit to be processed in NOMIS.' %}
          {% elif batch_size == new_credits %}
            {% blocktrans trimmed %}
            Here are the {{ batch_size }} new credits to be processed in NOMIS.
            {% endblocktrans %}
          {% else %}
            {% blocktrans trimmed %}
            Here are the next {{ batch_size }} of {{ new_credits }} new credits to be processed in NOMIS.
            {% endblocktrans %}
          {% endif %}
          {% trans 'Enter credits into NOMIS, tick the box then click the green confirm button.' %}
          {% trans 'These credits are locked to you until completed or released by a colleague.' %}
        </p>
        <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="false" role="heading">
          <div></div><a href="#">{% trans 'How to use this with NOMIS' %}</a>
        </div>
        <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">
          <ul>
            <li>{% trans 'You can credit in NOMIS in the usual way but remember to select the <strong>‘Misc Receipt - Private Cash’ category as Credit Type</strong>' %}</li>
            <li>{% trans 'You don’t need to use a reference' %}</li>
            <li>{% trans 'In the Digital Cashbook below, tick off the credits you’ve entered in NOMIS and click ‘Confirm entered in NOMIS’' %}</li>
            <li>{% trans 'You might find it easier to copy and paste the prisoner number from the Digital Cashbook into NOMIS' %}</li>
            <li><a href="{% url 'training' page='new' %}">{% trans 'More information is available in the training section' %}</a></li>
          </ul>
       </div>
      </div>

      <div class="mtp-batch">
        <div class="print-box">
          <h2 class="heading-small">
            {% trans "CONFIDENTIAL: dispose of securely" %}
          </h2>
          <p>
            {% trans "When you’ve processed these credits in NOMIS, select them in the digital cashbook and click ‘Done’." %}
          </p>
        </div>

        <div class="totals js-StickyHeader js-BeforeUnload js-BatchValidation">
          <div class="grid-row">
            <div class="column-one-third">
              <p class='label'>
                {% blocktrans trimmed %}
                  Control total ({{ batch_size }})
                {% endblocktrans %}
              </p>
            </div>

            <div class="column-two-thirds">
              <div class="ctrl-total">
                <p><span class='total control-total'>&pound;{{total|currency}}</span></p>
              </div>
            </div>

            <div class="column-one-third">
              <p>{% trans 'Entered into NOMIS by you' %} (<span class="count-checked-checkboxes">0</span>)</p>
            </div>

            <div class="column-one-third">
              <div class="label container js-RunningTotal entered-total" data-label="">
              </div>
            </div>

            <div class="column-one-third mtp-confirm__button">
              {% if object_list %}
              <button type="submit" name="submit" value="submit" class="button">{% trans "Confirm entered in NOMIS" %}</button>
              {% endif %}
            </div>
          </div>
        </div>

        <table>
          <thead>
            {% include "cashbook/includes/batch_table_actions.html" with location='header' field_name=form.credits.html_name batch_size=batch_size %}

            <tr>
              <th>{% trans "Prisoner number" %}</th>
              <th>{% trans "Prisoner name" %}</th>
              <th>{% trans "Amount" %}</th>
              <th>{% trans "Sender" %}</th>
              <th class="check"><span id="id_credits-label">{% trans "Entered in NOMIS?" %}</span></th>
            </tr>
          </thead>

          <tbody>
            {% for credit_pk, credit in object_list %}
              <tr>
                <td>{{ credit.prisoner_number }}</td>
                <td>{{ credit.prisoner_name }}</td>
                <td class="numeric">&pound;{{ credit.amount|currency }}</td>
                <td>{{ credit.sender_name }}</td>
                <td class="check">
                  <input
                    type="checkbox"
                    name="{{ form.credits.html_name }}"
                    value="{{ credit_pk }}"
                    id="check-{{ credit.id }}"
                    {% if credit_pk|to_string in form.credits.value %}checked{% endif %}
                    class="js-RunningTotal-item Checkbox"
                    data-amount="{{ credit.amount|currency }}">
                  <label for="check-{{ credit.id }}">{% trans "Credited" %}</label>
                </td>
              </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            {% include "cashbook/includes/batch_table_actions.html" with location='footer' field_name=form.credits.html_name batch_size=batch_size %}
          </tfoot>
        </table>

      </div>
    {% else %}
      <p>{% trans "There aren’t any credits available" %}</p>
    {% endif %}

    <div id="incomplete-batch-dialog"
         class="Dialog u-nojs-hidden"
         style="display: none"
         data-hide-close="true"
         data-disable-backdrop-close="true">
      <div class="Dialog-inner">
        <p><strong>{% trans "Do you want to submit only the selected credits?" %}</strong></p>
        <button type="submit"
                class="button"
                value="override">{% trans "Yes" %}</button>
        <button type="button"
                class="button button-secondary js-Dialog-close"
                data-analytics="pageview,/batch/-dialog_close/">{% trans "No, continue processing" %}</button>
      </div>
    </div>
  </form>

  {% include "cashbook/includes/print_dialog.html" %}

{% endblock %}
