{% extends "base.html" %}
{% load i18n core %}

{% block content %}
  <h1>{% trans "Money sent to prisoners" %}</h1>

  <ul class="SummaryBoxes">
    <li class="SummaryBoxes--unprocessed">
      <a href="{% url 'transaction-list' %}">
        <h2>{% trans "New" %}</h2>
        <p>
          {% blocktrans with payments_count="<strong>{0}</strong>"|safewrap:new_transactions %}
          {{ payments_count }} Payments to credit
          {% endblocktrans %}
        </p>
      </a>
    </li>

    <li>
      <a href="#TODO">
        <h2>{% trans "History" %}</h2>
        <p>
          {% blocktrans with firstline="<span>" endfirstline="</span>" %}
          {{ firstline }}Payments{{ endfirstline }} credited by you
          {% endblocktrans %}
        </p>
      </a>
    </li>
  </ul>

{% endblock content %}
