{% extends "base.html" %}
{% load i18n core %}

{% block content %}
  <h1>{% trans "Money sent to prisoners" %}</h1>

  <ul class="SummaryBoxes">
    <li class="SummaryBoxes--unprocessed" id="tour-step1">
      <a href="{% url 'transaction-list' %}">
        <h2>{% trans "New" %}</h2>
        <p>
          {% blocktrans with payments_count="<strong>{0}</strong>"|safewrap:new_transactions %}
          {{ payments_count }} Payments to credit
          {% endblocktrans %}
        </p>
      </a>
    </li>

    <li id="tour-step2">
      <a href="#TODO">
        <h2>{% trans "History" %}</h2>
        <p>
          {% blocktrans with firstline="<span>" endfirstline="</span>" %}
          {{ firstline }}Payments{{ endfirstline }} credited by you
          {% endblocktrans %}
        </p>
      </a>
    </li>
  </ul>

  <div id="tour-intro"></div>

{% endblock content %}

{% block view_js %}
  var tourSteps = {
    id: 'dashboard',
    steps: [
      {
        content: '<p>Welcome to the Digital Payments service. Would you like to take a quick tour that explains how it works?</p>',
        target: 'tour-intro',
        padding: 10,
        placement: 'bottom',
        xOffset: 'center',
        yOffset: '-50',
        highlight: true,
        dismissTo: 3
      },
      {
        content: '<p>You can see what needs to be credited to prisoners in NOMIS by clicking ‘New payments’.</p><p>You’ll get a batch of payment to credit. No-one else in your team will be able to see the batch you’re working on.</p>',
        target: 'tour-step1',
        padding: 10,
        placement: 'bottom',
        xOffset: 'center',
        highlight: true
      },
      {
        content: '<p>You can see all payments you’ve credited to NOMIS in your history.</p>',
        target: 'tour-step2',
        padding: 10,
        placement: 'bottom',
        xOffset: 'center',
        highlight: true
      },
      {
        content: '<p>You can resume the tour at any time from here.</p>',
        target: 'tour-resume',
        padding: 10,
        placement: 'bottom',
        xOffset: 'center',
        fadeout: true
      }
    ]
  };
{% endblock %}
