{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
  <header class="ContentHeader">
    <p class="ContentHeader-back">{% trans 'Home' %}</p>
  </header>

  {% include "mtp_common/includes/message_box.html" %}

  {% if ENVIRONMENT != 'prod' %}
    <h1 class="heading-large">{% trans 'Digital cashbook' %} – {% trans 'training site' %}</h1>
    <p>
      {% trans 'Please try this site out – the credits and prisoners listed are not real.' %}
    </p>
  {% else %}
    <h1 class="heading-large">{% trans 'Digital cashbook' %}</h1>
  {% endif %}

  <div class="help-box">
    <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="true" role="heading">
      <div></div><a href="#">{% trans 'Help' %}</a>
    </div>
    <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">
      <p>{% trans 'You can click on:' %}</p>
      <ul class="list list-bullet">
        <li>{% trans '‘New’ to process credits in NOMIS' %}</li>
        <li>{% trans '‘History’ to view all credits processed' %}</li>
        <li>{% trans '‘In progress’ to view credits currently being processed by your team' %}</li>
      </ul>
    </div>
  </div>

  <ul class="SummaryBoxes">
    <li class="SummaryBoxes--new-credits">
      <a href="{% url 'credit-list' %}">
        <h2>{% trans 'New' %}</h2>
        <p>
          {% blocktrans trimmed with payments_count=new_credits %}
            <strong>{{ payments_count }}</strong> Credits to process
          {% endblocktrans %}
        </p>
      </a>
    </li>

    <li class="SummaryBoxes--history">
      <a href="{% url 'credit-history' %}">
        <h2>{% trans 'History' %}</h2>
        <p>{% trans 'Credits processed by the team' %}</p>
      </a>
    </li>

    <li class="SummaryBoxes--locked">
      <a href="{% url 'credits-locked' %}">
        <h2>{% trans 'In progress' %}</h2>
        <p>
          {% blocktrans trimmed with payments_count=locked_credits %}
            <strong>{{ payments_count }}</strong> Credits in progress
          {% endblocktrans %}
        </p>
      </a>
    </li>
  </ul>

  <div class="dashboard-training">
    <h2 class="heading-large">{% trans 'Training materials' %}</h2>
    <div class="grid-row">
      <div class="column-one-half">
        <p>
          <a href="{% url 'service-overview' page='day-1' %}">
            {% trans 'Overview – sending money to prisoners online' %}
          </a>
        </p>
        <p>
          <a href="{% url 'training' page='intro' %}">
            {% trans 'How to use the digital cashbook' %}
          </a>
        </p>
      </div>
      <div class="column-one-half">
        {% if ENVIRONMENT != 'prod' %}
          {% include 'training/survey-link.html' %}
        {% endif %}
      </div>
    </div>

  </div>

{% endblock %}
