{% extends "base.html" %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  <header class="ContentHeader">
    <h1 class="heading-xlarge">{% trans 'Change your password' %}</h1>
  </header>

  <div class="mtp-inactive__form">
    <div class="form-group">
      <label class="form-label" for="old-password">{% trans 'Old password' %}</label>
      <input class="form-control" id="old-password" name="old-password" type="text" disabled>
    </div>
    <div class="form-group">
      <label class="form-label" for="new-password">{% trans 'New password' %}</label>
      <input class="form-control" id="new-password" name="new-password" type="text" disabled>
    </div>
    <div class="form-group">
      <label class="form-label" for="new-password-confirmation">{% trans 'New password confirmation' %}</label>
      <input class="form-control" id="new-password-confirmation" name="new-password-confirmation" type="text" disabled>
    </div>
    <div class="panel panel-border-narrow">
      {% trans 'During training it is not possible to change your password' %}
    </div>
  </div>

{% endblock %}
