{% extends 'cashbook/credits_base.html' %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}
{% load staticfiles %}

{% block page_title %}{% trans 'New credits - Digital cashbook' %}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-credits{% endblock %}

{% block page_content %}

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge__chopped">{{ view.title }}</h1>
  </header>

  <div class="print-only">
    <h2 class="heading-small">
      {% trans "CONFIDENTIAL: dispose of securely" %}
    </h2>
  </div>

  {% if credited_credits %}
    <div class="mtp-crediting-result mtp-credited-credits print-hidden">
      {% blocktrans count credited_credits=credited_credits trimmed %}
        {{ credited_credits }} credit sent to NOMIS
      {% plural %}
        {{ credited_credits }} credits sent to NOMIS
      {% endblocktrans %}
      <a href="{% url 'processed-credits-list' %}" class="mtp-end-link">{% trans 'View' %}</a>
    </div>
  {% endif %}

  {% if failed_credits %}
    <div class="mtp-crediting-result mtp-failed-credits print-hidden">
      {% blocktrans count failed_credits=failed_credits trimmed %}
        {{ failed_credits }} credit not processed due to technical error, try again soon
      {% plural %}
        {{ failed_credits }} credits not processed due to technical error, try again soon
      {% endblocktrans %}
      <a href="#failed-credits-dialog" class="js-Dialog mtp-end-link">{% trans 'Why?' %}</a>
    </div>

    <div id="failed-credits-dialog"
       class="Dialog"
       style="display: none"
       data-hide-close="true"
       data-disable-backdrop-close="true">
      <div class="Dialog-inner">
        <h2 class="heading-large">{% trans 'Why didn’t it work?' %}</h2>
        <p>
          {% trans 'We’re sorry but sometimes a fault in our system stops credits from being processed.' %}
          {% trans 'Please wait a few minutes then send to NOMIS again.' %}
        </p>
        <button type="button" class="button js-Dialog-close">{% trans 'OK' %}</button>
      </div>
    </div>
  {% endif %}

  {% if owned_manual_credits or unowned_manual_credits %}
    <form class="js-ConfirmManual" method="post" action="" data-credits-name="{{ form.manual.credits.html_name }}">
      {% csrf_token %}

      {% include 'mtp_common/forms/error-summary.html' with form=form.manual only %}

      {% if owned_manual_credits %}
        <div class="mtp-crediting-result mtp-manual-credits print-hidden">
          {% blocktrans count manual_credits=owned_manual_credits trimmed %}
            {{ manual_credits }} credit needs your manual input in NOMIS
          {% plural %}
            {{ manual_credits }} credits need your manual input in NOMIS
          {% endblocktrans %}
          <a href="#manual-credits-dialog" class="js-Dialog mtp-end-link">{% trans 'How?' %}</a>
        </div>

        <div class="print-hidden"><p>{% trans 'These credits need your manual input to be processed.' %}</p></div>

        <div id="manual-credits-dialog"
           class="Dialog"
           style="display: none"
           data-hide-close="true"
           data-disable-backdrop-close="true">
          <div class="Dialog-inner">
            <h2 class="heading-large">{% trans 'These credits need further processing' %}</h2>
            <p>
              {% trans 'The prisoner may be in transit, may have moved prisons or may have been released.' %}
              {% trans 'Please enter these credits into NOMIS manually, then click ‘Done’.' %}
            </p>
            <button type="button" class="button js-Dialog-close">{% trans 'OK' %}</button>
          </div>
        </div>

        {% include 'cashbook/includes/manual_credit_table.html' with manual_object_list=owned_manual_object_list owned=True only %}
      {% endif %}


      {% if unowned_manual_credits %}
        <div class="print-hidden"><p>
          {% if unowned_oldest_date and unowned_oldest_date|dayssince > 0 %}
            {% blocktrans with owner=other_owners.0 count owners=other_owners|length trimmed %}
              {{ owner }} started to process these credits but may not have finished
            {% plural %}
              Your colleagues started to process these credits but may not have finished
            {% endblocktrans %}
          {% else %}
            {% blocktrans with owner=other_owners.0 count owners=other_owners|length trimmed %}
              {{ owner }} should be processing these credits into NOMIS manually
            {% plural %}
              Your colleagues should be processing these credits into NOMIS manually
            {% endblocktrans %}
          {% endif %}
        </p></div>

        <p>
          <a class="mtp-disclosure" href="#" aria-controls="mtp-finish-manual" aria-expanded="false" role="button" data-analytics="pageview,/-help_open/{{ request.resolver_match.url_name }}/">
            <span></span>{% trans 'How to finish processing' %}
          </a>
        </p>
        <div id="mtp-finish-manual" class="mtp-disclosure__contents panel panel-border-narrow">
          <p>
            {% blocktrans with owner=other_owners.0 count owners=other_owners|length trimmed %}
              Your colleague, {{ owner }}, started processing these credits yesterday.
            {% plural %}
              Some of your colleagues started processing these credits yesterday.
            {% endblocktrans %}
            {% trans 'To make sure they were processed successfully, please check NOMIS.' %}
          </p>
          <p>
            {% blocktrans with owner=other_owners.0 count owners=other_owners|length trimmed %}
              If they have been entered correctly, just click ‘Done’ and tell {{ owner }} you’ve finished processing the credits.
            {% plural %}
              If they have been entered correctly, just click ‘Done’ and tell your colleagues you’ve finished processing the credits.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans with owner=other_owners.0 count owners=other_owners|length trimmed %}
              If they have not been entered, please manually enter these credits youself, click ‘Done’ and tell {{ owner }} you’ve processed these credits for them.
            {% plural %}
              If they have not been entered, please manually enter these credits youself, click ‘Done’ and tell your colleagues you’ve processed these credits for them.
            {% endblocktrans %}
          </p>
        </div>

        {% include 'cashbook/includes/manual_credit_table.html' with manual_object_list=unowned_manual_object_list owned=False only %}
      {% endif %}
    </form>
  {% endif %}

  <form
    method="post"
    action=""
    class="js-BeforeUnload js-BatchValidation"
    data-credits-name="{{ form.new.credits.html_name }}">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form.new only %}

    {% if new_object_list or not manual_credits %}
    <div class="mtp-batch mtp-new-credits-batch {% if not new_object_list %}print-hidden{% endif %}">
      {% if new_object_list %}
        <div class="mtp-floating-header js-StickyHeader print-hidden">
          <div class="grid-row">
            <div class="column-two-thirds">
              <p class="print-hidden">
                {% blocktrans count new_credits=new_credits trimmed %}
                  <strong>{{ new_credits }}</strong> new credit.
                {% plural %}
                  <strong>{{ new_credits }}</strong> new credits.
                {% endblocktrans %}
                <span class="mtp-none-selected">{% trans 'You haven’t selected any to process yet.' %}</span>
                <span class="mtp-some-selected">
                  <strong><span class="js-SelectionCount"></span></strong> {% trans 'credits selected for processing in NOMIS' %}.
                </span>
              </p>
            </div>

            <div class="column-one-third mtp-submit__button">
              {% if new_object_list %}
                <button type="submit" name="submit_new" value="submit" class="button">{% trans 'Credit to NOMIS' %}</button>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="mtp-nomis-print-header print-only">
          <img src="{% static 'images/icon-important.png' %}"/>
          <div class="mtp-nomis-warning">
            <h2 class="heading-medium">
              {% trans 'You don’t have to manually enter credits into NOMIS any more' %}
            </h2>
            <div>
              {% trans 'Now when you ‘confirm’ credits, they’ll be sent digitally to NOMIS' %}
            </div>
          </div>
        </div>
      {% else %}
        <p>{% trans "No new credits received" %}</p>
      {% endif %}


      <table>
        <thead>
          {% if new_object_list %}
            <tr class="print-hidden">
              <td colspan="{% if pre_approval_required %}5{% else %}4{% endif %}" class="cell--compact">
                <p>
                  <a class="mtp-disclosure" href="#" aria-controls="mtp-help-box" aria-expanded="false" role="button" data-analytics="pageview,/-help_open/{{ request.resolver_match.url_name }}/">
                    <span></span>{% trans 'What do I do here?' %}
                  </a>
                </p>
                <div id="mtp-help-box" class="mtp-disclosure__contents panel panel-border-narrow">
                  <p>
                    {% blocktrans trimmed %}
                      The credits on this page are from the <a href="{{ start_page_url }}">Send money to a prisoner</a> service.
                    {% endblocktrans %}
                  </p>
                  <p>{% trans 'Use this page to credit to NOMIS automatically, you no longer need to manually enter these credits.' %}</p>
                  <p>
                    {% trans 'All credits are from known senders and should be credited - if there is any concern or suspicion about a credit, it should be placed on hold after crediting and passed to security.' %}
                  </p>
                  <p><strong>{% trans 'How to credit' %}</strong></p>
                  <ol class="mtp-numbered-steps">
                    <li class="first">{% trans 'Review all credits for suspicious activity' %}</li>
                    <li class="second">{% trans 'Tick all credits' %}</li>
                    <li class="third">{% trans 'Click the green ‘Credit to NOMIS’ button' %}</li>
                    <li class="fourth">{% trans 'Place any suspicious credits on hold in NOMIS' %}</li>
                  </ol>
                  <p>{% trans 'There is no longer any need to print records.' %}</p>
                </div>
              </td>
              <td class="mtp-all">
                <div>
                  <input type="checkbox" id="select-all-header" class="Checkbox Checkbox--left js-SelectAll" data-name="{{ form.new.credits.html_name }}">
                  <label data-analytics="event,select-all,header" for="select-all-header">{% trans "Select all" %}</label>
                </div>
              </td>
            </tr>
          {% endif %}

          <tr>
            <th class="{{ request_params|ordering_classes:'received_at' }}">
              <a href="?{{ request_params|query_string_with_reversed_ordering:'received_at' }}">
                <span>
                  {% trans 'Date sent' %}
                  {% describe_ordering_for_screenreader request_params 'received_at' %}
                </span>
              </a>
            </th>
            <th class="{{ request_params|ordering_classes:'prisoner_number' }}">
              <a href="?{{ request_params|query_string_with_reversed_ordering:'prisoner_number' }}">
                <span>
                  {% trans 'Prisoner' %}
                  {% describe_ordering_for_screenreader request_params 'prisoner_number' %}
                </span>
              </a>
            </th>
            <th class="{{ request_params|ordering_classes:'amount' }} number">
              <a href="?{{ request_params|query_string_with_reversed_ordering:'amount' }}">
                <span>
                  {% trans 'Amount' %}
                  {% describe_ordering_for_screenreader request_params 'amount' %}
                </span>
              </a>
            </th>
            <th>{% trans 'Sender' %}</th>
            {% if pre_approval_required %}
              <th>{% trans 'Security' %}</th>
            {% endif %}
            <th class="check print-hidden"><span id="id_credits-label">{% trans 'Select' %}</span></th>
          </tr>
        </thead>

        {% if new_object_list %}
          <tbody>
            {% for credit_pk, credit in new_object_list %}
              <tr>
                <td>
                  <div>{{ credit.received_at.date|date:'d/m/Y' }}</div>
                  {% with days=credit.received_at.date|dayssince %}
                  <div class="sub {% if days >= 7 %}old{% endif %}">
                    {% if days == 0 %}
                      {% trans 'Today' %}
                    {% else %}
                      {% blocktrans count days=days trimmed %}
                        {{ days }} day ago
                      {% plural %}
                        {{ days }} days ago
                      {% endblocktrans %}
                    {% endif %}
                  </div>
                  {% endwith %}
                </td>
                <td>
                  <div>{{ credit.prisoner_number }}</div>
                  <div class="sub">{{ credit.prisoner_name }}</div>
                </td>
                <td class="number">&pound;{{ credit.amount|currency }}</td>
                <td>{{ credit.sender_name }}</td>
                {% if pre_approval_required %}
                  <td>
                    {% if credit.reviewed %}
                      {% trans 'Checked' %}
                    {% else %}
                      {% trans 'Not checked' %}
                    {% endif %}
                  </td>
                {% endif %}
                <td class="check print-hidden">
                  <input
                    type="checkbox"
                    name="{{ form.new.credits.html_name }}"
                    value="{{ credit_pk }}"
                    id="check-{{ credit.id }}"
                    {% if credit_pk|to_string in form.new.credits.value %}checked{% endif %}
                    class="js-SelectionCount-item Checkbox"
                    data-amount="{{ credit.amount|currency }}">
                  <label for="check-{{ credit.id }}">{% trans 'Credited' %}</label>
                </td>
              </tr>
              {% if credit.comments %}
                <tr>
                  <td class="mtp-security" colspan="{% if pre_approval_required%}6{% else %}5{% endif %}">
                    {% for comment in credit.comments %}
                      <div class="mtp-security__comment">
                        {{ comment.comment|linebreaks }}
                      </div>
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>

          <tfoot>
            <tr class="print-hidden">
              <td colspan="{% if pre_approval_required%}5{% else %}4{% endif %}" class="cell--compact"></td>
              <td class="mtp-all">
                <input type="checkbox" id="select-all-footer" class="Checkbox Checkbox--left js-SelectAll" data-name="{{ form.new.credits.html_name }}">
                <label data-analytics="event,select-all,footer" for="select-all-footer">{% trans "Select all" %}</label>
              </td>
            </tr>
          </tfoot>
        {% else %}
          <tbody>
            <tr>
              <td class="mtp-no-credits" colspan="{% if pre_approval_required%}6{% else %}5{% endif %}">
                <h2 class="heading-large">{% trans 'Thank you' %}</h2>
                <p>{% trans 'All credits have been processed' %}</p>
              </td>
            </tr>
          </tbody>
        {% endif %}
      </table>

    </div>
    {% endif %}

    <div id="incomplete-batch-dialog"
         class="Dialog"
         style="display: none"
         data-hide-close="true"
         data-disable-backdrop-close="true">
      <div class="Dialog-inner">
        <h2 class="heading-large">{% trans 'Do you want to submit only the selected credits?' %}</h2>
        <button type="submit"
                name="submit_new"
                class="button"
                value="override">{% trans 'Yes' %}</button>
        <button type="button"
                class="button button-secondary js-Dialog-close"
                data-analytics="pageview,/batch/-dialog_close/">{% trans 'No, continue processing' %}</button>
      </div>
    </div>
  </form>

  {% include 'cashbook/includes/nomis_print_dialog.html' %}

{% endblock %}
