{% extends 'cashbook/base.html' %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-credits{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h2 class="govuk-heading-xl">
      {% blocktrans trimmed with date=form.batch_date|date:'d/m/Y' count count=form.pagination.count %}
        {{ count }} credit processed on {{ date }}
      {% plural %}
        {{ count }} credits processed on {{ date }}
      {% endblocktrans %}
      <span class="heading-secondary">{% trans 'Total:' %} £{{ total|currency }}</span>
    </h2>
  </header>

  {% include 'mtp_common/includes/message-banners.html' %}

  <form method="get" class="mtp-processed-credits-search" action="">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <div class="mtp-processed-credits-search__date-start">
      {% include 'mtp_common/forms/field.html' with field=form.start value=form.start.value|date:'d/m/Y'|default:form.start.value|default_if_none:'' only %}
    </div>
    <div class="mtp-processed-credits-search__date-end">
      {% include 'mtp_common/forms/field.html' with field=form.end value=form.end.value|date:'d/m/Y'|default:form.end.value|default_if_none:'' only %}
    </div>
    <div class="mtp-processed-credits-search__field">
      {% include 'mtp_common/forms/field.html' with field=form.names value=form.names.value|default_if_none:'' only %}
    </div>
    <div class="mtp-processed-credits-search__field">
      {% include 'mtp_common/forms/field.html' with field=form.prisoner_number value=form.prisoner_number.value|default_if_none:'' only %}
    </div>
    <div class="govuk-form-group">
      {# always forces a search to start on page 1 #}
      <input type="hidden" name="{{ form.page.html_name }}" value="1">
      <input class="govuk-button" type="submit" value="{% trans 'Filter list' %}">
    </div>
  </form>

  <div class="mtp-table__container mtp-batch">
    {% if object_list %}
      <p><a href="#" class="mtp-print-hidden js-print-trigger">{% trans 'Print this page of credits' %}</a></p>

      <table class="mtp-table">
        <caption class="govuk-visually-hidden">{{ view.title }}</caption>
        <thead>
          {% include 'cashbook/includes/credits-header-row.html' with form=form include_status=True pre_approval_required=request.pre_approval_required only %}
        </thead>
        <tbody>
          {% for credit in object_list %}
            {% include 'cashbook/includes/credit-row.html' with credit=credit include_status=True pre_approval_required=request.pre_approval_required only %}
          {% endfor %}
        </tbody>
      </table>

      <p><a href="#" class="mtp-print-hidden js-print-trigger">{% trans 'Print this page of credits' %}</a></p>

    {% else %}
      <p><strong>{% trans 'No credits' %}</strong></p>
    {% endif %}
  </div>

{% endblock %}
