{% extends 'cashbook/base.html' %}
{% load i18n %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-credits{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <p>{% trans 'A list of all processed credits you can filter.' %}</p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        {% trans 'What do I do here?' %}
      </span>
    </summary>
    <div class="govuk-details__text">
      {% trans 'These credits have already been processed in NOMIS and batched accordingly.' %}
      {% trans 'You can filter this list by date range.' %}
      {% trans 'Just enter the date range of the credits you want to find.' %}
    </div>
  </details>

  <h3 class="govuk-heading-m">{% trans 'Filter by' %}</h3>
  <form method="get" class="mtp-processed-credits-search" action="">
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include 'mtp_common/forms/field.html' with field=form.start value=form.start.value|date:'d/m/Y'|default:form.start.value|default_if_none:'' input_classes='govuk-input--width-10' only %}
      </div>
      <div class="govuk-grid-column-one-third">
        {% include 'mtp_common/forms/field.html' with field=form.end value=form.end.value|date:'d/m/Y'|default:form.end.value|default_if_none:'' input_classes='govuk-input--width-10' only %}
      </div>
      <div class="govuk-grid-column-one-third">
        {# always forces a search to start on page 1 #}
        <input type="hidden" name="{{ form.page.html_name }}" value="1">
        <input class="govuk-button" type="submit" value="{% trans 'Filter list' %}">
      </div>
    </div>
  </form>

  <div class="mtp-table__container mtp-batch">
    {% if object_list %}

      <table class="mtp-table">
        <caption class="govuk-visually-hidden">{{ view.title }}</caption>

        <thead>
          <tr>
            <th>{% trans 'Date credited' %}</th>
            <th>{% trans 'Number of credits' %}</th>
            <th class="govuk-table__header--numeric">{% trans 'Total' %}</th>
            <th>{% trans 'Credited by' %}</th>
            {% if request.pre_approval_required %}
              <th>{% trans 'Security notes' %}</th>
            {% endif %}
            <th class="mtp-print-hidden">{% trans 'Options' %}</th>
          </tr>
        </thead>

        <tbody>
          {% for batch in object_list %}
            <tr>
              <td>
                {{ batch.logged_at|date:'d/m/Y' }}
                {% with days=batch.logged_at|dayssince %}
                  <div class="govuk-body-s">
                    {% if days == 0 %}
                      {% trans 'Today' %}
                    {% else %}
                      {% blocktrans trimmed count days=days %}
                        {{ days }} day ago
                      {% plural %}
                        {{ days }} days ago
                      {% endblocktrans %}
                    {% endif %}
                  </div>
                {% endwith %}
              </td>
              <td>
                <a href="{% url 'processed-credits-detail' date=batch.logged_at|date:'Ymd' user_id=batch.owner %}">
                  {% blocktrans trimmed count count=batch.count %}
                    {{ count }} credit
                  {% plural %}
                    {{ count }} credits
                  {% endblocktrans %}
                </a>
              </td>
              <td class="govuk-table__cell--numeric">£{{ batch.total|currency }}</td>
              <td>{{ batch.owner_name }}</td>
              {% if request.pre_approval_required %}
                {% if batch.comment_count %}
                  <td>
                    {% blocktrans trimmed count count=batch.comment_count %}
                      {{ count }} note
                    {% plural %}
                      {{ count }} notes
                    {% endblocktrans %}
                  </td>
                {% else %}
                  <td>{% trans 'No' %}</td>
                {% endif %}
              {% endif %}
              <td class="mtp-print-hidden"><a href="{% url 'processed-credits-detail' date=batch.logged_at|date:'Ymd' user_id=batch.owner %}" class="js-PrintBatch">{% trans 'Print' %}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="mtp-page-list__container">
        {% page_list page=current_page page_count=page_count query_string=form.query_string %}

        <p class="mtp-page-list__count">
          {% blocktrans trimmed count count=object_count with number=object_count|separate_thousands %}
            {{ number }} batch
          {% plural %}
            {{ number }} batches
          {% endblocktrans %}
        </p>
      </div>

    {% else %}

      <p><strong>{% trans 'No credits' %}</strong></p>

    {% endif %}
  </div>

{% endblock %}
