{% extends 'cashbook/base.html' %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  {% if percentage < 100 %}
    <meta http-equiv="refresh" content="5" />
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="mtp-progress-bar">
    <h1 class="govuk-heading-xl">
      {% if percentage < 100 %}
        {% trans 'Digital cashbook is crediting to NOMIS' %}
      {% else %}
        {% trans 'Digital cashbook has finished crediting to NOMIS' %}
      {% endif %}
    </h1>
    <p class="govuk-body-l">
      {% if percentage < 100 %}
        {% trans 'This may take a minute or two so please don’t close this page' %}
      {% else %}
        &nbsp;
      {% endif %}
    </p>
    <div class="mtp-progress-bar__background">
      <div class="mtp-progress-bar__fill" style="width: {{ percentage }}%"></div>
    </div>
    <p class="govuk-body-l">
      {% if percentage == 100 %}
          <a href="{% url 'new-credits' %}" class="govuk-button" data-module="govuk-button" role="button">
            {% trans 'Continue' %}
          </a>
      {% else %}
        {{ percentage }}%
      {% endif %}
    </p>
  </div>
{% endblock %}
