{% extends 'cashbook/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-credits{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% if form.is_valid %}
    <p>{{ form.get_search_description }}</p>
  {% endif %}

  <div class="grid-row print-hidden">
    <div class="column-two-thirds">
      <p>
        <a class="mtp-disclosure" href="#" aria-controls="mtp-search-box" aria-expanded="{% if form.is_valid %}false{% else %}true{% endif %}" role="button" data-analytics="pageview,/-help_open/{{ request.resolver_match.view_name }}/">
          <span></span>{% trans 'Filter these credits' %}
        </a>
      </p>

      <div class="mtp-search-box mtp-disclosure__contents panel panel-border-narrow print-hidden" id="mtp-search-box">
        <form method="get" action="">
          {% include 'mtp_common/forms/error-summary.html' with form=form only %}

          {% include 'mtp_common/forms/field.html' with field=form.start value=form.start.value|date:'d/m/Y'|default:form.start.value|default_if_none:'' only %}
          {% include 'mtp_common/forms/field.html' with field=form.end value=form.end.value|date:'d/m/Y'|default:form.end.value|default_if_none:'' only %}

          <div class="form-group mtp-search-box__submit">
            {# forces a search to start on page 1, copy search terms from header #}
            <input type="hidden" name="{{ form.page.html_name }}" value="1">
            <input type="hidden" name="{{ form.search.html_name }}" value="{{ form.search.value|default_if_none:'' }}">
            <input class="button" type="submit" value="{% trans 'Filter list' %}">
          </div>
        </form>
      </div>
    </div>

    <div class="column-one-third">
      {% if credits_returned %}
        <p style="text-align:right"><a href="#" class="print-hidden js-print-trigger">{% trans 'Print this page of credits' %}</a></p>
      {% endif %}
    </div>
  </div>

  {% if credits_returned %}
    <div class="mtp-batch">
      {% if new_credit_list %}
        <h2 class="govuk-heading-m">{% trans 'New credits' %}</h2>
        <table class="mtp-table">
          <caption class="visually-hidden">{% trans 'New credits' %}</caption>

          <thead>
            {% include 'cashbook/includes/credits-header-row.html' with form=form include_status=False pre_approval_required=request.pre_approval_required only %}
          </thead>

          <tbody>
            {% for credit in new_credit_list %}
              {% include 'cashbook/includes/credit-row.html' with credit=credit include_status=False pre_approval_required=request.pre_approval_required only %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if old_credit_list %}
        <h2 class="govuk-heading-m">{% trans 'Processed credits' %}</h2>
        <table class="mtp-table">
          <caption class="visually-hidden">{% trans 'Processed credits' %}</caption>

          <thead>
            {% include 'cashbook/includes/credits-header-row.html' with form=form include_status=True pre_approval_required=request.pre_approval_required only %}
          </thead>

          <tbody>
            {% for credit in old_credit_list %}
              {% include 'cashbook/includes/credit-row.html' with credit=credit include_status=True pre_approval_required=request.pre_approval_required only %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <div class="mtp-page-list__container">
      {% page_list page=current_page page_count=page_count query_string=form.query_string %}

      <p class="mtp-page-list__count">
        {% blocktrans trimmed count count=object_count with number=object_count|separate_thousands %}
          {{ number }} credit
        {% plural %}
          {{ number }} credits
        {% endblocktrans %}
      </p>
    </div>

  {% endif %}

{% endblock %}
