{% extends "base.html" %}
{% load currency moj_utils i18n %}

{% block content %}
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>{% trans 'Credits in progress' %}</h1>
  </header>

  {% include "includes/message_box.html" %}

  <form method="post" action="" class="locked">
  {% csrf_token %}

  {% if object_list %}

    <p class="locked-help">{% trans 'See the credits your team are working on. Click ‘Release’ to move them into ‘New credits’ to be processed by someone else.' %}</p>

    {% include "cashbook/includes/locked_buttons.html" %}

    {{ form.errors }}

    <div class="batch">
      <table>
        <thead>
          {% include "cashbook/includes/table_actions.html" with location='header' field_name=form.transactions.html_name print=False %}

          <tr>
            <th>{% trans "Staff name" %}</th>
            <th>{% trans "Credits" %}</th>
            <th>{% trans "Amount (£)" %}</th>
            <th>{% trans "Time in progress" %}</th>
            <th>{% trans "Select" %}</th>
          </tr>
        </thead>

        <tbody>
        {% for transaction_locked_ids, transaction_group in object_list %}
          <tr {% if forloop.counter|divisibleby:2 %}{% else %}class="odd"{% endif %}>
            <td title="{{ transaction_group.owner_prison }}">{{ transaction_group.owner_name }}</td>
            <td class="numeric">{{ transaction_group.locked_count }}</td>
            <td class="numeric">{{ transaction_group.locked_amount|currency }}</td>
            <td>{{ transaction_group.locked_at_earliest|timesince }}</td>
            <td class="check">
              <input
                type="checkbox"
                name="{{ form.transactions.html_name }}"
                value="{{ transaction_locked_ids }}"
                id="check-{{ transaction_group.owner }}"
                {% if transaction_locked_ids in form.transactions.value %}checked{% endif %}>
              <label for="check-{{ transaction_group.owner }}">{% trans "Select" %}</label>
            </td>
          </tr>
        {% endfor %}
        </tbody>

        <tfoot>
          {% include "cashbook/includes/table_actions.html" with location='footer' field_name=form.transactions.html_name print=False %}
        </tfoot>
      </table>
    </div>

    {% include "cashbook/includes/locked_buttons.html" %}
  {% else %}
    <p>{% trans "No credits in progress" %}</p>
  {% endif %}
  </form>
{% endblock content %}
