{% extends "base.html" %}
{% load currency core i18n %}

{% block template_type %}v-batch{% endblock %}

{% block content %}
  <form method="post" action="">
  {% csrf_token %}

  <div class="totals js-StickyHeader"  id="tour-step-total">
    <div class="container js-RunningTotal" data-label="{% trans 'Total payments you have credited: ' %}">
      <p>
        {% blocktrans with total=total|currency highlight="<strong>&pound;" highlightend="</strong>" %}
          Control total: {{ highlight }}{{ total }}{{ highlightend }}
        {% endblocktrans %}
      </p>
    </div>
  </div>

  {% include "cashbook/includes/batch_buttons.html" %}

  {% if object_list %}
  {{ form.errors }}

  <div class="batch">
    <table id="tour-step1">
      <thead>
        <tr>
          <th id="tour-step2">{% trans "Prisoner no" %}</th>
          <th id="tour-step3">{% trans "Prisoner name" %}</th>
          <th id="tour-step4">{% trans "Amount" %}</th>
          <th>{% trans "Sender" %}</th>
          <th id="tour-step5">{% trans "Credited?" %}</th>
        </tr>
      </thead>

      <tbody>
      {% for transaction_pk, transaction in object_list %}
        <tr {% if forloop.counter|divisibleby:2 %}{% else %}class="odd"{% endif %}>
          <td>{{ transaction.prisoner_number }}</td>
          <td>??? ???</td>
          <td class="numeric">&pound;{{ transaction.amount|currency }}</td>
          <td>{{ transaction.sender }}</td>
          <td class="check">
            <input
              type="checkbox"
              name="{{ form.transactions.html_name }}"
              value="{{ transaction_pk }}"
              id="check-{{ transaction.id }}"
              {% if transaction_pk|to_string in form.transactions.value %}checked{% endif %}
              class="js-RunningTotal-item"
              data-amount="{{ transaction.amount|currency }}">
            <label for="check-{{ transaction.id }}">{% trans "Credited" %}</label>
          </td>
        </tr>
      {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <th colspan="3" class="print">
            <a href="#print-dialog" class="js-Dialog">{% trans "Print batch" %}</a>
          </th>
          <th colspan="2" class="select-all">
            <input type="checkbox" id="select-all" class="Checkbox--right">
            <label for="select-all">{% trans "Select all" %}</label>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  {% else %}
    <p>{% trans "No transactions found" %}</p>
  {% endif %}

  {% include "cashbook/includes/batch_buttons.html" %}

  <dialog id="print-dialog" class="Dialog">
    <div class="Dialog-inner">
      {% blocktrans %}
      <h3>Before you print</h3>
      <p>Have you tried changing the size of the window so you can see the payments and NOMIS at the same time?</p>
      <p>You could also try using the ALT + TAB keys to switch between the windows.</p>
      {% endblocktrans %}
      <button class="button u-nojs-hidden js-Print">{% trans "Print now" %}</button>

      <p>
        <input type="checkbox" name="remove-print-prompt" id="remove-print-prompt" value="1">
        <label for="remove-print-prompt">{% trans "Don't show this message again" %}</label>
      </p>
    </div>
  </dialog>

{% endblock content %}

{% block include_js %}
  <script>
    var tour = {
      id: 'batch',
      steps: [
        {
          content: '{% blocktrans %}<p>The table shows payments to be credited to NOMIS.</p>{% endblocktrans %}',
          target: 'tour-step1',
          padding: 10,
          placement: 'right',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Start by entering the prisoner number in NOMIS.</p>{% endblocktrans %}',
          target: 'tour-step2',
          padding: 10,
          placement: 'top',
          xOffset: 'center',
          table: 'column',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Check it matches the prisoner name.</p>{% endblocktrans %}',
          target: 'tour-step3',
          padding: 10,
          placement: 'top',
          xOffset: 'center',
          table: 'column',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Add payment amount as usual.</p>{% endblocktrans %}',
          target: 'tour-step4',
          padding: 10,
          placement: 'top',
          xOffset: 'center',
          table: 'column',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Keep track by ticking payments you’ve credited.</p>{% endblocktrans %}',
          target: 'tour-step5',
          padding: 10,
          placement: 'top',
          xOffset: 'center',
          table: 'column',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>A running total of ticked payments will be displayed here.</p>{% endblocktrans %}',
          target: 'tour-step-total',
          padding: 10,
          placement: 'bottom',
          xOffset: 'center',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Click this button when you’ve finished.</p><p>Any unticked payments will be released for other people in your team to work on. They won’t stay ‘checkout out’ to you.</p>{% endblocktrans %}',
          target: 'tour-step6',
          padding: 10,
          placement: 'bottom',
          xOffset: 'center',
          highlight: true
        },
        {
          content: '{% blocktrans %}<p>Click ‘Discard’ to stop crediting payments on this page. This will release them to be credited by other people in your team.</p>{% endblocktrans %}',
          target: 'tour-step7',
          padding: 10,
          placement: 'bottom',
          xOffset: 'center',
          highlight: true
        }
      ]
    };
  </script>

  {{ block.super }}
{% endblock %}
