{% extends "base.html" %}
{% load currency core i18n %}

{% block content %}
  <form method="post" action="">
  {% csrf_token %}
  <div class="totals">
    <p>
      {% blocktrans with total=total|currency highlight="<strong>&pound;" highlightend="</strong>" %}
        Control total: {{ highlight }}{{ total }}{{ highlightend }}
      {% endblocktrans %}
    </p>
  </div>

  {% include "cashbook/includes/batch_buttons.html" %}

  {% if object_list %}
  {{ form.errors }}

  <div class="batch">
    <table id="tour-step1">
      <thead>
        <tr>
          <th id="tour-step2">{% trans "Prisoner no" %}</th>
          <th id="tour-step3">{% trans "Prisoner name" %}</th>
          <th id="tour-step4">{% trans "Amount" %}</th>
          <th>{% trans "Sender" %}</th>
          <th id="tour-step5">{% trans "Credited?" %}</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th colspan="5"></th>
        </tr>
      </tfoot>

      <tbody>
      {% for transaction_pk, transaction in object_list %}
        <tr {% if forloop.counter|divisibleby:2 %}{% else %}class="odd"{% endif %}>
          <td>{{ transaction.prisoner_number }}</td>
          <td>??? ???</td>
          <td class="numeric">&pound;{{ transaction.amount|currency }}</td>
          <td>{{ transaction.sender }}</td>
          <td class="check">
            <input type="checkbox" name="{{ form.transactions.html_name }}" value="{{ transaction_pk }}" id="check-{{ transaction.id }}" {% if transaction_pk|to_string in form.transactions.value %}checked{% endif %}>
            <label for="check-{{ transaction.id }}">{% trans "Credited" %}</label>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p class="select-all"><input type="checkbox" id="select-all" class="Checkbox--right"> <label for="select-all">{% trans "Select all" %}</label></p>
  </div>
  {% else %}
    <p>{% trans "No transactions found" %}</p>
  {% endif %}

  {% include "cashbook/includes/batch_buttons.html" %}

{% endblock content %}
