{% extends 'base.html' %}
{% load i18n %}
{% load training %}

{% block inner_content %}
  <header class="ContentHeader">
    <h1 class="heading-large mtp-heading-training">{{ view.training_title }}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  <ul class="mtp-training-navigation print-hidden">
    {% for page in pages %}
      <li class="mtp-training-navigation__item {% if page.page == view.kwargs.page %}mtp-training-navigation__item--active{% endif %}">
        <a href="{% url view.url_name page=page.page %}">{{ page.title }}</a>
      </li>
    {% endfor %}
    <li class="mtp-training-navigation__item mtp-training-navigation__js-print">
      <a href="#">{% trans 'Print this training guide' %}</a>
    </li>
  </ul>

  {% for page in pages %}
    <div class="mtp-training-content {% if page.page != current_page %}mtp-training-content__print{% endif %}">
      {% get_training_page_template page.page as page_template %}
      {% include page_template %}
    </div>
  {% endfor %}

  <nav class="mtp-pagination print-hidden" role="navigation" aria-label="Pagination">
    <ul class="group">
      {% if prev_page %}
        <li class="previous">
          <a title="{% trans 'Navigate to previous part' %}" rel="prev" href="{% url view.url_name page=prev_page.page %}">
            <span class="mtp-pagination__label">{% trans 'Previous' %}</span>
            <span class="mtp-pagination__part-title">{{ prev_page.title }}</span>
          </a>
        </li>
      {% endif %}

      <li class="next">
        {% if next_page %}
          <a title="{% trans 'Navigate to next part' %}" rel="next" href="{% url view.url_name page=next_page.page %}">
            <span class="mtp-pagination__label">{% trans 'Next' %}</span>
            <span class="mtp-pagination__part-title">{{ next_page.title }}</span>
          </a>
        {% else %}
          <a title="{% trans 'Return to home page' %}" rel="next" href="{% url 'dashboard' %}">
            <span class="mtp-pagination__label">{% trans 'Home' %}</span>
          </a>
        {% endif %}
      </li>
    </ul>
  </nav>

{% endblock %}
