{% load i18n %}
{% load static %}

<h2 class="heading-large heading-training">{% trans 'Credit history' %}</h2>

<section class="training-section">
  <div class="training-section--image">
    <img src="{% static 'images/screenshots/training--history-a.png' %}"
         alt="{% trans 'Credit history screen' %}" />
  </div>
  <div class="training-section--text">
    <p>
      {% trans 'Use the <strong>credit history</strong> page to answer queries.' %}
      {% trans 'You can find all credits processed by the team in this section.' %}
    </p>
    <p>{% trans 'To find a credit, enter as much information as you have – for example, the prisoner name, prisoner number, sender name or amount.' %}</p>
    <p>
      {% trans 'Use the ‘From’ and ‘To’ boxes to filter credits received during a specific time.' %}
      {% trans 'Leave the ‘To’ field blank if you want to  search from a specific date in the past right up to today’s date.' %}
    </p>
    <p>{% trans 'Leave the filters blank to show all credits.' %}</p>
    <p>{% trans 'Then click on ‘Search’.' %}</p>
  </div>
</section>

<section class="training-section">
  <div class="training-section--image">
    <img src="{% static 'images/screenshots/training--history-b.png' %}"
         alt="{% trans 'Credit history screen' %}" />
  </div>
  <div class="training-section--text">
    <p>{% trans 'Credits appear grouped by the date they were received.' %}</p>
    <p>{% trans 'They appear in chronological order with the most recent first.' %}</p>
    <p>{% trans 'For each date, you’ll find credits that have been processed in P-NOMIS in a section called ‘Credited’.' %}</p>
    <p>{% trans 'Credits waiting to be processed appear in the section called ‘Uncredited’.' %}</p>
    <p>
      {% trans 'Unknown sender credits are those where we don’t have complete sender information but we could match them to a prisoner in your prison.' %}
      {% trans 'They can’t be credited to prisoners so the senders will have to reclaim them.' %}
      {% trans 'You’ll see this in this section so you can answer queries from senders and prisoners.' %}
    </p>
    <p>{% trans 'There may be several pages of credits so if you’re printing, make sure you print all the pages you need.' %}</p>
  </div>
</section>
