{% load i18n %}
{% load static %}

<h2 class="heading-large mtp-training-content__print-only">{% trans 'New credits to enter into NOMIS' %}</h2>

<section class="mtp-training-section">
  <div class="mtp-training-section__image">
    <img src="{% static 'images/screenshots/training--new-a.png' %}"
         alt="{% trans 'New credits to enter into NOMIS' %}" />
  </div>
  <div class="mtp-training-section__text">
    <p>{% trans '<strong>New credits to enter into NOMIS</strong> are those you can start working on.' %}</p>
    <p>{% trans 'You’ll see a list of credits you’re responsible for entering into NOMIS.' %}</p>
  </div>
</section>

<section class="mtp-training-section">
  <div class="mtp-training-section__image">
    <img src="{% static 'images/training--new-b.png' %}"
         srcset="{% static 'images/training--new-b@2x.png' %} 2x"
         alt="{% trans 'New credits to enter into NOMIS' %}" />
  </div>
  <div class="mtp-training-section__text">
    <p>{% trans 'Open the ‘Receive trust funds’ form in NOMIS.' %}</p>
    <p>{% trans 'Enter the control total in this form from the digital cashbook.' %}</p>
    <p>{% trans 'Choose ‘Misc Receipt - Private Cash’ as the transaction type.' %}</p>
  </div>
</section>

<section class="mtp-training-section">
  <div class="mtp-training-section__image">
    <img src="{% static 'images/training--new-c.png' %}"
         srcset="{% static 'images/training--new-c@2x.png' %} 2x"
         alt="{% trans 'New credits to enter into NOMIS' %}" />
  </div>
  <div class="mtp-training-section__text">
    <p>{% trans 'Enter or copy and paste the prisoner number from the digital cashbook into the NOMIS form.' %}</p>
    <p>{% trans 'Enter the amount to be credited.' %}</p>
    <p>{% trans 'You don’t need to use a reference number*.' %}</p>
    <p>{% trans 'Continue to process money received through the post in NOMIS as you currently do, using the ‘Money through the post’ transaction type.' %}</p>
    <p>{% trans 'Also use the ‘Money through the post’ procedure if a prisoner has been transferred to another prison or released.' %}</p>
    <p>{% trans 'Check the control total is correct in the NOMIS form and save it.' %}</p>
  </div>
</section>

<section class="mtp-training-section">
  <div class="mtp-training-section__image">
    <img src="{% static 'images/screenshots/training--new-d.png' %}"
         alt="{% trans 'New credits to enter into NOMIS' %}" />
  </div>
  <div class="mtp-training-section__text">
    <p>{% trans 'In the digital cashbook, tick off the credits you’ve entered in NOMIS or ‘All 20’.' %}</p>
    <p>
      {% trans 'Click the green confirm button when you’ve saved the batch of credits in NOMIS.' %}
      {% trans 'This will clear credits from the cashbook and update the ‘All credits’ section.' %}
    </p>
  </div>
</section>

<section class="mtp-training-section">
  <p>
    * {% trans 'There’s no auditing requirement to print out the list of credits from the digital cashbook, but you can choose the ‘Print’ option if it helps you with your work.' %}
  </p>
</section>
