{% load i18n %}
{% load static %}

<h2 class="heading-large mtp-heading-training">{% trans 'Credits currently being entered' %}</h2>

<section class="mtp-training-section">
  <div class="mtp-training-section__image">
    <img src="{% static 'images/screenshots/training--in-progress.png' %}"
         alt="{% trans 'Credits currently being entered' %}" />
  </div>
  <div class="mtp-training-section__text">
    <p>{% trans 'Use this section to see who is currently processing credits in your team.' %}</p>
    <p>
      {% trans 'This can be used if you need to take over another colleague’s work.' %}
      {% trans 'For example, if a colleague needs to leave work unexpectedly.' %}
    </p>
    <p>{% trans 'This is how you can release their credits:' %}</p>
    <ol class="list list-number">
      <li>{% trans 'Find your team member under ‘staff name’ and tick ‘Release’' %}</li>
      <li>{% trans 'Click ‘Done’ to free up those credits' %}</li>
      <li>{% trans 'Make sure none of the credits have been started or saved on NOMIS' %}</li>
    </ol>
  </div>
</section>

{% if ENVIRONMENT != 'prod' %}
  <section class="mtp-training-section">
    {% include 'training/survey-link.html' %}
  </section>
{% endif %}
