{% extends 'govuk-frontend/components/footer.html' %}
{% load i18n %}


{% block footer_top %}
  {% if request.user.is_authenticated %}
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section govuk-grid-column-two-thirds">
        <h2 class="govuk-footer__heading govuk-heading-m">
          {% trans 'Manage prisoner money' %}
        </h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="{% url 'new-credits' %}">
              {% trans 'Digital cashbook' %}
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="{% url 'disbursements:start' %}">
              {% trans 'Digital disbursements' %}
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">
          {% trans 'Other related tools' %}
        </h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="{{ noms_ops_url }}" title="{% trans 'For security staff' %}">
              {% trans 'Prisoner money intelligence' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block footer_support_links %}
  <h2 class="govuk-visually-hidden">
    {% trans 'Support links' %}
  </h2>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      {% if request.user.is_authenticated %}
        {% url 'submit_ticket' as get_help_fallback %}
      {% else %}
        {% url 'faq' as get_help_fallback %}
      {% endif %}
      <a class="govuk-footer__link" href="{{ request.proposition_app.help_url|default:get_help_fallback }}">
        {% trans 'Get help' %}
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      {% trans 'Built by' %}
      <a class="govuk-footer__link" href="https://mojdigital.blog.gov.uk/">
        <abbr title="{% trans 'Ministry of Justice' %}">MOJ</abbr> Digital
      </a>
    </li>
  </ul>
{% endblock %}

{% block footer_licence %}
  <span class="govuk-footer__licence-description">
    <strong class="mtp-footer__official-sensitive">OFFICIAL SENSITIVE</strong>
  </span>
{% endblock %}
