{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% if ref_number %}
      {% blocktrans trimmed %}
        The payment you made - confirmation number {{ ref_number }} - has now been credited to the prisoner’s account.
      {% endblocktrans %}
    {% else %}
      {% trans 'The payment you made has now been credited to the prisoner’s account.' %}
    {% endif %}
  </p>

  <table cellspacing="10" style="font-family: sans-serif;">
    {% if prisoner_name %}
    <tr>
      <th valign="top" align="left" scope="row">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    {% endif %}
    <tr>
      <th valign="top" align="left" scope="row">{% trans 'Amount paid:' %}</th>
      <td>{{ amount|currency }}</td>
    </tr>
    <tr>
      <th valign="top" align="left" scope="row">{% trans 'Date payment made:' %}</th>
      <td>{{ received_at|date:'d/m/Y' }}</td>
    </tr>
  </table>

  <p>
    {% trans 'Thank you for using this service.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> with problems using this service or how to <a href="{{ feedback_url }}">contact us</a>.
    {% endblocktrans %}
  </p>
  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>
{% endblock %}
