.totals {
  margin-top: 3em;
  margin-bottom: 1em;

  p {
    display: inline;
    font-size: 24px;

    &:first-child {
      margin-top: 1em;
      margin-right: .5em;
      font-size: 36px;
    }
  }
}

.batch {
  display: inline-block;
}

.select-all {
  text-align: right;
  font-weight: bold;
}
