.mtp-header-app-links__search {
  width: 18rem;

  .govuk-input, .govuk-button {
    margin: 0;
  }

  .govuk-input {
    position: relative;
    width: 15rem;
    max-width: none;
    height: 2.25rem;
    font-size: 1em;
  }

  .govuk-button {
    width: 2.25rem;
    height: 2.25rem;
    text-indent: -200px;
    font-size: 1px;
    background: govuk-colour('blue') mtp-static-url('images/search-icon.png') no-repeat 50% 50%;
    border-color: $govuk-input-border-colour !important;
    outline: none !important;
    box-shadow: none !important;
    overflow: hidden;

    @include govuk-device-pixel-ratio {
      background-image: mtp-static-url('images/search-icon@2x.png');
      background-size: 18px 18px;
    }

    &:hover {
      background-color: govuk-colour('blue');
    }

    &:active {
      top: 0;
    }

    &:focus {
      background-color: govuk-colour('blue') !important;
      outline: $govuk-focus-width solid $govuk-focus-colour !important;
    }
  }

  @include govuk-media-query($until: desktop) {
    display: block !important;
    margin: $govuk-gutter-half 0;
  }

  @include govuk-media-query($from: desktop) {
    float: right;
    text-align: right;

    .govuk-input {
      right: 3px;
    }

    .govuk-button {
      float: right;
    }
  }
}
