ol.mtp-numbered-steps {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 50px;

  li {
    padding-top: 1px;
    padding-left: 30px;
    margin-bottom: 1em;
  }
}

@for $step from 1 through 4 {
  .mtp-numbered-step-#{$step} {
    background: file-url('icon-steps/icon-step-#{$step}.png') no-repeat scroll 0 0;

    @include device-pixel-ratio {
      background-image: file-url('icon-steps/icon-step-#{$step}-2x.png');
      background-size: 23px 23px;
    }
  }
}
