.mtp-confirm-table {
  width: 100%;
  max-width: 850px;

  tbody.mtp-confirm-table__details {
    border: 3px solid $text-colour;
  }

  & td:last-child {
    padding-right: 1em;
    text-align: right;
  }

  th, td {
    padding-left: 1em;
    vertical-align: top;
    border: 0;
  }

  .mtp-confirm-table__section {
    border-top: 2px solid $border-colour;
  }

  h2 {
    margin: 0;
  }

  tbody.mtp-confirm-table__history {
    background-color: $grey-2;

    & td:last-child {
      text-align: left;
    }
  }
}
