.mtp-confirm-disbursements-list {
  @extend %table-container;

  table {
    width: 100%;

    tr {
      td.mtp-button-column {
        width: 10em;
        text-align: center;
      }
    }
  }
}

.mtp-pending-cannot-confirm-row + tr td {
  border-top: 0;
  padding-top: 0;
}
