.mtp-create-disbursement {
  #id_address_line1 {
    margin-bottom: 0.5em;
  }

  #id_email-hint {
    max-width: 450px;
  }

  #id_remittance_description {
    width: 100%;
  }
}

.mtp-accounts-table {
  th {
    font-weight: bold;
    border: none;
  }

  .mtp-private-row td {
    font-weight: bold;
  }

  .mtp-refresh-row td {
    border: none;
    text-align: right;
  }
}
