.mtp-batch {
  .mtp-dialog-info-table {
    .govuk-heading-m {
      margin-top: 0;
    }

    tbody {
      border-bottom: none;
    }

    th, td {
      padding: 0.35em 1em 0.35em 0;
      border: none;
    }

    th {
      font-weight: bold;
    }
  }

  .mtp-dialog-info-table__close {
    margin-left: 1em;
    vertical-align: -0.3em;
  }
}
