.mtp-create-disbursement {
  #id_address_line1 {
    margin-bottom: 0.5em;
  }

  #id_email-hint {
    max-width: 450px;
  }

  #id_remittance_description {
    width: 100%;
  }

  img {
    max-width: 100%;
  }
}

.mtp-filled-form-sample {
  border: 1px solid $border-colour;
}

.mtp-accounts-table {
  th {
    font-weight: bold;
    border: none;
  }

  .mtp-private-row td {
    font-weight: bold;
  }

  .mtp-refresh-row td {
    border: none;
    text-align: right;
  }
}

.mtp-currency-sign {
  background-color: $highlight-colour;
  border-right: 0;
  font-weight: 900;
  line-height: 1.16;
  min-width: 1.8em;
  text-align: center;
  width: 1.8em;
}

.mtp-charges-amount {
  width: 5em;
}

.mtp-money-box {
  * {
    display: inline-block;
    height: 34px;
    vertical-align: bottom;
  }
}
