.mtp-tab-container__footer {
  margin-top: $gutter;

  button {
    margin-right: 1em;
  }

  .mtp-tab-container--collapsed & {
    margin-top: 0;

    button {
      display: none;
    }
  }

  a {
    display: inline-block;
    margin: .526315em 0 .263157em;

    @include media(mobile) {
      margin: 1em 0 0;
    }
  }
}

.mtp-disbursement-search {
  #id_resolution {
    width: 100%;
  }

  .mtp-batch small.mtp-description {
    div {
      color: $grey-1;
    }
  }

  .mtp-sender {
    width: 10%;
  }

  .mtp-amount {
    width: 30%;
  }

  .mtp-recipient {
    width: 20%;
  }

  .mtp-status {
    width: 5%;
    font-weight: bold;
  }

  .mtp-status--sent, .mtp-status--confirmed {
    color: $button-colour;
  }

  .mtp-history {
    width: 35%;
  }
}
