.govuk-form-group .mtp-button-panel {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.mtp-next-button {
  margin-top: 1em;
  min-width: 150px;
  text-align: center;
}

.mtp-help-screenshot {
  max-width: 100%;
}

#mtp-remittance-sample img {
  max-width: 100%;
}

.mtp-track-invoice-help {
  img {
    max-width: 100%;
  }

  figure {
    page-break-before: always;
    break-before: page;
  }
}
