// Application specific

.mtp-box {
  padding-bottom: $gutter;

  a {
    display: block;
    background: $govuk-blue;
    color: $page-colour;
    text-decoration: none;
    padding: 0.8em;
    height: 6em;
    font-size: 1.2em;

    @include media(mobile) {
      height: 4em;
    }

    &:hover, &:active, &:focus {
      color: $page-colour;
      text-decoration: underline;
    }
  }
}
