{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
      </header>

      <p>
        {% trans 'If there isn’t enough money in the prisoner’s private account, use NOMIS to move money across then ‘Update balances’ before you continue.' %}
      </p>
      <p>
        <a href="{% url 'policy-change' %}">
          {% trans 'An exemption is needed to send more than £50.' %}
        </a>
      </p>

    </div>
  </div>

  <form method="post" class="govuk-!-margin-top-6">
    {% csrf_token %}

    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    <table class="govuk-table mtp-accounts-table">
      <caption class="govuk-visually-hidden">{% trans 'Prisoner’s balances in NOMIS' %}</caption>
      <tbody>
        <tr>
          <th scope="col">{% trans 'Account' %}</th>
          <th class="govuk-table__header--numeric" scope="col">{% trans 'Balance on NOMIS' %}</th>
          <th scope="col">{% trans 'Amount to send' %}</th>
        </tr>

        <tr>
          <td>{% trans 'Private' %}</td>
          <td class="govuk-table__cell--numeric mtp-accounts-table__amount" data-balance="cash">{{ form.nomis_balances.cash|currency|default:_('Unknown') }}</td>
          <td>
            {% include 'mtp_common/forms/amount-field.html' with field=form.amount only %}
          </td>
        </tr>

        <tr>
          <td>{% trans 'Spends' %}</td>
          <td class="govuk-table__cell--numeric mtp-accounts-table__amount" data-balance="spends">{{ form.nomis_balances.spends|currency|default:_('Unknown') }}</td>
          <td>{% trans 'Can’t be used for sending money out' %}</td>
        </tr>

        <tr>
          <td>{% trans 'Saving' %}</td>
          <td class="govuk-table__cell--numeric mtp-accounts-table__amount" data-balance="savings">{{ form.nomis_balances.savings|currency|default:_('Unknown') }}</td>
          <td>{% trans 'Can’t be used for sending money out' %}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td class="govuk-table__cell--numeric"><a href=".">{% trans 'Update balances' %}</a></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <button type="submit" class="govuk-button" data-module="govuk-button">{% trans 'Next' %}</button>
  </form>
{% endblock %}
