{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% if view.title %}{{ view.title }} – {% endif %}{% trans 'Digital disbursements' %}{% endblock %}
{% block proposition %}{% trans 'Digital disbursements' %}{% endblock %}

{% block proposition_extra %}
  {# TODO: block is non-functional #}
  <nav id="mtp-proposition-extra" class="column-full print-hidden">
    {% spaceless %}
      <ul id="mtp-proposition-tabs">
        {% include 'proposition-tab.html' with view_name='disbursements:start' subview_names='disbursements:start disbursements:prisoner disbursements:prisoner_check disbursements:amount disbursements:sending_method disbursements:recipient_contact disbursements:recipient_bank_account disbursements:details_check disbursements:created' link_text=_('Disbursements') %}
        {% include 'proposition-tab.html' with view_name='disbursements:pending_list' subview_names='disbursements:pending_list disbursements:pending_detail disbursements:confirmed disbursements:update_sending_method disbursements:update_prisoner disbursements:update_amount disbursements:update_recipient_contact disbursements:update_recipient_bank_account' link_text=_('Confirm payments') suffix=confirm_tab_suffix %}
        {% include 'proposition-tab.html' with view_name='disbursements:search' subview_names='disbursements:search' link_text=_('Payments made') %}
        {% include 'proposition-tab.html' with view_name='disbursements:paper-forms' subview_names='disbursements:paper-forms' link_text=_('Paper forms') %}
        {% include 'proposition-tab.html' with view_name='disbursements:process-overview' subview_names='disbursements:process-overview disbursements:track-invoice disbursements:submit_ticket disbursements:feedback_success' link_text=_('Get help') %}
      </ul>
    {% endspaceless %}
  </nav>
{% endblock %}

{% block content %}
  {% notification_banners request 'cashbook_disbursements' 'cashbook_all' %}
{% endblock %}
