{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load disbursements %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="govuk-box-highlight">
    <h3 class="heading-small">{% trans 'This request is now available to another member of staff to review and confirm' %}</h3>
  </div>

  <div>
    <h3 class="heading-small">{% trans 'What to do next' %}</h3>
    <p>1. {% trans 'Sign on the bottom of the paper form.' %}</p>
    <p>2. {% trans 'Hand this form to your witnessing officer who will check and confirm payment.' %}</p>
    <p><strong>{% trans 'Remember:' %}</strong>
      {% trans 'Payment is sent after another member of staff has checked and confirmed it.' %}
      {% trans 'No more action from you is necessary.' %}
    </p>
  </div>

  <div class="print-hidden">
    <a href="{% url 'disbursements:clear_session' %}">{% trans 'Process another disbursement' %}</a>
  </div>
{% endblock %}
