{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load disbursements %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="govuk-box-highlight">
    <h3 class="heading-small mtp-confirm-payments-link">
      {% trans 'This request is ready for your colleague to check in' %}<a  href="#"> '{% trans 'Confirm payments' %}'</a>
    </h3>
  </div>

  <div>
    <h3 class="heading-small">{% trans 'What to do next' %}</h3>
    <p>{% trans 'Remind your colleague who has the paper form to check the payment.' %}<br>
    {% trans 'The payment is only sent after they have both checked and confirmed it.' %}</p>
    <p>{% trans 'No more action from you is necessary.' %}</p>
  </div><br><br><br>

  <div class="print-hidden">
    <a href="{% url 'disbursements:clear_session' %}"><button class="mtp-process-another-button">{% trans 'Process another request' %}</button></a>
  </div>
{% endblock %}
