{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load disbursements %}
{% load currency %}
{% load mtp_common %}
{% load credits %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-confirm-disbursements{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-box-highlight">
    <h1 class="bold-medium">
      {% trans 'Payment request sent to SSCL' %}
    </h1>
    {% if nomis_transaction_id %}
      <br/>
      {% blocktrans trimmed %}
        The NOMIS reference is {{ nomis_transaction_id }}
      {% endblocktrans %}
    {% endif %}
  </div>

  <p>
    {% trans 'You don’t need to do anything else.' %}
  </p>

  <h2 class="govuk-heading-m">{% trans 'What happens next' %}</h2>

  <p>
    {% trans 'SSCL will process the payment request the next working day and notify the recipient.' %}
    {% trans 'The payment will arrive in 5-7 working days.' %}
  </p>

  <p>
    <a class="govuk-button govuk-button--secondary" href="{% url 'disbursements:pending_list' %}">{% trans 'Confirm another payment' %}</a>
  </p>

  <p>
    <a class="govuk-button govuk-button--secondary" href="{% url 'disbursements:search' %}">{% trans 'View payments made' %}</a>
  </p>

{% endblock %}
