{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load disbursements %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-box-highlight">
    <h1 class="bold-medium">
      {% url 'disbursements:pending_list' as link %}
      {% blocktrans trimmed %}
        This request is ready for your colleague to check in <a href="{{ link }}">‘Confirm payments’</a>
      {% endblocktrans %}
    </h1>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">{% trans 'What to do next' %}</h2>
      <p>
        {% trans 'Remind your colleague who has the paper form to check the payment.' %}
        {% trans 'The payment is only sent after they have both checked and confirmed it.' %}
      </p>
      <p>
        {% trans 'No more action from you is necessary.' %}
      </p>
      <br>

      <p class="mtp-print-hidden">
        <a href="{% url 'disbursements:sending_method' %}" class="button button-secondary">{% trans 'Process another request' %}</a>
      </p>
    </div>
  </div>
{% endblock %}
