{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}
{% load disbursements %}
{% load currency %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
    <p>
      {% trans 'Check if details below match the details on the paper form filled in by the prisoner.' %}
      <br>
      {% trans 'If they do not match, change details to correctly match the paper form.' %}
    </p>
  </header>

  <table class="mtp-confirm-table">
    <caption class="govuk-visually-hidden">{% trans 'Disbursement details' %}</caption>
    <tbody class="mtp-confirm-table__details">
      <tr class="mtp-confirm-table__section">
        <th rowspan="3"><h2 class="govuk-heading-s">{% trans 'Send' %}</h2></th>
        <th>{% trans 'Send by' %}:</th>
        <td>{{ method|sendingmethod }}</td>
        <td>
          <a href="{% url 'disbursements:sending_method' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Sending method' %}</span>
          </a>
        </td>
      </tr>
      <tr>
        <th>{% trans 'Amount' %}:</th>
        <td>£{{ amount|currency }}</td>
        <td>
          <a href="{% url 'disbursements:amount' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Amount' %}</span>
          </a>
        </td>
      </tr>
      <tr>
        <th>{% trans 'Description' %}:</th>
        <td>
          {% if remittance_description %}
            {{ remittance_description }}
          {% else %}
            <span class="govuk-body-m--secondary">({% trans 'None given' %})</span>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'disbursements:remittance_description' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Description' %}</span>
          </a>
        </td>
      </tr>

      <tr class="mtp-confirm-table__section">
        <th><h2 class="govuk-heading-s">{% trans 'To' %}</h2></th>
        <th>
          {% if recipient_type == 'company' %}
            {% trans 'Company' %}:
          {% else %}
            {% trans 'Name' %}:
          {% endif %}
        </th>
        <td>{{ recipient_first_name }} {{ recipient_last_name }} {{ recipient_company_name }}</td>
        <td>
          <a href="{% url 'disbursements:recipient_contact' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Recipient name' %}</span>
          </a>
        </td>
      </tr>
      <tr>
        <td></td>
        <th>{% trans 'Address' %}:</th>
        <td>
          <address>
            {{ address_line1 }}<br>
            {% if address_line2 %}{{ address_line2 }}<br>{% endif %}
            {{ city }}
          </address>
        </td>
        <td>
          <a href="{% url 'disbursements:recipient_address' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Recipient address' %}</span>
          </a>
        </td>
      </tr>
      <tr>
        <td></td>
        <th>{% trans 'Postcode' %}:</th>
        <td>{{ postcode }}</td>
        <td></td>
      </tr>
      {% if recipient_email %}
        <tr>
        <td></td>
          <th>{% trans 'Email' %}:</th>
          <td>{{ recipient_email }}</td>
          <td>
            <a href="{% url 'disbursements:recipient_contact' %}?next={{ view.url }}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Recipient email' %}</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if method == 'bank_transfer' %}
        <tr>
          <td></td>
          <th>{% trans 'Sort code' %}:</th>
          <td>{{ sort_code|format_sortcode }}</td>
          <td>
            <a href="{% url 'disbursements:recipient_bank_account' %}?next={{ view.url }}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Recipient bank account details' %}</span>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <th>{% trans 'Account number' %}:</th>
          <td>{{ account_number }}</td>
          <td></td>
        </tr>
        {% if roll_number %}
          <tr>
            <td></td>
            <th>{% trans 'Roll number' %}:</th>
            <td>{{ roll_number }}</td>
            <td></td>
          </tr>
        {% endif %}
      {% endif %}

      <tr class="mtp-confirm-table__section">
        <th rowspan="2"><h2 class="govuk-heading-s">{% trans 'From' %}</h2></th>
        <th>{% trans 'Name' %}:</th>
        <td>{{ prisoner_name }}</td>
        <td>
          <a href="{% url 'disbursements:prisoner' %}?next={{ view.url }}" class="govuk-!-display-none-print">
            {% trans 'Change' %}
            <span class="govuk-visually-hidden">{% trans 'Prisoner details' %}</span>
          </a>
        </td>
      </tr>
      <tr>
        <th>{% trans 'Prisoner number' %}:</th>
        <td>{{ prisoner_number }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>

  <form method="post">
    {% csrf_token %}

    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    {% with field=form.confirmation choices=form.confirmation.field.choices %}
      <fieldset>
        <legend id="{{ field.id_for_label }}-label">
          <strong>{{ field.label }}</strong>
        </legend>

        <div class="form-group {% if field.errors %}form-group-error{% endif %}">
          <div class="multiple-choice">
            <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes">
            <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
          </div>
          <div class="panel panel-border-narrow mtp-button-panel js-hidden js-choice-yes">
            <p>{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}</p>
            <img class="mtp-filled-form-sample" src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-signed-1.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-signed-1@2x.jpg' %} 2x" alt="{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}" />
          </div>

          <div class="multiple-choice">
            <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-reveal=".js-choice-no">
            <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
          </div>
          <div class="panel panel-border-narrow js-hidden js-choice-no">
            {% blocktrans trimmed with button_name=_('Change')|wrapwithtag:'strong' %}
              Use ‘{{ button_name }}’ buttons above to make sure the details match those on the paper form.
            {% endblocktrans %}
          </div>
        </div>
      </fieldset>
    {% endwith %}

    <div class="js-choice-yes">
      <button type="submit" class="govuk-button mtp-next-button" data-module="govuk-button">{% trans 'Next' %}</button>
    </div>
  </form>
{% endblock %}
