{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% if errors %}
    <div class="error-summary" aria-labelledby="error-summary-heading" tabindex="-1" role="alert">
      <h2 class="govuk-heading-s error-summary-heading" id="error-summary-heading">
        {% trans 'There was a problem' %}
      </h2>
      <ul class="error-summary-list">
        {% for error in errors %}
          <li class="non-field-error">{{ error }}<span class="govuk-visually-hidden">.</span></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>
        {% trans 'Ask a colleague to double-check the online details match those on the paper form.' %}
      </p>
      <p>
        {% trans 'To do this, hand your colleague the paper form.' %}
        {% trans 'Then ask them to go to ‘Confirm payments’ in the digital disbursement tool.' %}
      </p>
      <p>
        {% trans 'Anyone on your team who has an account on ‘Manage prisoner money’ can confirm the payment.' %}
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" data-analytics="pageview,/-help_open/{{ request.resolver_match.view_name }}/">
          <span class="govuk-details__summary-text">
            {% trans 'What if my colleague doesn’t have an account?' %}
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            {% trans 'Ask your business hub manager to set one up.' %}
          </p>
        </div>
      </details>

      <form action="{{ view.get_success_url }}" method="post">
        {% csrf_token %}
        <input type="submit" class="govuk-button mtp-next-button" value="{% trans 'I will hand over the paper form' %}" />
      </form>

    </div>
  </div>
{% endblock %}
