{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% if errors %}
    {% random_string as error_summary_id %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title__{{ error_summary_id }}" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title__{{ error_summary_id }}">
        {% trans 'There was a problem' %}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in errors %}
            <li class="mtp-error-summary__non-field-error">
              {{ error }}<span class="govuk-visually-hidden">.</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>
        {% trans 'Ask a colleague to double-check the online details match those on the paper form.' %}
      </p>
      <p>
        {% trans 'To do this, hand your colleague the paper form.' %}
        {% trans 'Then ask them to go to ‘Confirm payments’ in the digital disbursement tool.' %}
      </p>
      <p>
        {% trans 'Anyone on your team who has an account on ‘Manage prisoner money’ can confirm the payment.' %}
      </p>

      {% captureoutput as analytics %}{% stripwhitespace %}
        pageview,/-help_open/{{ request.resolver_match.view_name }}/
      {% endstripwhitespace %}{% endcaptureoutput %}
      {% include 'govuk-frontend/components/details.html' with summary=_('What if my colleague doesn’t have an account?') body=_('Ask your business hub manager to set one up.') analytics=analytics only %}

      <form action="{{ view.get_success_url }}" method="post">
        {% csrf_token %}
        <input type="submit" class="govuk-button mtp-next-button" data-module="govuk-button" data-prevent-double-click="true" value="{% trans 'I will hand over the paper form' %}" />
      </form>

    </div>
  </div>
{% endblock %}
