{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block page_title %}{% trans 'Paper forms' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="grid-row">
    <div class="column-two-thirds">
      <header>
        <h1 class="heading-xlarge">{% trans 'Paper forms' %}</h1>
      </header>

      <p>
        {% trans 'Prisoners can send money out digitally by bank transfer or cheque and (if your prison offers this) by cash or postal order.' %}
      </p>
    </div>
  </div>

  <h2 class="heading-medium">
    {% trans 'Digital disbursement form' %}
  </h2>
  <div class="mtp-paper-form-download grid-row">
    {% trans 'Bank transfer or cheque (PDF)' as link_title %}
    {% static 'disbursements/disbursement-by-bank-transfer-or-cheque-V6.pdf' as pdf_link %}
    <div class="column-one-third">
      <a href="{{ pdf_link }}">
        <img src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-V6.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-V6@2x.jpg' %} 2x" alt="{{ link_title }}" />
      </a>
    </div>
    <div class="column-two-thirds">
      <a href="{{ pdf_link }}">{{ link_title }}</a>
      <p>V6 07/2018</p>
      {% trans 'If the prisoner uses this form:' %}
      <ul class="list list-bullet">
        <li>{% trans 'Process the request online in ‘Send payment’' %}</li>
        <li>{% trans 'Have a colleague confirm the request in ‘Confirm payments’' %}</li>
      </ul>
    </div>
  </div>

  <h2 class="heading-medium">
    {% trans 'Non-digital disbursement forms' %}
  </h2>
  <div class="mtp-paper-form-download grid-row">
    {% trans 'Cash or postal order (PDF)' as link_title %}
    {% static 'disbursements/disbursement-by-cash-or-postal-order-V2.pdf' as pdf_link %}
    <div class="column-one-third">
      <a href="{{ pdf_link }}">
        <img src="{% static 'disbursements/disbursement-by-cash-or-postal-order-V2.jpg' %}" srcset="{% static 'disbursements/disbursement-by-cash-or-postal-order-V2@2x.jpg' %} 2x" alt="{{ link_title }}" />
      </a>
    </div>
    <div class="column-two-thirds">
      <a href="{{ pdf_link }}">{{ link_title }}</a>
      <p>V2 07/2018</p>
    </div>
  </div>

  <div class="mtp-paper-form-download grid-row">
    {% trans 'Cash only (PDF)' as link_title %}
    {% static 'disbursements/disbursement-by-cash-V2.pdf' as pdf_link %}
    <div class="column-one-third">
      <a href="{{ pdf_link }}">
        <img src="{% static 'disbursements/disbursement-by-cash-V2.jpg' %}" srcset="{% static 'disbursements/disbursement-by-cash-V2@2x.jpg' %} 2x" alt="{{ link_title }}" />
      </a>
    </div>
    <div class="column-two-thirds">
      <a href="{{ pdf_link }}">{{ link_title }}</a>
      <p>V2 07/2018</p>
    </div>
  </div>

  <div class="mtp-paper-form-download grid-row">
    {% trans 'Postal order only (PDF)' as link_title %}
    {% static 'disbursements/disbursement-by-postal-order-V2.pdf' as pdf_link %}
    <div class="column-one-third">
      <a href="{{ pdf_link }}">
        <img src="{% static 'disbursements/disbursement-by-postal-order-V2.jpg' %}" srcset="{% static 'disbursements/disbursement-by-postal-order-V2@2x.jpg' %} 2x" alt="{{ link_title }}" />
      </a>
    </div>
    <div class="column-two-thirds">
      <a href="{{ pdf_link }}">{{ link_title }}</a>
      <p>V2 07/2018</p>
    </div>
  </div>

{% endblock %}
