{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block body_classes %}{{ block.super }} mtp-paper-forms{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="mtp-disbursement-form-preview grid-row">
    <div class="column-two-thirds">
      <header>
        <h1 class="heading-xlarge">{% trans 'Disbursement paper forms' %}</h1>
      </header>

      <p>
        {% trans 'Download the “Send money by bank transfer or cheque” form for prisoner to fill in.' %}
        {% trans 'Make sure they have an envelope to put it in.' %}
      </p>

      <p>
        {% url 'disbursements:start' as create_disbursement_url %}
        {% blocktrans trimmed %}
          When the prisoner has filled in the form, enter the request into <a href="{{ create_disbursement_url }}">Send payment</a>.
        {% endblocktrans %}
      </p>

      <p>
        <a href="{% static 'forms/disbursement-by-bank-transfer-or-cheque.pdf' %}" class="button" role="button">
          {% trans 'Download form' %}
        </a>
      </p>
    </div>
    <div class="column-one-third">
      <img src="{% static 'images/disbursement-by-bank-transfer-or-cheque.jpg' %}" alt={% trans '“Send money by bank transfer or cheque” form' %}/>
    </div>
  </div>
{% endblock %}
