{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}
{% load credits %}
{% load disbursements %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  {% if disbursement.resolution == 'rejected' %}
    {% include 'mtp_common/components/notification-banner.html' with banner_level='success' banner_title='success'|notification_level banner_heading=_('This payment request has been cancelled.') only %}
  {% elif disbursement.resolution == 'confirmed' or disbursement.resolution == 'sent' %}
    {% include 'mtp_common/components/notification-banner.html' with banner_level='info' banner_title='info'|notification_level banner_heading=_('This payment request has already been confirmed.') banner_message=_('All confirmed payments can be found in ‘Payments made’.') only %}
  {% else %}
    {% if not editable %}
      {% captureoutput as banner_message %}
        {% trans 'It can no longer be changed or deleted, but you can attempt to confirm it again.' %}
        {% trans 'This will not result in a duplication of the payment.' %}
        {% trans 'If there is a problem, use ‘Get help’ to contact us.' %}
      {% endcaptureoutput %}
      {% include 'mtp_common/components/notification-banner.html' with banner_level='info' banner_title='info'|notification_level banner_heading=_('Someone has already attempted to confirm this payment request.') banner_message=banner_message only %}
    {% endif %}

    {% if prisoner_moved %}
      {% include 'mtp_common/components/notification-banner.html' with banner_level='warning' banner_title='warning'|notification_level banner_heading=_('The prisoner has moved or been released, please check NOMIS.') only %}
    {% elif insufficient_funds %}
      {% captureoutput as banner_message %}
        <a href="{% url 'disbursements:update_amount' pk=disbursement.id %}">{% trans 'View NOMIS balances' %}</a>
      {% endcaptureoutput %}
      {% include 'mtp_common/components/notification-banner.html' with banner_level='warning' banner_title='warning'|notification_level banner_heading=_('There is not enough money in the prisoner’s private account.') banner_message=banner_message only %}
    {% endif %}

    <p>{% trans 'Double-check these payment details match those on the paper form.' %}</p>
  {% endif %}

  <table class="govuk-table mtp-confirm-table">
    <caption class="govuk-visually-hidden">{% trans 'Disbursement details' %}</caption>
    <tbody class="mtp-confirm-table__details">
      <tr class="mtp-confirm-table__section">
        <th rowspan="3" scope="rowgroup"><h2 class="govuk-heading-s">{% trans 'Send' %}</h2></th>
        <th scope="row">{% trans 'Send by' %}:</th>
        <td>{{ disbursement.method|sendingmethod }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_sending_method' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Sending method' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans 'Amount' %}:</th>
        <td>{{ disbursement.amount|currency }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_amount' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Amount' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans 'Description' %}:</th>
        <td>
          {% if disbursement.remittance_description %}
            {{ disbursement.remittance_description }}
          {% else %}
            <span class="govuk-body-m--secondary">({% trans 'None given' %})</span>
          {% endif %}
        </td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_remittance_description' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Description' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>

      <tr class="mtp-confirm-table__section">
        <th scope="rowgroup"><h2 class="govuk-heading-s">{% trans 'To' %}</h2></th>
        <th scope="row">
          {% if disbursement.recipient_is_company %}
            {% trans 'Company' %}:
          {% else %}
            {% trans 'Name' %}:
          {% endif %}
        </th>
        <td>{{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }} {{ disbursement.recipient_company_name }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_recipient_contact' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Recipient contact' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td></td>
        <th scope="row">{% trans 'Address' %}:</th>
        <td>
          <address>
            {{ disbursement.address_line1 }}<br />
            {% if disbursement.address_line2 %}{{ disbursement.address_line2 }}<br />{% endif %}
            {{ disbursement.city }}
          </address>
        </td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_recipient_address' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Recipient address' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td></td>
        <th scope="row">{% trans 'Postcode' %}:</th>
        <td>{{ disbursement.postcode }}</td>
        <td></td>
      </tr>
      {% if disbursement.recipient_email %}
        <tr>
          <td></td>
          <th scope="row">{% trans 'Email' %}:</th>
          <td>{{ disbursement.recipient_email }}</td>
          <td>
            {% if editable %}
              <a href="{% url 'disbursements:update_recipient_contact' pk=disbursement.id %}" class="govuk-!-display-none-print">
                {% trans 'Change' %}
                <span class="govuk-visually-hidden">{% trans 'Recipient email' %}</span>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if disbursement.method == 'bank_transfer' %}
        <tr>
          <td></td>
          <th scope="row">{% trans 'Sort code' %}:</th>
          <td>{{ disbursement.sort_code|format_sortcode }}</td>
          <td>
            {% if editable %}
              <a href="{% url 'disbursements:update_recipient_bank_account' pk=disbursement.id %}" class="govuk-!-display-none-print">
                {% trans 'Change' %}
                <span class="govuk-visually-hidden">{% trans 'Recipient bank account details' %}</span>
              </a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td></td>
          <th scope="row">{% trans 'Account number' %}:</th>
          <td>{{ disbursement.account_number }}</td>
          <td></td>
        </tr>
        {% if disbursement.roll_number %}
          <tr>
            <td></td>
            <th scope="row">{% trans 'Roll number' %}:</th>
            <td>{{ disbursement.roll_number }}</td>
            <td></td>
          </tr>
        {% endif %}
      {% endif %}

      <tr class="mtp-confirm-table__section">
        <th rowspan="2" scope="rowgroup"><h2 class="govuk-heading-s">{% trans 'From' %}</h2></th>
        <th scope="row">{% trans 'Name' %}:</th>
        <td>{{ disbursement.prisoner_name }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_prisoner' pk=disbursement.id %}" class="govuk-!-display-none-print">
              {% trans 'Change' %}
              <span class="govuk-visually-hidden">{% trans 'Prisoner details' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans 'Prisoner number' %}:</th>
        <td>{{ disbursement.prisoner_number }}</td>
        <td></td>
      </tr>
    </tbody>

    <tbody class="mtp-confirm-table__history">
      <tr>
        <th scope="row"><h2 class="govuk-heading-s">{% trans 'History' %}</h2></th>
        <td colspan="2">
          {% for log in disbursement.log_set|parse_date_fields %}
            {{ log.created|date:'d/m/Y H:m' }} – {{ log.action|format_disbursement_action }} {% trans 'by' %} {{ log.user.first_name }} {{ log.user.last_name }}<br />
          {% endfor %}
        </td>
        <td></td>
      </tr>
      {% if self_own %}
        <tr>
          <td colspan="4">
            <strong>
            {% trans 'You can’t confirm this payment because you were the last person to edit it.' %}<br />
            {% trans 'Ask another colleague to check and confirm it.' %}
            {% trans 'Make sure they have the paper form of this request.' %}
            </strong>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <br />
  {% if viable %}
    <form method="post">
      {% csrf_token %}

      {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

      {% with field=form.confirmation choices=form.confirmation.field.choices %}
        <fieldset class="govuk-fieldset">
          <legend id="{{ field.id_for_label }}-label" class="govuk-fieldset__legend govuk-fieldset__legend--m">
            {{ field.label }}
          </legend>

          <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input id="mtp-radio-reveal__{{ choices.0.0 }}" class="govuk-radios__input mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".mtp-radio-reveal__yes">
                <label for="mtp-radio-reveal__{{ choices.0.0 }}" class="govuk-label govuk-radios__label">{{ choices.0.1 }}</label>
              </div>
              <div class="govuk-inset-text mtp-!-display-none-js-enabled-only mtp-radio-reveal__yes">
                <p>{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}</p>
                <img class="mtp-img--bordered" src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-signed-2.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-signed-2@2x.jpg' %} 2x" alt="{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}" />
              </div>

              <div class="govuk-radios__item">
                <input id="mtp-radio-reveal__{{ choices.1.0 }}" class="govuk-radios__input mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-reveal=".mtp-radio-reveal__no">
                <label for="mtp-radio-reveal__{{ choices.1.0 }}" class="govuk-label govuk-radios__label">{{ choices.1.1 }}</label>
              </div>
              <div class="govuk-inset-text mtp-!-display-none-js-enabled-only mtp-radio-reveal__no">
                {% trans 'Use ‘Change’ above to make sure the details match those on the paper form.' %}
                {% trans 'Someone else will need to confirm this payment later.' %}
              </div>
            </div>
          </div>
        </fieldset>
      {% endwith %}

      <div class="mtp-radio-reveal__yes">
        <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">{% trans 'Confirm payment' %}</button>
      </div>
    </form>

  {% endif %}
  {% if editable %}
    <br />
    <p>
      {% blocktrans trimmed with linkstart='<a href="#cancel-disbursement-dialog" class="mtp-dialogue__open-trigger-link">' linkend='</a>' %}
        {{ linkstart }}Cancel this request{{ linkend }} if you no longer need to send it.
      {% endblocktrans %}
    </p>

    {% dialoguebox html_id='cancel-disbursement-dialog' title=_('Are you sure you want to cancel this payment request?') %}
      <form action="{{ view.get_reject_url }}" method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/textarea.html' with field=reject_form.reason only %}

        <div class="govuk-button-group">
          <input type="submit" class="govuk-button" value="{% trans 'Cancel payment' %}" />
          <button type="button" class="govuk-button govuk-button--secondary {{ dialogue_close_class }}">{% trans 'Go back' %}</button>
        </div>
      </form>
    {% enddialoguebox %}
  {% endif %}


{% endblock %}
