{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load disbursements %}
{% load currency %}
{% load mtp_common %}
{% load credits %}
{% load static %}

{% block body_classes %}{{ block.super }} mtp-confirm-disbursements{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  {% if disbursement.resolution == 'rejected' %}
    <div class="mtp-message mtp-message--info">
      {% trans 'This payment request has been cancelled.' %}
      <br/>
      {% trans 'All cancelled payments can be found in ‘Payments made’.' %}
    </div>
    <br/>
  {% elif disbursement.resolution == 'confirmed' or disbursement.resolution == 'sent' %}
    <div class="mtp-message mtp-message--info">
      {% trans 'This payment request has already been confirmed.' %}
      <br/>
      {% trans 'All confirmed payments can be found in ‘Payments made’.' %}
    </div>
    <br/>
  {% else %}
    {% if not editable %}
      <div class="mtp-message mtp-message--info">
        {% trans 'Someone has already attempted to confirm this payment request.' %}
        {% trans 'It can no longer be changed or deleted, but you can attempt to confirm it again.' %}
        {% trans 'This will not result in a duplication of the payment.' %}
        <br/>
        {% trans 'If there is a problem, use ‘Get help’ to contact us.' %}
      </div>
      <br/>
    {% endif %}


    {% if prisoner_moved %}
      <div class="mtp-message mtp-message--warning">
        {% trans 'The prisoner has moved or been released, please check NOMIS.' %}
      </div>
      <br/>
    {% elif insufficient_funds %}
      <div class="mtp-message mtp-message--warning">
        {% trans 'There is not enough money in the prisoner’s private account.' %}
        <br/>
        <a href="{% url 'disbursements:update_amount' pk=disbursement.id %}">{% trans 'View NOMIS balances' %}</a>
      </div>
      <br/>
    {% endif %}

    <p>{% trans 'Double-check these payment details match those on the paper form.' %}</p>
  {% endif %}

  <table class="mtp-confirm-table">
    <caption class="visually-hidden">{% trans 'Disbursement details' %}</caption>
    <tbody class="mtp-confirm-table__details">
      <tr class="mtp-confirm-table__section">
        <th rowspan="3"><h2 class="heading-small">{% trans 'Send' %}</h2></th>
        <th>{% trans 'Send by' %}:</th>
        <td>{{ disbursement.method|sendingmethod }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_sending_method' pk=disbursement.id %}" class="print-hidden">
              {% trans 'Change' %}
              <span class="visually-hidden">{% trans 'Sending method' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>{% trans 'Amount' %}:</th>
        <td>£{{ disbursement.amount|currency }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_amount' pk=disbursement.id %}" class="print-hidden">
              {% trans 'Change' %}
              <span class="visually-hidden">{% trans 'Amount' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>{% trans 'Description' %}:</th>
        <td>
          {% if disbursement.remittance_description %}
            {{ disbursement.remittance_description }}
          {% else %}
            <span class="text-secondary">({% trans 'None given' %})</span>
          {% endif %}
        </td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_remittance_description' pk=disbursement.id %}" class="print-hidden">
              {% trans 'Change' %}
              <span class="visually-hidden">{% trans 'Description' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>

      <tr class="mtp-confirm-table__section">
        <th><h2 class="heading-small">{% trans 'To' %}</h2></th>
        <th>{% trans 'Name' %}:</th>
        <td>{{ disbursement.recipient_first_name}} {{ disbursement.recipient_last_name }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_recipient_contact' pk=disbursement.id %}" class="print-hidden">
              {% trans 'Change' %}
              <span class="visually-hidden">{% trans 'Recipient details' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td></td>
        <th>{% trans 'Address' %}:</th>
        <td>
          <address>
            {{ disbursement.address_line1 }}<br>
            {% if disbursement.address_line2 %}{{ disbursement.address_line2 }}<br>{% endif %}
            {{ disbursement.city }}
          </address>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <th>{% trans 'Postcode' %}:</th>
        <td>{{ disbursement.postcode }}</td>
        <td></td>
      </tr>
      {% if disbursement.recipient_email %}
        <tr>
        <td></td>
          <th>{% trans 'Email' %}:</th>
          <td>{{ disbursement.recipient_email }}</td>
          <td></td>
        </tr>
      {% endif %}
      {% if disbursement.method == 'bank_transfer' %}
        <tr>
          <td></td>
          <th>{% trans 'Sort code' %}:</th>
          <td>{{ disbursement.sort_code|format_sortcode }}</td>
          <td>
            {% if editable %}
              <a href="{% url 'disbursements:update_recipient_bank_account' pk=disbursement.id %}" class="print-hidden">
                {% trans 'Change' %}
                <span class="visually-hidden">{% trans 'Recipient bank account details' %}</span>
              </a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td></td>
          <th>{% trans 'Account number' %}:</th>
          <td>{{ disbursement.account_number }}</td>
          <td></td>
        </tr>
        {% if disbursement.roll_number %}
          <tr>
            <td></td>
            <th>{% trans 'Roll number' %}:</th>
            <td>{{ disbursement.roll_number }}</td>
            <td></td>
          </tr>
        {% endif %}
      {% endif %}

      <tr class="mtp-confirm-table__section">
        <th rowspan="2"><h2 class="heading-small">{% trans 'From' %}</h2></th>
        <th>{% trans 'Name' %}:</th>
        <td>{{ disbursement.prisoner_name }}</td>
        <td>
          {% if editable %}
            <a href="{% url 'disbursements:update_prisoner' pk=disbursement.id %}" class="print-hidden">
              {% trans 'Change' %}
              <span class="visually-hidden">{% trans 'Prisoner details' %}</span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>{% trans 'Prisoner number' %}:</th>
        <td>{{ disbursement.prisoner_number }}</td>
        <td></td>
      </tr>
    </tbody>

    <tbody class="mtp-confirm-table__history">
      <tr>
        <th><h2 class="heading-small">{% trans 'History' %}</h2></th>
        <th colspan="2">
          {% for log in disbursement.log_set|parse_date_fields %}
            {{ log.created|date:'d/m/Y H:m' }} – {{ log.action|format_disbursement_action }} {% trans 'by' %} {{ log.user.first_name }} {{ log.user.last_name }}<br/>
          {% endfor %}
        </th>
        <th></th>
      </tr>
      {% if self_own %}
      <tr>
        <td colspan="4">
          <strong>
          {% trans 'You can’t confirm this payment because you were the last person to edit it.' %}<br/>
          {% trans 'Ask another colleague to check and confirm it.' %}
          {% trans 'Make sure they have the paper form of this request.' %}
          </strong>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  <br/>
  {% if viable %}
    <form method="post">
      {% csrf_token %}

      {% include 'mtp_common/forms/error-summary.html' with form=form only %}

      {% with field=form.confirmation choices=form.confirmation.field.choices %}
        <fieldset>
          <legend id="{{ field.id_for_label }}-label">
            <strong>{{ field.label }}</strong>
          </legend>

          <div class="form-group {% if field.errors %}form-group-error{% endif %}">
            <div class="multiple-choice">
              <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes">
              <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
            </div>
            <div class="panel panel-border-narrow mtp-button-panel js-hidden js-choice-yes">
              <p>{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}</p>
              <img class="mtp-filled-form-sample" src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-V1-signed-2.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-V1-signed-2@2x.jpg' %} 2x" alt="{% trans 'Sign the bottom of the paper form under ‘Staff’.' %}" />
            </div>

            <div class="multiple-choice">
              <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-reveal=".js-choice-no">
              <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
            </div>
            <div class="panel panel-border-narrow js-hidden js-choice-no">
              {% trans 'Use ‘Change’ above to make sure the details match those on the paper form.' %}
              {% trans 'Someone else will need to confirm this payment later.' %}
            </div>
          </div>
        </fieldset>
      {% endwith %}

      <div class="js-choice-yes">
        <button type="submit" class="button mtp-next-button">{% trans 'Confirm payment' %}</button>
      </div>
    </form>

  {% endif %}
  {% if editable %}
    <br/>
    <p>
      {% blocktrans trimmed with linkstart='<a href="#cancel-disbursement-dialog" class="js-dialogue-open">' linkend='</a>' %}
        {{ linkstart }}Cancel this request{{ linkend }} if you no longer need to send it.
      {% endblocktrans %}
      <br/>
      {% trans 'Cancelled requests are in ‘Payments made’.' %}
    </p>

    {% dialoguebox html_id='cancel-disbursement-dialog' title=_('Are you sure you want to cancel this payment request?') %}
      <form action="{{ view.get_reject_url }}" method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/textarea.html' with field=reject_form.reason input_classes='form-control-3-4' only %}

        <input type="submit" class="button" value="{% trans 'Cancel payment' %}" />
        <button type="button" class="button button-secondary {{ dialogue_close_class }}">{% trans 'Go back' %}</button>
      </form>
    {% enddialoguebox %}
  {% endif %}


{% endblock %}
