{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {% blocktrans trimmed with prisoner_number=prisoner_number|wrapwithtag:'strong' %}
          On NOMIS, prisoner number {{ prisoner_number }} refers to:
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Name' %}: <strong>{{ prisoner_name }}</strong>
      </p>

      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% with field=form.confirmation choices=form.confirmation.field.choices %}
          <fieldset>
            <legend id="{{ field.id_for_label }}-label">
              <strong>{{ field.label }}</strong>
            </legend>

            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              <div class="multiple-choice">
                <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes">
                <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
              </div>

              <div class="multiple-choice">
                <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ form.confirmation.html_name }}" value="{{ choices.1.0 }}" data-reveal=".js-choice-no">
                <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
              </div>
              <div class="panel panel-border-narrow mtp-button-panel js-hidden js-choice-no">
                <p>
                  {% trans 'Check with the prisoner they have entered their correct details on the paper form, then process it as a new request.' %}
                </p>
              </div>
            </div>
          </fieldset>
        {% endwith %}

        <div class="js-choice-yes">
          <button type="submit" class="button mtp-next-button">{% trans 'Next' %}</button>
        </div>
        <div class="hidden js-choice-no">
          <a href="{{ view.alternate_success_url }}" class="button button-secondary">{% trans 'Process another request' %}</a>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
