{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Confirm prisoner details' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {% trans 'Confirm prisoner details' %}
    </h1>
  </header>

  <p>
    {% blocktrans trimmed with prisoner_number=prisoner_number|wrapwithtag:'strong' %}
      On NOMIS, prisoner number {{ prisoner_number }} refers to:
    {% endblocktrans %}
  </p>
  <p>
    {% trans 'Name' %}: <strong>{{ prisoner_name }}</strong>
  </p>

  <p>
    {% trans 'Does the name above match that on the paper form?' %}
  </p>

  <div>
    <a id="id_next_btn" class="button mtp-next-button" href="{{ view.get_success_url }}">{% trans 'Next' %}</a>
  </div>

{% endblock %}
