{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  <div class='mtp-back-link'>
    <a href="{{ view.get_previous_url }}">{% trans 'Back' %}</a>
  </div>

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {%trans 'Send money on this prisoner’s behalf' %}
    </h1>
  </header>

  <form action="." method="post" id="prisoner">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% include 'mtp_common/forms/field.html' with field=form.prisoner_number value=form.prisoner_number.value|default_if_none:'' only %}

    <button type="submit" class="button mtp-next-button" name="create-disbursement">{% trans 'Next' %}</button>
  </form>
{% endblock %}
