{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Confirm prisoner details' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {% trans 'Confirm prisoner details' %}
    </h1>
  </header>

  <div class="mtp-confirm">
    <table>
      <tr>
        <th><h2 class="heading-large">{% trans 'Prisoner details' %}</h2></th>
        <td>
          <div>
            <a href="{% url 'disbursements:prisoner' %}">{% trans 'Change' %} <span class="visually-hidden">{% trans 'Name, date of birth or prisoner number' %}</span></a>
          </div>
        </td>
      </tr>
      <tr>
        <th>{% trans 'Name' %}:</th>
        <td>{{ prisoner_name }}</td>
      </tr>
      <tr>
        <th>{% trans 'Date of birth' %}:</th>
        <td>{{ prisoner_dob }}</td>
      </tr>
      <tr>
        <th>{% trans 'Prisoner number' %}:</th>
        <td>{{ prisoner_number }}</td>
      </tr>
    </table>

    <div>
      <a id="id_next_btn" class="button mtp-next-button" href="{{ view.get_success_url }}">{% trans 'Confirm' %}</a>
    </div>
  </div>
{% endblock %}
