{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% block auth_title %}{% trans 'Online disbursements tool' %}{% endblock %}
      </span>
      {%trans 'Send money on this prisoner’s behalf' %}
    </h1>
  </header>

  <form action="." method="post" id="prisoner">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% include 'mtp_common/forms/field.html' with field=form.prisoner_number input_classes='mtp-prisoner-number' value=form.prisoner_number.value only %}

    <button type="submit" class="button mtp-next-button" name="create-disbursement">{% trans 'Check prisoner details' %}</button>
  </form>
{% endblock %}
