{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {% blocktrans trimmed with prisoner_number=prisoner_number|wrapwithtag:'strong' %}
          On NOMIS, prisoner number {{ prisoner_number }} refers to:
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Name' %}: <strong>{{ prisoner_name }}</strong>
      </p>

      <p>
        {% trans 'Does the name above match that on the paper form?' %}
      </p>

      <div class="form-group">
        <div class="multiple-choice">
          {% random_string as choice_id %}
          <input id="js-choice-{{ choice_id }}" class="mtp-radio-reveal" type="radio" name="form-check" value="{% trans 'Yes' %}" data-reveal=".js-choice-yes">
          <label for="js-choice-{{ choice_id }}">{% trans 'Yes' %}</label>
        </div>
        <div class="panel panel-border-narrow mtp-button-panel js-hidden js-choice-yes">
          <a class="button mtp-next-button" href="{{ view.get_success_url }}">{% trans 'Next' %}</a>
        </div>

        <div class="multiple-choice">
          {% random_string as choice_id %}
          <input id="js-choice-{{ choice_id }}" class="mtp-radio-reveal" type="radio" name="form-check" value="{% trans 'No' %}" data-reveal=".js-choice-no">
          <label for="js-choice-{{ choice_id }}">{% trans 'No' %}</label>
        </div>
        <div class="panel panel-border-narrow js-hidden js-choice-no">
          <p>
            {% trans 'Check with the prisoner they have entered their correct details on the paper form, then process it as a new request.' %}
          </p>
          <a href="{% url 'disbursements:clear_disbursement' %}" class="button button-secondary">{% trans 'Process another request' %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
