{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% block auth_title %}{% trans 'Process a cash disbursement' %}{% endblock %}
      </span>
      {%trans 'The prisoner number of the person sending money' %}
    </h1>
  </header>

  <form action="." method="post" id="prisoner">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% with field=form.prisoner_number value=form.prisoner_number.value %}
      <div id="{{ field.id_for_label }}-wrapper" class="form-group {% if field.errors %}form-group-error{% endif %}">
        {% include 'mtp_common/forms/field-label.html' with field=field only %}

        <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} mtp-prisoner-number" name="{{ field.html_name }}" value="{{ value|default:field.value|default_if_none:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
    </div>
    {% endwith %}

    <button type="submit" class="button mtp-next-button" name="create-disbursement">{% trans 'Check prisoner details' %}</button>
  </form>
{% endblock %}
