{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Confirm prisoner details' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {% trans 'Confirm prisoner details' %}
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {% blocktrans trimmed with prisoner_number=prisoner_number|wrapwithtag:'strong' %}
          On NOMIS, prisoner number {{ prisoner_number }} refers to:
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Name' %}: <strong>{{ prisoner_name }}</strong>
      </p>

      <p>
        {% trans 'Does the name above match that on the paper form?' %}
      </p>

      <div class="form-group">
        <div class="multiple-choice">
          {% random_string as choice_id %}
          <input id="mtp-choice-{{ choice_id }}" type="radio" name="mtp-choice" value="{% trans 'Yes' %}" data-reveal=".js-choice-yes">
          <label for="mtp-choice-{{ choice_id }}">{% trans 'Yes' %}</label>
        </div>

        <div class="multiple-choice">
          {% random_string as choice_id %}
          <input id="mtp-choice-{{ choice_id }}" type="radio" name="mtp-choice" value="{% trans 'No' %}" data-reveal=".js-choice-no">
          <label for="mtp-choice-{{ choice_id }}">{% trans 'No' %}</label>
        </div>
        <div class="panel panel-border-narrow hidden js-choice-no">
          {% trans 'Check with the prisoner they have entered their correct details on the paper form, then process it as a new request.' %}
        </div>
      </div>
    </div>
  </div>

  <a class="button mtp-next-button js-hidden js-choice-yes" href="{{ view.get_success_url }}">{% trans 'Next' %}</a>
  <br/>
  <a href="{% url 'disbursements:clear_session' %}" class="button button-secondary hidden js-choice-no">{% trans 'Process another request' %}</a>

{% endblock %}
