{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        {% blocktrans trimmed with prisoner_number=prisoner_number|wrapwithtag:'strong' %}
          On NOMIS, prisoner number {{ prisoner_number }} refers to:
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Name' %}: <strong>{{ prisoner_name }}</strong>
      </p>

      <form method="post">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        {% with field=form.confirmation choices=form.confirmation.field.choices %}
          <fieldset class="govuk-fieldset">
            <legend id="{{ field.id_for_label }}-label" class="govuk-fieldset__legend govuk-fieldset__legend--m">
              {{ field.label }}
            </legend>

            <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
              <div class="multiple-choice">
                <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes">
                <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
              </div>

              <div class="multiple-choice">
                <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-reveal=".js-choice-no">
                <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
              </div>
              <div class="govuk-inset-text mtp-button-panel js-hidden js-choice-no">
                <p>
                  {% trans 'Check with the prisoner they have entered their correct details on the paper form, then process it as a new request.' %}
                </p>
              </div>
            </div>
          </fieldset>
        {% endwith %}

        <div class="js-choice-yes">
          <button type="submit" class="govuk-button mtp-next-button" data-module="govuk-button">{% trans 'Next' %}</button>
        </div>
        <div class="hidden js-choice-no">
          <a href="{{ view.alternate_success_url }}" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button">{% trans 'Process another request' %}</a>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
