{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block page_title %}{% trans 'How it works' %} – {{ block.super }}{% endblock %}

{% block sub_nav %}
  {% include 'disbursements/get-help-tabs.html' with page=2 only %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header>
        <h1 class="govuk-heading-xl">
          {% trans 'How to use the new digital disbursement service' %}
        </h1>
      </header>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third mtp-print-hidden">

      <div class="mtp-page-contents__shim"></div>
      <nav class="mtp-page-contents">
        <h2 class="mtp-page-contents__title">{% trans 'Page contents:' %}</h2>
        <ul class="mtp-page-contents__list">
          <li>
            <a href="#section-fill-form">
              1. {% trans 'Prisoner fills in the paper form and has their identity confirmed' %}
            </a>
          </li>
          <li>
            <a href="#section-enter">
              2. {% trans 'Hub staff #1 enters paper form details into the new disbursement tool' %}
            </a>
          </li>
          <li>
            <a href="#section-confirm">
              3. {% trans 'Hub staff #2 double-checks and confirms the details on the paper form and the details in the digital tool are the same' %}
            </a>
          </li>
          <li>
            <a href="#section-sent">
              4. {% trans 'Payment request is automatically deducted from NOMIS then goes to SSCL which sends out payment and remittance advice' %}
            </a>
          </li>
          <li>
            <a href="#section-more-info">
              {% trans 'Further information' %}
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p>
        {% trans 'When a prisoner wants to send money out of prison (for example, to relatives or charities), use this new disbursement service to digitally process the payment request.' %}
        {% trans 'You can only use this service to process bank transfers and cheques.' %}
        {% trans 'It works alongside the existing service of sending money out by post.' %}
        {% trans 'This service is free – there are no postage or processing fees.' %}
      </p>
      <p>
        {% trans 'To start using this service, go to ‘manage prisoner money’, use your digital cashbook login and click on ‘digital disbursements’.' %}
      </p>

      <h1 class="govuk-heading-l">
        {% trans 'How it works' %}
      </h1>

      <h2 id="section-fill-form" class="govuk-heading-m">
        1. {% trans 'Prisoner fills in the paper form and has their identity confirmed' %}
      </h2>
      <p>
        {% url 'disbursements:paper-forms' as link %}
        {% blocktrans trimmed %}
          The wing officer gives the correct <a href="{{ link }}">disbursement form</a> to the prisoner to fill in.
        {% endblocktrans %}
        {% trans 'Prisoner fills in the form and the wing officer signs it to confirm the prisoner’s identity.' %}
        {% trans 'It can be put into an envelope to make it secure.' %}
      </p>
      <p>
        {% trans 'Using the digital disbursement service in prisons with kiosks works slightly differently to those without.' %}
      </p>
      <p>
        <a href="{% url 'disbursements:kiosk-instructions' %}">{% trans 'How to set up the new ‘digital disbursement survey’ on kiosks' %}</a>
      </p>

      <h3 class="govuk-heading-s">
        {% trans 'Follow normal security procedures' %}
      </h3>
      <p>
        {% trans 'When a prisoner submits a disbursement, please follow your prison’s normal security procedures.' %}
      </p>
      <p>
        {% trans 'Prisoner identity must be verified in person and hub staff must confirm the authorised signature on the paper form, just as before.' %}
        {% trans 'If forms need to be checked by security staff, before or after going to the business hub, this process should stay the same.' %}
      </p>

      <h3 class="govuk-heading-s">
        {% trans 'Paper forms' %}
      </h3>
      <p>
        {% url 'disbursements:paper-forms' as link %}
        {% blocktrans trimmed %}
          All <a href="{{ link }}">paper forms</a> have been updated.
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Print out and use whichever of the four forms suit your prison procedures' %}:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% trans 'digital disbursements (bank transfer and cheques)' %}
        </li>
        <li>
          {% trans 'postal orders and cash' %}
        </li>
        <li>
          {% trans 'postal orders only' %}
        </li>
        <li>
          {% trans 'cash only' %}
        </li>
      </ul>

      <h2 id="section-enter" class="govuk-heading-m">
        2. {% trans 'Hub staff #1 enters paper form details into the new disbursement tool' %}
      </h2>
      <p>
        {% url 'disbursements:start' as link %}
        {% blocktrans trimmed %}
          A business hub staff member enters the details from the paper form into the <a href="{{ link }}">Enter a payment request</a> section of this tool.
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'This tool is connected to NOMIS so it shows a prisoner’s up-to-date account information.' %}
        {% trans 'Money will come out of the prisoner’s private cash account.' %}
        {% trans 'But, as before, money can be manually moved in NOMIS by hub staff, to a private account from spends or savings, then sent out.' %}
      </p>

      <h2 id="section-confirm" class="govuk-heading-m">
        3. {% trans 'Hub staff #2 double-checks and confirms the details on the paper form and the details in the digital tool are the same' %}
      </h2>
      <p>
        {% trans 'When the payment request has been entered into the disbursement tool, the paper form must be handed over to a colleague who has access to the tool.' %}
      </p>
      <p>
        {% trans 'They need to log in to the tool to double-check the details entered into the tool match the paper form details.' %}
        ({% trans 'Login details for the digital cashbook and the disbursement tool are the same.' %}
        {% trans 'Ask your business hub manager if you have access problems.' %})
      </p>
      <p>
        {% url 'disbursements:pending_list' as link %}
        {% blocktrans trimmed %}
          Then, if the details match, click on <a href="{{ link }}">Confirm payment</a> and sign the paper form.
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'The confirmed request automatically goes to SSCL for processing.' %}
      </p>

      <h3 class="govuk-heading-s">
        {% trans 'Who can’t confirm payment' %}
      </h3>
      <p>
        {% trans 'A payment can’t be confirmed by the person who' %}:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% trans '‘entered’ the payment request' %} –
          {% trans 'the process needs a different member of staff to check the details' %}
        </li>
        <li>
          {% trans 'is last to make a ‘change’ or ‘edit’ to the request' %}
        </li>
      </ul>

      <h2 id="section-sent" class="govuk-heading-m">
        4. {% trans 'Payment request is automatically deducted from NOMIS then goes to SSCL which sends out payment and remittance advice' %}
      </h2>
      <p>
        {% trans 'SSCL sends the payment to the recipient by bank transfer or cheque, as requested by the prisoner.' %}
        {% blocktrans trimmed with letter=_('remittance advice')|wrapwithtag:'strong' %}
          It also sends out {{ letter }} which is a note sent to the recipient by post or email (both free).
        {% endblocktrans %}
        {% trans 'It names the prisoner who sent the money and how much they sent.' %}
        {% trans 'There’s a ‘recipient email’ box on the form for the prisoner to fill in.' %}
      </p>
      <details class="govuk-details" data-module="govuk-details" data-analytics="pageview,/-help_open/remittance-sample/">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {% trans 'Sample remittance advice' %}
          </span>
        </summary>
        <div class="govuk-details__text">
          <img src="{% static 'disbursements/remittance-sample.jpg' %}" alt="{% trans 'Sample remittance advice' %}" />
        </div>
      </details>
      <p>
        {% trans 'In 5-7 working days, either the payment is put directly into the recipient’s account by bank transfer or a cheque is received.' %}
        {% trans 'There’s no postage or processing charge to the prison, the prisoner or the recipient.' %}
      </p>

      <h2 id="section-more-info" class="govuk-heading-m">
        {% trans 'Further information' %}
      </h2>
      <p>
        <a href="{% url 'disbursements:track-invoice' %}">{% trans 'How to find things on SOP' %}</a>
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'No more cheques to send out' %}
      </h3>
      <p>
        {% trans 'The business hub no longer needs to send out cheques.' %}
        {% trans 'When you’ve digitally processed a cheque payment using the disbursement tool, SSCL will write and post out the cheques.' %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'Notify the prisoner' %}
      </h3>
      <p>
        {% trans 'Once the payment request is in progress, the prisoner money team will email a notification to the prison staff so they can notify the prisoner.' %}
        {% url 'disbursements:submit_ticket' as link %}
        {% blocktrans trimmed %}
          <a href="{{ link }}">Contact us</a> if you don’t already get these notifications.
        {% endblocktrans %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'Use cash and postal orders' %}
      </h3>
      <p>
        {% trans 'You don’t have to use cash or postal orders if you don’t want to or don’t already offer these methods.' %}
        {% trans 'If you do offer them, the process is the same as before.' %}
        {% trans 'In the disbursement tool, you can only digitally process bank transfers and cheque payments.' %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'Track payment progress' %}
      </h3>
      <p>
        {% trans 'To track payment progress you’ll need the invoice number from the digital disbursement tool.' %}
        {% trans 'You’ll find this in the ‘payments made’ section.' %}
      </p>
      <p>
        {% url 'disbursements:track-invoice' as link %}
        {% blocktrans trimmed %}
          Once you have the invoice number, enter it into <a href="{{ link }}">SOP (into ‘accounts payable’)</a> to see when the bank transfer has been made or the cheque sent out.
        {% endblocktrans %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'If the prisoner gets the recipient’s bank details wrong' %}
      </h3>
      <p>
        {% trans 'If the sort code is wrong, SSCL will cancel the bank transfer and email the prison in about 2 days.' %}
      </p>
      <p>
        {% trans 'If the bank transfer gets rejected by the bank, then SSCL cancels it and emails the prison.' %}
        {% trans 'This takes about 10 days.' %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'How to cancel a cheque or see if it’s been cashed' %}
      </h3>
      <p>
        {% blocktrans trimmed with group_name='‘SOP P2P Accounts Payable’' type_name='‘MoJ payments - non staff’' %}
          To do both of these, you need to raise a Service Request (SR) to the group {{ group_name }} with type {{ type_name }}.
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'To cancel a cheque, tell SSCL immediately then raise the SR within 24 hours of the disbursement being sent.' %}
        {% trans 'SSCL has 5 working days to look into this, but they can’t guarantee a cancellation.' %}
      </p>
      <p>
        {% trans 'Once the bank is notified, it takes up to 2 days for them to cancel a cheque up to which time the cheque can still be cashed.' %}
        {% trans 'You need to credit the prisoner manually in NOMIS to return their money.' %}
      </p>
      <p>
        {% trans 'To see if a cheque has been cashed, raise the SR then ask SSCL if they can check with the bank.' %}
      </p>
      <h3 class="govuk-heading-s">
        {% trans 'Make security staff aware' %}
      </h3>
      <p>
        {% trans 'Money sent out using this digital service is shown alongside money coming into the Prisoner Money Intelligence tool so please tell security staff.' %}
      </p>
      <p>
        {% trans 'However, the intelligence tool won’t show postal orders, cash or cheques using the previous postal method.' %}
      </p>

    </div>
  </div>

{% endblock %}
