{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% with field=form.recipient_type choices=form.recipient_type.field.choices %}
          <fieldset>
            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              <div class="multiple-choice">
                <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-person" {% if field.value != choices.1.0 %}checked{% endif %}>
                <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
              </div>
              <div class="panel panel-border-narrow js-hidden js-choice-person">
                {% include 'mtp_common/forms/field.html' with field=form.recipient_first_name input_classes='form-control-1-2' only %}
                {% include 'mtp_common/forms/field.html' with field=form.recipient_last_name input_classes='form-control-1-2' only %}
              </div>

              <div class="multiple-choice">
                <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-reveal=".js-choice-company" {% if field.value == choices.1.0 %}checked{% endif %}>
                <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
              </div>
              <div class="panel panel-border-narrow js-hidden js-choice-company">
                {% include 'mtp_common/forms/field.html' with field=form.recipient_company_name input_classes='form-control-1-2' only %}
              </div>
            </div>
          </fieldset>
        {% endwith %}

        <fieldset>
          <div class="form-group {% if field.errors %}form-group-error{% endif %}">
            {% include 'mtp_common/forms/field-label.html' with field=form.address_line1 only %}

            {% with field=form.address_line1 %}
              {% include 'mtp_common/forms/field-errors.html' with field=field only %}
              <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} form-control-1-2" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
            {% endwith %}

            {% with field=form.address_line2 %}
              {% include 'mtp_common/forms/field-errors.html' with field=field only %}
              <label for="{{ field.id_for_label }}" class="visually-hidden">{{ field.label }}</label>
              <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} form-control-1-2" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
            {% endwith %}
          </div>
        </fieldset>

        {% include 'mtp_common/forms/field.html' with field=form.city input_classes='form-control-1-2' only %}

        {% include 'mtp_common/forms/field.html' with field=form.postcode input_classes='form-control-1-4' only %}

        {% include 'mtp_common/forms/field.html' with field=form.recipient_email input_classes='form-control-3-4' only %}

        <button type="submit" class="button mtp-next-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
