{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% block auth_title %}{% trans 'Online disbursements tool' %}{% endblock %}
      </span>
      {%trans 'Enter recipient’s bank details' %}
    </h1>
  </header>

  <form action="." method="post" id="prisoner">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% include 'mtp_common/forms/field.html' with field=form.account_number input_classes='mtp-account-number' value=form.account_number.value only %}

    {% include 'mtp_common/forms/field.html' with field=form.sort_code input_classes='mtp-sort-code' value=form.sort_code.value only %}

    <button type="submit" class="button mtp-next-button" name="create-disbursement">{% trans 'Check all details' %}</button>
  </form>
{% endblock %}
