{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% with field=form.recipient_type choices=form.recipient_type.field.choices %}
          <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input id="js-choice-{{ choices.0.0 }}" class="govuk-radios__input" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-aria-controls="js-choice-{{ choices.0.0 }}-conditional" {% if field.value != choices.1.0 %}checked{% endif %}>
                <label for="js-choice-{{ choices.0.0 }}" class="govuk-label govuk-radios__label">{{ choices.0.1 }}</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="js-choice-{{ choices.0.0 }}-conditional">
                {% include 'mtp_common/forms/field.html' with field=form.recipient_first_name input_classes='govuk-input--width-10' only %}
                {% include 'mtp_common/forms/field.html' with field=form.recipient_last_name input_classes='govuk-input--width-10' only %}
              </div>

              <div class="govuk-radios__item">
                <input id="js-choice-{{ choices.1.0 }}" class="govuk-radios__input" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}" data-aria-controls="js-choice-{{ choices.1.0 }}-conditional" {% if field.value == choices.1.0 %}checked{% endif %}>
                <label for="js-choice-{{ choices.1.0 }}" class="govuk-label govuk-radios__label">{{ choices.1.1 }}</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="js-choice-{{ choices.1.0 }}-conditional">
                {% include 'mtp_common/forms/field.html' with field=form.recipient_company_name input_classes='govuk-input--width-10' only %}
              </div>
            </div>
          </div>
        {% endwith %}

        {% include 'mtp_common/forms/field.html' with field=form.recipient_email input_classes='govuk-input--width-10' only %}

        <button type="submit" class="govuk-button mtp-next-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
