{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
        <h2 class="govuk-heading-s">
          {% trans 'Recipient' %}: {{ recipient_first_name }} {{ recipient_last_name }} {{ recipient_company_name }}
        </h2>
      </header>

      <br/>

      <form method="post">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        {% include 'mtp_common/forms/field.html' with field=form.sort_code input_classes='govuk-input--width-10 mtp-sort-code-control' only %}
        {% include 'mtp_common/forms/field.html' with field=form.account_number input_classes='govuk-input--width-20' only %}
        {% include 'mtp_common/forms/field.html' with field=form.roll_number input_classes='govuk-input--width-20' only %}

        {% captureoutput as analytics %}{% stripwhitespace %}
          pageview,/-help_open/{{ request.resolver_match.view_name }}/
        {% endstripwhitespace %}{% endcaptureoutput %}
        {% include 'govuk-frontend/components/details.html' with summary=_('What if the prisoner gets the recipient’s bank details wrong?') body=_('In this case, SSCL will send out a cheque instead but it will delay payment.') analytics=analytics only %}

        <button type="submit" class="govuk-button" data-module="govuk-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
