{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% include 'mtp_common/forms/field.html' with field=form.postcode input_classes='form-control-1-4' only %}

        <button type="submit" class="button mtp-next-button">{% trans 'Find address' %}</button>
      </form>

      <br />
      <a href='{{ view.get_success_url }}'>{% trans 'Enter address manually' %}</a>
    </div>
  </div>
{% endblock %}
