{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
    <h2 class="heading-small">
      {% trans 'Recipient' %}: {{ recipient_first_name }} {{ recipient_last_name }} {{ recipient_company_name }}
    </h2>
  </header>

  <br/>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% include 'mtp_common/forms/field.html' with field=form.sort_code input_classes='form-control-1-4 mtp-sort-code-control' only %}

        {% include 'mtp_common/forms/field.html' with field=form.account_number input_classes='form-control-1-3' only %}

        {% include 'mtp_common/forms/field.html' with field=form.roll_number input_classes='form-control-1-2' only %}

        {% random_string as note_id %}
        <p>
          <a class="mtp-disclosure" href="#" aria-controls="mtp-{{ note_id }}" aria-expanded="false" role="button" data-analytics="pageview,/-help_open/{{ request.resolver_match.view_name }}/">
            <span></span>{% trans 'What if the prisoner gets the recipient’s bank details wrong?' %}
          </a>
        </p>
        <div class="mtp-disclosure__contents panel panel-border-narrow print-hidden" id="mtp-{{ note_id }}">
          {% trans 'In this case, SSCL will send out a cheque instead but it will delay payment.' %}
        </div>

        <button type="submit" class="button mtp-next-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
