{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Recipient details' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  <div class='mtp-back-link'>
    <a href="{{ view.get_previous_url }}">{% trans 'Back' %}</a>
  </div>

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {% trans 'Recipient details' %}
    </h1>
  </header>

  <form action="." method="post" id="recipient-contact">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% include 'mtp_common/forms/field.html' with field=form.recipient_name input_classes='mtp-recipient-name' value=form.recipient_name.value only %}

    <fieldset>
      <div class="form-group {% if field.errors %}form-group-error{% endif %} mtp-address">
        {% include 'mtp_common/forms/field-label.html' with field=form.address_line1 only %}

        {% with field=form.address_line1 %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}
          <div>
            <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} mtp-address-line" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
          </div>
        {% endwith %}

        {% with field=form.address_line2 %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}
          <div>
            <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} mtp-address-line" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
          </div>
        {% endwith %}

        {% with field=form.city %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}
          <div>
            <input id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} mtp-address-city" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" type="{{ field.field.widget.input_type|default:'text' }}" />
          </div>
        {% endwith %}
      </div>
    </fieldset>

    {% include 'mtp_common/forms/field.html' with field=form.postcode input_classes='mtp-postcode' value=form.postcode.value only %}

    {% include 'mtp_common/forms/field.html' with field=form.email input_classes='mtp-email' value=form.email.value only %}

    <button type="submit" class="button mtp-next-button" name="create-disbursement">{% trans 'Next' %}</button>
  </form>
{% endblock %}
