{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
    <h2 class="govuk-heading-s">
      {% trans 'Recipient' %}: {{ recipient_first_name }} {{ recipient_last_name }} {{ recipient_company_name }}
    </h2>
  </header>

  <br/>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% include 'mtp_common/forms/field.html' with field=form.sort_code input_classes='govuk-input--width-10 mtp-sort-code-control' only %}

        {% include 'mtp_common/forms/field.html' with field=form.account_number input_classes='govuk-input--width-10' only %}

        {% include 'mtp_common/forms/field.html' with field=form.roll_number input_classes='govuk-input--width-10' only %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary" data-analytics="pageview,/-help_open/{{ request.resolver_match.view_name }}/">
            <span class="govuk-details__summary-text">
              {% trans 'What if the prisoner gets the recipient’s bank details wrong?' %}
            </span>
          </summary>
          <div class="govuk-details__text">
            {% trans 'In this case, we will notify you by email.' %}
            {% trans 'SSCL will cancel the payment and return the money to your prison, but you will need to refund the prisoner manually in NOMIS.' %}
          </div>
        </details>

        <button type="submit" class="govuk-button mtp-next-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
