{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% include 'mtp_common/forms/field.html' with field=form.postcode input_classes='govuk-input--width-10' only %}

        <button type="submit" class="govuk-button mtp-next-button">{% trans 'Find address' %}</button>
      </form>

      <br />
      <p>
        <a href='{{ view.get_success_url }}'>{% trans 'Enter address manually' %}</a>
      </p>
    </div>
  </div>
{% endblock %}
