{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        {% trans 'A description can be useful to help the recipient know who their payment has come from, especially when the recipient is a business or organisation.' %}
      </p>
      <p>
        {% trans 'The description will appear on the remittance advice - either an email or a letter - sent out by SSCL to the recipient before the payment itself arrives.' %}
      </p>
      <p>
        {% blocktrans trimmed %}
          What will automatically appear is <strong>‘Payment from {{ prisoner_name }}’</strong>.
        {% endblocktrans %}

        {% trans 'You can change - or add to - this description but if you delete the prisoner’s name, it won’t appear on the recipient’s bank statement or anywhere else on the transaction.' %}
      </p>

      <form method="post">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        {% with field=form.remittance choices=form.remittance.field.choices %}
          <fieldset class="govuk-fieldset">
            <legend id="{{ field.id_for_label }}-label" class="govuk-fieldset__legend govuk-fieldset__legend--m">
              {{ field.label }}
            </legend>

            <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
              <div class="multiple-choice">
                <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes" {% if form.remittance.value == 'yes' %}checked{% endif %}>
                <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
              </div>
              <div class="govuk-inset-text mtp-!-display-none-js-enabled-only js-choice-yes">
                {% include 'mtp_common/forms/textarea.html' with field=form.remittance_description character_count=remittance_description_character_count rows=2 only %}
              </div>

              <div class="multiple-choice">
                <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}"
                {% if form.remittance.value == 'no' %}checked{% endif %}>


                <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
              </div>
            </div>
          </fieldset>
        {% endwith %}

        <button type="submit" class="govuk-button" data-module="govuk-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
