{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{{ view.title }}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {% trans 'A description can be useful to help the recipient know who their payment has come from, especially when the recipient is a business or organisation.' %}
      </p>
      <p>
        {% trans 'The description will appear on the remittance advice - either an email or a letter - sent out by SSCL to the recipient before the payment itself arrives' %}
      </p>
      <p>
        {% blocktrans trimmed %}
          What will automatically appears is <strong>‘Payment from {{ prisoner_name }}’</strong>.
          You can change - or add to - this description but if you delete the prisoner's name, it won't appear on the recipient's bank statement or any where else on the transaction.
        {% endblocktrans %}
      </p>

      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        {% with field=form.remittance choices=form.remittance.field.choices %}
          <fieldset>
            <legend id="{{ field.id_for_label }}-label">
              <strong>{{ field.label }}</strong>
            </legend>

            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              <div class="multiple-choice">
                <input id="js-choice-{{ choices.0.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.0.0 }}" data-reveal=".js-choice-yes" {% if form.remittance_description.value %}checked{% endif %}>
                <label for="js-choice-{{ choices.0.0 }}">{{ choices.0.1 }}</label>
              </div>
              <div class="panel panel-border-narrow js-hidden js-choice-yes">
                {% with field=form.remittance_description rows=2 input_classes='js-character-count' attrs=remittance_description_attrs %}
                  <div id="{{ field.id_for_label }}-wrapper" class="form-group {% if field.errors %}form-group-error{% endif %}">
                    <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}-label" class="form-label">
                      {% include 'mtp_common/forms/field-help-text.html' with field=field only %}
                    </label>
                    {% include 'mtp_common/forms/field-errors.html' with field=field only %}
                    <textarea id="{{ field.id_for_label }}" class="form-control {% if field.errors %}form-control-error{% endif %} {{ input_classes }}" name="{{ field.html_name }}" rows="{{ rows|default:4 }}" cols="{{ cols|default:50 }}" {% for attr, attr_val in attrs.items %}{{ attr }}="{{ attr_val }}"{% endfor %}>{{ value|default:field.value|default_if_none:'' }}</textarea>
                  </div>
                {% endwith %}
              </div>

              <div class="multiple-choice">
                <input id="js-choice-{{ choices.1.0 }}" class="mtp-radio-reveal" type="radio" name="{{ field.html_name }}" value="{{ choices.1.0 }}">
                <label for="js-choice-{{ choices.1.0 }}">{{ choices.1.1 }}</label>
              </div>
            </div>
          </fieldset>
        {% endwith %}

        <button type="submit" class="button mtp-next-button">{% trans 'Next' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
