{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load currency %}
{% load credits %}
{% load disbursements %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-disbursement-search{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{% trans 'Payments made' %}</h1>
  </header>

  <p class="govuk-body-l">{{ form.search_description.description }}</p>

  <form method="get" class="mtp-print-hidden">
    <p><a href="{% url 'disbursements:process-overview' %}#section-track">{% trans 'How to trace a payment' %}</a></p>

    {{ form.ordering.as_hidden }}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% tabbedpanel cookie_name='disbursement-search' tab_label=_('Filter by') %}
      {% paneltab name='prisoner' title=_('Prisoner') %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/field.html' with field=form.prisoner_name input_classes='govuk-input--width-20' %}
          </div>
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/field.html' with field=form.prisoner_number input_classes='govuk-input--width-10' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='recipient' title=_('Recipient') %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include 'mtp_common/forms/field.html' with field=form.recipient_name input_classes='govuk-input--width-20' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='invoice_number' title=_('Invoice number') %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include 'mtp_common/forms/field.html' with field=form.invoice_number input_classes='govuk-input--width-20' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='status' title=_('Status') %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/select-field.html' with field=form.resolution %}
          </div>
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/field.html' with field=form.nomis_transaction_id input_classes='govuk-input--width-10' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='date' title=_('Date') %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/radio-field.html' with field=form.date_filter only %}
          </div>
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/date-picker-field.html' with field=form.date__gte %}
          </div>
          <div class="govuk-grid-column-one-third">
            {% include 'mtp_common/forms/date-picker-field.html' with field=form.date__lt %}
          </div>
        </div>
      {% endpaneltab %}

      <p class="mtp-tab-container__footer">
        <button type="submit" class="govuk-button">{% trans 'Filter list' %}</button>
        {% if form.search_description.has_filters %}
          <a href="?{% if form.ordering.value %}ordering={{ form.ordering.value }}{% endif %}" class="mtp-link--form-cancel" role="button">
            {% trans 'Clear filters' %}
          </a>
        {% endif %}
      </p>

    {% endtabbedpanel %}
  </form>

  <br/>

  {% if form.is_valid %}
    <div class="mtp-table__container mtp-batch">
      <table class="mtp-table">
        <caption class="govuk-visually-hidden">{{ form.search_description.description }}</caption>
        <thead>
          <tr>
            {% sortable_cell _('Sender') form.cleaned_data 'prisoner_name' %}
            {% sortable_cell _('Amount') form.cleaned_data 'amount' %}
            {% sortable_cell _('Recipient') form.cleaned_data 'recipient_name' %}
            {% sortable_cell _('Status') form.cleaned_data 'resolution' %}
            {% sortable_cell _('History') form.cleaned_data 'created' %}
          </tr>
        </thead>
        <tbody>
          {% for disbursement in disbursements %}
            <tr>
              <!-- {{ disbursement.id }} -->
              <td class="mtp-sender">
                <span class="govuk-visually-hidden">{% trans 'Prisoner' %}:</span>
                {{ disbursement.prisoner_name }}
                <br/>
                <br/>
                <span class="govuk-visually-hidden">{% trans 'Prisoner number' %}:</span>
                <small>{{ disbursement.prisoner_number }}</small>
              </td>

              <td class="mtp-amount">
                {{ disbursement.amount|currency:'£' }}
                <br/>
                <br/>
                {% if disbursement.method == 'bank_transfer' %}
                  <small>
                    {% blocktrans trimmed with account_number=disbursement.account_number %}
                      Account {{ account_number }}<br/>
                    {% endblocktrans %}
                    {% blocktrans trimmed with sort_code=disbursement.sort_code|format_sortcode %}
                      Sort code {{ sort_code }}
                    {% endblocktrans %}
                  </small>
                  <br/>
                  <br/>
                {% else %}
                  <small>{% trans 'Cheque' %}</small>
                  <br/>
                  <br/>
                {% endif %}
                <small class="mtp-description">
                  <div>{% trans 'Description' %}:</div>
                  {% if disbursement.remittance_description %}
                    {{ disbursement.remittance_description|hide_long_text }}
                  {% else %}
                    <span class="text-secondary">({% trans 'None given' %})</span>
                  {% endif %}
                </small>
              </td>

              <td class="mtp-recipient">
                {{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }}
                <br/>
                <br/>
                <span class="govuk-visually-hidden">{% trans 'Recipient address' %}:</span>
                <address>
                  <small>
                    {{ disbursement.address_line1 }}<br/>
                    {% if disbursement.address_line2 %}{{ disbursement.address_line2 }}<br/>{% endif %}
                      {{ disbursement.city }}<br/>
                      {{ disbursement.postcode }}
                      {% if disbursement.country and disbursement.country != 'UK' %}
                      <br/>
                      <strong>{{ disbursement.country }}</strong>
                    {% endif %}
                  </small>
                </address>
                {% if disbursement.recipient_email %}<br/>
                  <span class="govuk-visually-hidden">{% trans 'Recipient email' %}:</span>
                  <small>{{ disbursement.recipient_email }}</small>
                {% endif %}
              </td>

              <td class="mtp-status mtp-status--{{ disbursement.resolution }}">
                {{ disbursement.resolution|format_disbursement_resolution }}
              </td>

              <td class="mtp-history">
                {% for log_item in disbursement.log_set %}
                  {% if log_item.action == 'created' %}
                    {% trans 'Entered' %} {{ log_item.created|date:'d/m/Y' }}<br />
                    <small>
                      {% blocktrans trimmed with staff_name=log_item.staff_name %}
                        by {{ staff_name }}
                      {% endblocktrans %}
                    </small>

                  {% elif log_item.action == 'edited' %}
                    {% trans 'Edited' %} {{ log_item.created|date:'d/m/Y' }}<br />
                    <small>
                      {% blocktrans trimmed with staff_name=log_item.staff_name %}
                        by {{ staff_name }}
                      {% endblocktrans %}
                    </small>

                  {% elif log_item.action == 'confirmed' %}
                    {% trans 'Confirmed' %} {{ log_item.created|date:'d/m/Y' }}<br />
                    <small>
                      {% blocktrans trimmed with staff_name=log_item.staff_name %}
                        by {{ staff_name }}
                      {% endblocktrans %}
                    </small>
                    <br/>
                    <small>
                      {% trans 'NOMIS ref' %}:
                      {{ disbursement.nomis_transaction_id|default:'—' }}
                    </small>

                  {% elif log_item.action == 'sent' %}
                    {% trans 'Sent to SSCL' %} {{ log_item.created|date:'d/m/Y' }}<br/>
                    <small>
                      {% trans 'Invoice' %}: {{ disbursement.invoice_number }}
                    </small>

                  {% endif %}
                  {% if not forloop.last %}
                    <br/>
                    <br />
                  {% endif %}
                {% endfor %}
              </td>
            </tr>

          {% empty %}

            <tr>
              <td class="mtp-no-credits" colspan="6">
                {% trans 'No disbursements found' %}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="mtp-page-list__container">
      {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}

      <p class="mtp-page-list__count">
        {% blocktrans trimmed count count=form.total_count with number=form.total_count|separate_thousands %}
          {{ number }} disbursement
        {% plural %}
          {{ number }} disbursements
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}

{% endblock %}
