{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load currency %}
{% load credits %}
{% load disbursements %}

{% block page_title %}{% trans 'Payments made' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-disbursement-search{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">{% trans 'Payments made' %}</h1>
  </header>

  <p class="lede">{{ form.search_description.description }}</p>

  <form method="get" class="print-hidden">
    <p><a href="{% url 'disbursements:process-overview' %}#section-track">{% trans 'How to trace a payment' %}</a></p>

    {{ form.ordering.as_hidden }}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {% tabbedpanel cookie_name='disbursement-search' tab_label=_('Filter by') %}
      {% paneltab name='prisoner' title=_('Prisoner') %}
        <div class="grid-row">
          <div class="column-third">
            {% include 'mtp_common/forms/field.html' with field=form.prisoner_name input_classes='form-control-3-4' %}
          </div>
          <div class="column-third">
            {% include 'mtp_common/forms/field.html' with field=form.prisoner_number input_classes='form-control-2-3' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='recipient' title=_('Recipient') %}
        <div class="grid-row">
          <div class="column-two-thirds">
            {% include 'mtp_common/forms/field.html' with field=form.recipient_name %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='status' title=_('Status') %}
        <div class="grid-row">
          <div class="column-third">
            {% include 'mtp_common/forms/select-field.html' with field=form.resolution %}
          </div>
          <div class="column-third">
            {% include 'mtp_common/forms/field.html' with field=form.nomis_transaction_id input_classes='form-control-2-3' %}
          </div>
        </div>
      {% endpaneltab %}

      {% paneltab name='date' title=_('Date') %}
        <div class="grid-row">
          <div class="column-one-third">
            {% with field=form.date_filter %}
              <div class="form-group {% if field.errors %}form-group-error{% endif %}">
                {% include 'mtp_common/forms/field-errors.html' with field=field only %}
                {% for choice_value, choice_label in field.field.choices %}
                  <div class="multiple-choice">
                    <input id="{{ field.id_for_label }}-{{ forloop.counter0 }}" type="radio" name="{{ field.html_name }}" value="{{ choice_value }}" {% if field.value == choice_value %}checked{% endif %}>
                    <label for="{{ field.id_for_label }}-{{ forloop.counter0 }}">{{ choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            {% endwith %}
          </div>
          <div class="column-one-third">
            {% include 'mtp_common/forms/field.html' with field=form.date__gte %}
          </div>
          <div class="column-one-third">
            {% include 'mtp_common/forms/field.html' with field=form.date__lt %}
          </div>
        </div>
      {% endpaneltab %}

      <div class="mtp-tab-container__footer">
        <button type="submit" class="button">{% trans 'Filter list' %}</button>
        {% if form.search_description.has_filters %}
          <a href="?{% if form.ordering.value %}ordering={{ form.ordering.value }}{% endif %}" role="button">
            {% trans 'Clear filters' %}
          </a>
        {% endif %}
      </div>

    {% endtabbedpanel %}
  </form>

  <br>

  {% if form.is_valid %}
    <div class="mtp-batch">
      <table>
        <caption class="visually-hidden">{{ form.search_description.description }}</caption>
        <thead>
          <tr>
            <th class="{{ form.cleaned_data|ordering_classes:'prisoner_name' }}">
              <a href="?{{ form.cleaned_data|query_string_with_reversed_ordering:'prisoner_name' }}">
                <span>
                  {% trans 'Prisoner' %}
                  {% describe_ordering_for_screenreader form.cleaned_data 'prisoner_name' %}
                </span>
              </a>
            </th>
            <th class="{{ form.cleaned_data|ordering_classes:'amount' }}">
              <a href="?{{ form.cleaned_data|query_string_with_reversed_ordering:'amount' }}">
                <span>
                  {% trans 'Amount' %}
                  {% describe_ordering_for_screenreader form.cleaned_data 'amount' %}
                </span>
              </a>
            </th>
            <th class="{{ form.cleaned_data|ordering_classes:'recipient_name' }}">
              <a href="?{{ form.cleaned_data|query_string_with_reversed_ordering:'recipient_name' }}">
                <span>
                  {% trans 'Recipient' %}
                  {% describe_ordering_for_screenreader form.cleaned_data 'recipient_name' %}
                </span>
              </a>
            </th>
            <th>{% trans 'Recipient’s account' %}</th>
            <th class="{{ form.cleaned_data|ordering_classes:'resolution' }}">
              <a href="?{{ form.cleaned_data|query_string_with_reversed_ordering:'resolution' }}">
                <span>
                  {% trans 'Status' %}
                  {% describe_ordering_for_screenreader form.cleaned_data 'resolution' %}
                </span>
              </a>
            </th>
            <th class="{{ form.cleaned_data|ordering_classes:'created' }}">
              <a href="?{{ form.cleaned_data|query_string_with_reversed_ordering:'created' }}">
                <span>
                  {% trans 'History' %}
                  {% describe_ordering_for_screenreader form.cleaned_data 'created' %}
                </span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for disbursement in disbursements %}
            <tr>
              <!-- {{ disbursement.id }} -->
              <td>
                <span class="visually-hidden">{% trans 'Prisoner' %}:</span>
                {{ disbursement.prisoner_name }}
                <hr>
                <span class="visually-hidden">{% trans 'Prisoner number' %}:</span>
                <small>{{ disbursement.prisoner_number }}</small>
              </td>

              <td>
                {{ disbursement.amount|currency:'£' }}
                <hr>
                <span class="visually-hidden">{% trans 'Sent by' %}:</span>
                <small>{{ disbursement.method|sendingmethod }}</small>
                <hr>
                <small>
                  {% trans 'Description' %}:
                  {% if disbursement.remittance_description %}
                    {{ disbursement.remittance_description }}
                  {% else %}
                    <span class="text-secondary">({% trans 'None given' %})</span>
                  {% endif %}
                </small>
              </td>

              <td>
                {{ disbursement.recipient_first_name }} {{ disbursement.recipient_last_name }}
                <hr>
                <span class="visually-hidden">{% trans 'Recipient address' %}:</span>
                <address>
                  <small>
                    {{ disbursement.address_line1 }}<br>
                    {% if disbursement.address_line2 %}{{ disbursement.address_line2 }}<br>{% endif %}
                    {{ disbursement.city }}<br>
                    {{ disbursement.postcode }}
                    {% if disbursement.country and disbursement.country != 'UK' %}
                      <br>
                      <strong>{{ disbursement.country }}</strong>
                    {% endif %}
                  </small>
                </address>
                {% if disbursement.recipient_email %}
                  <hr>
                  <span class="visually-hidden">{% trans 'Recipient email' %}:</span>
                  <small>{{ disbursement.recipient_email }}</small>
                {% endif %}
              </td>

              <td>
                {% if disbursement.method == 'bank_transfer' %}
                  <span class="visually-hidden">{% trans 'Recipient sort code' %}:</span>
                  {{ disbursement.sort_code|format_sortcode }}
                  <br>
                  <span class="visually-hidden">{% trans 'Recipient account number' %}:</span>
                  {{ disbursement.account_number }}
                  {% if disbursement.roll_number %}
                    <br>
                    <span class="visually-hidden">{% trans 'Recipient roll number' %}:</span>
                    {{ disbursement.roll_number }}
                  {% endif %}
                {% endif %}
              </td>

              <td>
                {{ disbursement.resolution|format_disbursement_resolution }}
              </td>

              <td>
                {% for log_item in disbursement.log_set %}
                  {% if log_item.action == 'created' %}
                    {{ log_item.created|date:'d/m/Y' }}
                    {% blocktrans trimmed with staff_name=log_item.staff_name %}
                      Entered by {{ staff_name }}
                    {% endblocktrans %}

                  {% elif log_item.action == 'edited' %}
                    {{ log_item.created|date:'d/m/Y' }}
                    {% blocktrans trimmed with staff_name=log_item.staff_name %}
                      Edited by {{ staff_name }}
                    {% endblocktrans %}

                  {% elif log_item.action == 'confirmed' %}
                    {{ log_item.created|date:'d/m/Y' }}
                    {% blocktrans trimmed with staff_name=log_item.staff_name %}
                      Confirmed by {{ staff_name }}
                    {% endblocktrans %}
                    <br>
                    <small>
                      {% trans 'NOMIS reference' %}:
                      {{ disbursement.nomis_transaction_id|default:'—' }}
                    </small>

                  {% elif log_item.action == 'sent' %}
                    {{ log_item.created|date:'d/m/Y' }}
                    {% blocktrans trimmed %}
                      Sent by SSCL
                    {% endblocktrans %}
                    <br>
                    <small>
                      {% trans 'Invoice number' %}:
                      {{ disbursement.invoice_number }}
                    </small>

                  {% elif log_item.action == 'rejected' %}
                    {{ log_item.created|date:'d/m/Y' }}
                    {% blocktrans trimmed with staff_name=log_item.staff_name %}
                      Cancelled by {{ staff_name }}
                    {% endblocktrans %}
                    {% with rejection_reason=disbursement.comments|find_rejection_reason %}
                      <br>
                      <small>
                        {{ rejection_reason|truncatewords:5 }}
                      </small>
                    {% endwith %}

                  {% endif %}
                  {% if not forloop.last %}
                    <hr>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>

          {% empty %}

            <tr>
              <td class="mtp-no-credits" colspan="6">
                {% trans 'No disbursements found' %}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    {% page_list page=form.cleaned_data.page page_count=form.page_count query_string=form.query_string %}
  {% endif %}

{% endblock %}
