{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  <header>
    <h1 class="govuk-heading-xl">{{ view.title }}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <fieldset class="govuk-fieldset">
          <legend id="{{ form.method.id_for_label }}-label" class="govuk-visually-hidden">{% trans 'Method by which to send money' %}</legend>

          <div class="govuk-radios">
            {% for method in form.method.field.choices %}
              <div class="govuk-radios__item">
                <input id="id_{{ method.0 }}" class="govuk-radios__input" type="radio" name="{{ form.method.html_name }}" value="{{ method.0 }}"
                       {% if form.method.value == method.0 %}checked{% endif %}>
                <label for="id_{{ method.0 }}" class="govuk-label govuk-label--s govuk-radios__label">
                  {{ method.1 }}
                </label>
                <span id="id_{{ method.0 }}-hint" class="govuk-hint govuk-radios__hint">
                  {% for key, value in form.method.field.help_text.items %}
                    {% if key == method.0 %}
                      {{ value }}
                    {% endif %}
                  {% endfor %}
                </span>
              </div>
            {% endfor %}
          </div>
        </fieldset>
        <br />
        <p>{% trans 'Both methods are free to the prisoner and recipient' %}</p>

        <button type="submit" class="govuk-button mtp-next-button">{% trans 'Next' %}</button>
      </form>

    </div>
  </div>
{% endblock %}
