{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load disbursements %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
      </header>

      <form method="post">
        {% csrf_token %}

        {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

        <fieldset class="govuk-fieldset">
          <legend id="{{ form.method.id_for_label }}-label" class="govuk-visually-hidden">{% trans 'Method by which to send money' %}</legend>
          {% include 'mtp_common/forms/radio-field.html' with field=form.method label_classes='govuk-visually-hidden' choices_help_text=form.method_choices_help_text only %}
        </fieldset>
        <br />
        <p>{% trans 'Both methods are free to the prisoner and recipient' %}</p>

        <button type="submit" class="govuk-button" data-module="govuk-button">{% trans 'Next' %}</button>
      </form>

    </div>
  </div>
{% endblock %}
