{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'How the prisoner wants to send money' %} – {{ block.super }}{% endblock %}
{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <header>
    <h1 class="heading-xlarge">
      {% trans 'How the prisoner wants to send money' %}
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="." method="post">
        {% csrf_token %}

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <fieldset class="mtp-sending-method-choice">
          <legend id="{{ form.method.id_for_label }}-label" class="visually-hidden">{% trans 'Method by which to send money' %}</legend>

          {% for method in form.method.field.choices %}
            <div class="multiple-choice">
              <input id="id_{{ method.0 }}" type="radio" name="{{ form.method.html_name }}" value="{{ method.0 }}"
                     {% if form.method.value == method.0 %}checked{% endif %}>
              <label for="id_{{ method.0 }}">
                <strong>{{ method.1 }}</strong>
                <br/>
                {% for key, value in form.method.field.help_text.items %}
                  {% if key == method.0 %}
                    {{ value }}
                  {% endif %}
                {% endfor %}
              </label>
            </div>
          {% endfor %}
        </fieldset>
        <br>
        <p>{% trans 'Both methods are free to the prisoner and recipient' %}</p>

        <button type="submit" class="button mtp-next-button">{% trans 'Next' %}</button>
      </form>

    </div>
  </div>
{% endblock %}
