{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block content %}
  {{ block.super }}

  {% include 'policy-change-warning-disbursements.html' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <header>
        <h1 class="govuk-heading-xl">{% trans 'Disbursements' %}</h1>
      </header>

      <h2 class="govuk-heading-m">{% trans 'Enter a payment request' %}</h2>
      <p>
        {% blocktrans trimmed %}
          Before you start, have the completed <strong>bank transfer or cheque</strong> form in front of you.
        {% endblocktrans %}
      </p>
      <img src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-filled.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-filled@2x.jpg' %} 2x" alt={% trans '“Send money by bank transfer or cheque” form' %}/>
      <p>
        <a href="{{ view.get_success_url }}" class="govuk-button govuk-button--start" data-module="govuk-button" role="button">
          {% trans 'Start now' %}
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">{% trans 'Confirm payments' %}</h2>
      {% if pending_disbursement_count %}
        {% blocktrans trimmed count count=pending_disbursement_count %}
          There is <strong>{{ count }} payment request</strong> needing confirmation.
        {% plural %}
          There are <strong>{{ count }} payment requests</strong> needing confirmation.
        {% endblocktrans %}
        <p><a href="{% url 'disbursements:pending_list' %}">{% trans 'View all' %}</a></p>
      {% else %}
        {% trans 'There are no payment requests needing confirmation.' %}
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">{% trans 'Payments made' %}</h2>
      {% if confirmed_disbursement_count %}
        {% blocktrans trimmed count count=confirmed_disbursement_count %}
          Your prison has made <strong>{{ count }} digital disbursement</strong>.
        {% plural %}
          Your prison has made <strong>{{ count }} digital disbursements</strong>.
        {% endblocktrans %}
        <p>
          <a href="{% url 'disbursements:search' %}">
            {% blocktrans trimmed count count=confirmed_disbursement_count %}
              Track it here
            {% plural %}
              Track them here
            {% endblocktrans %}
          </a>
        </p>
      {% else %}
        {% trans 'Your prison has not yet made any digital disbursements.' %}
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">{% trans 'Get help' %}</h2>
      {% trans 'Find out how the process works.' %}
      <p><a href="{% url 'disbursements:process-overview' %}">{% trans 'View help' %}</a></p>
    </div>
  </div>

{% endblock %}
