{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="mtp-disbursement-start grid-row">
    <div class="column-two-thirds">
      <header>
        <h1 class="heading-xlarge">{% trans 'Digital disbursements' %}</h1>
      </header>

      <p>
        {% trans 'Use this tool to process money requests from prisoners who have used the “Send money by bank transfer or cheque” form.' %}
      </p>

      <p>
        {% trans 'Make sure you have the filled form in front of you before you start.' %}
      </p>

      <p>
        <a href="{{ view.get_success_url }}" class="button button-start" role="button">{% trans 'Start now' %}</a>
      </p>
    </div>
    <div class="column-one-third">
      <img src="{% static 'images/disbursement_form.jpg' %}" alt={% trans '“Send money by bank transfer or cheque” form' %}/>
    </div>
  </div>
{% endblock %}
