{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block body_classes %}{{ block.super }} mtp-create-disbursement{% endblock %}

{% block inner_content %}
  {{ block.super }}

  <div class="grid-row">
    <div class="column-two-thirds">
      <header>
        <h1 class="heading-xlarge">{% trans 'Digital disbursement tool' %}</h1>
      </header>
      <h2 class="heading-medium">{% trans 'How does it work' %}</h2>
      <ol class="list list-number">
        <li>{% blocktrans trimmed %}<strong>The prisoner</strong> fills in the payment request paper form{% endblocktrans %}</li>
        <li>{% blocktrans trimmed %}<strong>You</strong> enter the payment request details from the form into this tool{% endblocktrans %}</li>
        <li>{% blocktrans trimmed %}<strong>A business hub colleague</strong> checks the details match{% endblocktrans %}</li>
        <li>{% blocktrans trimmed %}<strong>SSCL</strong> sends the confirmed payment to the recipient by bank transfer or cheque{% endblocktrans %}</li>
      </ol>

      <p><a href="{% url 'disbursements:process-overview' %}">{% trans 'Read more about the process' %}</a></p>

      <h2 class="heading-medium">{% trans 'Enter a payment request' %}</h2>
      <p>{% trans 'Use this tool to process a payment request from prisoners.' %}</p>

      <p>
        {% blocktrans trimmed %}
          Before you start, have the completed <strong>bank transfer or cheque</strong> form in front of you.
        {% endblocktrans %}
      </p>

      <img src="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-filled.jpg' %}" srcset="{% static 'disbursements/disbursement-by-bank-transfer-or-cheque-filled@2x.jpg' %} 2x" alt={% trans '“Send money by bank transfer or cheque” form' %}/>
      <br/>

      <p>
        <a href="{{ view.get_success_url }}" class="button button-start" role="button">{% trans 'Start now' %}</a>
      </p>
    </div>
  </div>
{% endblock %}
