{% extends 'disbursements/base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block page_title %}{% trans 'How it works' %} – {{ block.super }}{% endblock %}

{% block sub_nav %}
  {% include 'disbursements/get-help-tabs.html' with page=2 only %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="grid-row">
    <div class="column-two-thirds mtp-track-invoice-help">

      <header>
        <h1 class="heading-xlarge">
          {% trans 'How to track digital disbursements in SOP' %}
        </h1>
      </header>

      <p>
        {% trans 'Disbursements will normally appear in SOP ‘accounts payable’ and the ‘general ledger (GL)’ a couple of days after they have been processed via the digital cashbook.' %}
      </p>
      <p>
        {% trans 'In the ‘accounts payable’ enquiry screen, you can view all details of the individual disbursements (see screenshots below).' %}
      </p>
      <p>
        {% trans 'The transactions are listed in the GL report but are always dated for the last day of the month, not the date they were uploaded to SOP.' %}
        {% trans 'As every transaction uploaded within a month will have the same GL date, it’s recommended that the GL report is run daily for the NOMIS to SOP reconciliation.' %}
      </p>
      <p>
        {% trans 'Alternatively, it is possible to run a ‘discoverer report’ to see the details of a disbursement.' %}
        {% trans 'The date parameters of the discoverer report must be for the whole month to ensure the disbursement transactions are included.' %}
      </p>

      <h2 class="heading-medium">
        {% trans 'Set up SOP access, if needed' %}
      </h2>
      <p>
        {% trans 'If you can’t follow some of the steps below, you might not have the right access in SOP.' %}
      </p>
      <p>
        {% blocktrans trimmed with link='https://hmpps.myhub.sscl.com/' %}
          To get access, complete a SOP71 form which can be found on <a href="{{ link }}">My Hub</a>.
        {% endblocktrans %}
      </p>
      <p>
        {% trans 'Please check the guidance notes on this page as they may have changed.' %}
      </p>
      <p>
        {% trans 'Request these responsibilities from the ‘Finance and HR’ category' %}:
      </p>
      <ul class="list list-bullet">
        <li>NMS AP Enquiry (View Only)</li>
        <li>NMS GL Enquiry Exc Pay</li>
        <li>NMS Disco FIN General Ledger</li>
      </ul>

      <figure>
        <figcaption class="heading-medium">
          1.
          {% trans 'Log into SOP and open ‘NMS AP Enquiry (View Only)’' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/1-ap-enquiry.png' %}" alt="{% trans 'SOP screenshot' %}" />
      </figure>

      <figure>
        <figcaption class="heading-medium">
          2.
          {% trans 'Open ‘Invoices’' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/2-invoices.png' %}" alt="{% trans 'SOP screenshot' %}" />
      </figure>

      <figure>
        <figcaption class="heading-medium">
          3.
          {% trans 'Enter the reference number of the transaction in the ‘Invoice Number’ box and click on ‘Find’' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/3-search-invoice.png' %}" alt="{% trans 'SOP screenshot' %}" />
      </figure>

      <figure>
        <figcaption class="heading-medium">
          4.
          {% trans 'This screen shows an overview of the payment information.' %}
          {% trans 'To see further details, click on the ‘View Payments’ tab.' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/4-invoice-overview.png' %}" alt="{% trans 'SOP screenshot' %}" />
      </figure>

      <figure>
        <figcaption class="heading-medium">
          5.
          {% trans 'This screen shows the payment method (bank transfer or cheque) and the date of the payment' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/5-bank-transfer-details.png' %}" alt="{% trans 'SOP screenshot' %}" />
        <p>
          {% trans 'Click on ‘Payment Overview’ for further information, if required' %}
        </p>
      </figure>

      <figure>
        <figcaption class="heading-small">
          {% trans 'Where the payment had been made via cheque, the payment method will list ‘Check’ instead of ‘Electronic’' %}
        </figcaption>
        <img src="{% static 'disbursements/track-invoice/6-cheque-details.png' %}" alt="{% trans 'SOP screenshot' %}" />
        <p>
          {% trans 'The document number is the cheque number' %}
        </p>
      </figure>

      <figure>
        <figcaption class="heading-medium">
          {% trans 'If the prisoner gets the recipient’s details wrong' %}
        </figcaption>
        <p>
          {% trans 'If the sort code is wrong, SSCL will cancel the bank transfer and SOP will not show any information.' %}
        </p>
        <p>
          {% trans 'If the payment has been sent but is then rejected by the bank (or a cheque is returned), SSCL will return the money and SOP will show a ‘Cancelled’ status.' %}
        </p>
        <img src="{% static 'disbursements/track-invoice/7-cancelled-overview.png' %}" alt="{% trans 'SOP screenshot' %}" />
        <p>
          {% trans 'This is shown in the ‘Status’ box of the transaction in ‘accounts payable’' %}
        </p>
        <img src="{% static 'disbursements/track-invoice/8-cancelled-details.png' %}" alt="{% trans 'SOP screenshot' %}" />
      </figure>

    </div>
  </div>

{% endblock %}
