{% extends 'mtp_common/settings.html' %}
{% load i18n %}


{% block settings %}
  {{ block.super }}

  {% if can_edit_credit_notice_emails %}
    {% include 'govuk-frontend/components/section-break.html' with visible=True size='l' %}

    <h2 class="govuk-heading-l">
      {% trans 'Email address for credit slips' %}
    </h2>
    <p>
      {% for credit_notice_email in credit_notice_emails %}
        {{ credit_notice_email.prison_name }}: {{ credit_notice_email.email }}
        {% if not forloop.last %}
          <br />
        {% endif %}
      {% empty %}
        {% trans 'Not set up in your prison.' %}
      {% endfor %}
    </p>
    <a class="govuk-button" data-module="govuk-button" role="button" href="{% url 'credit-notice-emails' %}">
      {% if credit_notice_emails %}
        {% trans 'Change email' %}
      {% else %}
        {% trans 'Set up email' %}
      {% endif %}
    </a>
  {% endif %}

  {% include 'govuk-frontend/components/section-break.html' with visible=True size='l' %}

  <h2 class="govuk-heading-l">
    {% trans 'Move prison' %}
  </h2>
  <p>{% trans 'You are currently at:' %}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for prison in request.user.user_data.prisons %}
      <li>{{ prison.name }}</li>
    {% endfor %}
  </ul>
  <a class="govuk-button" data-module="govuk-button" role="button" href="{% url 'move-prison' %}">{% trans 'Move prison' %}</a>

{% endblock %}
