@charset 'UTF-8';

$images-dir: '/static/images/';

@import 'mtp';

// Page specific styles
@import 'views/dashboard';
@import 'views/batch';
@import 'views/history';
@import 'views/locked';
@import 'views/training';
@import 'views/pagination';

// mtp-common overrides
.help-box div {
  width: 65%;
}

// govuk_elements overrides
.form-group {
  margin-bottom: 10px;
}

// app-specific styles
.mtp-inactive__form {
  .form-label {
    color: $grey-2;
  }

  .form-control {
    border: 2px solid $grey-2;
  }
}
