@charset 'UTF-8';

@import 'mtp-internal';

@import 'elements/footer-feedback';

// Page specific styles
@import 'views/dashboard';
@import 'views/batch';
@import 'views/history';
@import 'views/locked';
@import 'views/training';
@import 'views/navigation';
@import 'views/credits';
@import 'views/all_credits';
@import 'views/processed_credits';
@import 'views/change_notification';
@import 'views/progress_bar';

// mtp-common overrides
.help-box div {
  width: 65%;
}

table {
  .help-box div {
    width: 100%;
  }
}

.without-footer-padding #footer .footer-wrapper {
  padding-top: 2em;
}

// app-specific styles
.mtp-inactive__form {
  .form-label {
    color: $grey-2;
  }

  .form-control {
    border: 2px solid $grey-2;
  }
}
