{% extends 'mtp_common/components/header-app-links.html' %}
{% load i18n %}

{% block app_links %}
  {% if request.proposition_app.sub_app == 'cashbook' %}
    <ul>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='new-credits' link_text=_('New credits') %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='processed-credits-list' subview_names='processed-credits-detail' link_text=_('Processed credits') %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='cashbook-faq' subview_names='cashbook_submit_ticket cashbook_feedback_success' link_text=_('Get help') %}
      </li>

      <li class="mtp-header-app-links__search">
        <form method="get" action="{% url 'search' %}" novalidate>
          <label class="govuk-visually-hidden" for="id_search">{% trans 'Search all credits' %}</label>
          <input id="id_search" class="govuk-input govuk-input--width-5" name="search" value="{{ search_field.value|default_if_none:'' }}" placeholder="{% trans 'Search all credits, for example, by prisoner number' %}" type="search" />
          <button type="submit" class="govuk-button" data-module="govuk-button">{% trans 'Search' %}</button>
        </form>
      </li>
    </ul>
  {% elif request.proposition_app.sub_app == 'disbursements' %}
    <ul>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='disbursements:start' subview_names='disbursements:prisoner disbursements:prisoner_check disbursements:amount disbursements:sending_method disbursements:recipient_contact disbursements:recipient_postcode disbursements:recipient_address disbursements:recipient_bank_account disbursements:remittance_description disbursements:details_check disbursements:handover disbursements:created' link_text=_('Disbursements') %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='disbursements:pending_list' subview_names='disbursements:pending_detail disbursements:confirmed disbursements:update_sending_method disbursements:update_prisoner disbursements:update_amount disbursements:update_recipient_contact disbursements:update_recipient_address disbursements:update_recipient_bank_account disbursements:update_remittance_description' link_text=_('Confirm payments') suffix=confirm_tab_suffix %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='disbursements:search' link_text=_('Payments made') %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='disbursements:paper-forms' link_text=_('Paper forms') %}
      </li>
      <li>
        {% include 'mtp_common/components/header-app-link.html' with view_name='disbursements:process-overview' subview_names='disbursements:track-invoice disbursements:submit_ticket disbursements:feedback_success' link_text=_('Get help') %}
      </li>
    </ul>
  {% endif %}
{% endblock %}
