{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block main_js %}
  {{ block.super }}
  {% sentry_js %}
{% endblock %}

{% block page_title %}{% trans "Digital cashbook" %}{% endblock %}

{% block proposition %}{% trans "Digital cashbook" %}{% endblock %}

{% block user_menu %}
<span>
  <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
</span>
{% if perms.auth.change_user %}
<span>
  <a href="{% url 'list-users' %}">{% trans "Manage users" %}</a>
</span>
{% endif %}
{% endblock %}
