{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
      </header>


      <h2 class="govuk-heading-m" id="faq-account-requested">
        {% trans 'I requested an account, but heard nothing' %}
      </h2>

      <p>
        {% blocktrans trimmed %}
          Either remind your business hub manager to accept your request, or <a href="{{ sign_up_url }}">request an account</a> again.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-locked-out">
        {% trans 'I’m locked out' %}
      </h2>

      <p>
        {% trans 'If you mis-type your password too many times, you’ll be locked out.' %}
        {% trans 'Try again in about half an hour.' %}
      </p>


      <h2 class="govuk-heading-m" id="faq-may-have-account">
        {% trans 'I may already have an account' %}
      </h2>

      <p>
        {% blocktrans trimmed %}
          Try <a href="{{ reset_password_url }}">resetting your password</a>.
        {% endblocktrans %}
        {% trans 'If you have an account, you’ll get an email with a link.' %}
        {% blocktrans trimmed %}
          If not, <a href="{{ sign_up_url }}">request an account</a>.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-username">
        {% trans 'I’ve forgotten or need to change my username' %}
      </h2>

      <p>
        {% blocktrans trimmed %}
            To change your username, <a href="{{ servicenow_password_reset_url }}">contact us</a>.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-reset-password">
        {% trans 'Reset password isn’t working' %}
      </h2>

      <p>
        <a href="{{ servicenow_password_reset_url }}">{% trans 'Contact us' %}</a>
      </p>


    </div>
  </div>

{% endblock %}
