{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} mtp-credits{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">{{ view.title }}</h1>
      </header>


      <h2 class="govuk-heading-m" id="faq-account-requested">
        {% trans "I requested an account, but heard nothing" %}
      </h2>

      <p>
        {% blocktrans trimmed %}
          Either remind your business hub manager to accept your request, or <a href="{{ sign_up_url }}">request an account</a> again.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-locked-out">
        {% trans "I’m locked out" %}
      </h2>

      <p>
        {% blocktrans trimmed %}
          If you mis-type your password too many times, you'll be locked out.
        {% endblocktrans %}
        {% blocktrans trimmed %}
          Try again in about half an hour.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-may-have-account">
        {% trans "I may already have an account" %}
      </h2>

      <p>
        {% blocktrans trimmed %}
          Try <a href="{{ reset_password_url }}">resetting your password</a>.
        {% endblocktrans %}
        {% blocktrans trimmed %}
          If you have an account, you'll get an email with a link.
        {% endblocktrans %}
        {% blocktrans trimmed %}
          If not, <a href="{{ sign_up_url }}">request an account</a>.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-username">
        {% trans "I've forgotten or need to change my username" %}
      </h2>

      <p>
        {% url 'submit_ticket' as contact_us_url %}
        {% blocktrans trimmed %}
            To change your username, <a href="{{ contact_us_url }}?message=My%20new%20username%20%28usually%20your%20Quantum%20ID%29%20is%20%5Bplease%20fill%20in%5D">contact us</a>.
        {% endblocktrans %}
      </p>


      <h2 class="govuk-heading-m" id="faq-reset-password">
        {% trans "Reset password isn’t working" %}
      </h2>

      <p>
        {% url 'submit_ticket' as contact_us_url %}
        {% blocktrans trimmed %}
          To reset your password, <a href="{{ contact_us_url }}?message=I%20need%20help%20resetting%20my%20password.%20My%20username%20is%20%5Bplease%20fill%20in%5D.">contact us</a>.
        {% endblocktrans %}
      </p>


    </div>
  </div>

{% endblock %}
