{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  {% notifications_box request 'cashbook_all' %}

  {% if user_request_count %}
    <div class="mtp-notification mtp-notification--info">
      <h1>
        <a href="{% url 'list-users' %}" class="mtp-notification__headline">
          {% blocktrans trimmed count count=user_request_count %}
            You have {{ count }} new user request
          {% plural %}
            You have {{ count }} new user requests
          {% endblocktrans %}
        </a>
      </h1>
    </div>
  {% endif %}

  <header>
    <h1 class="heading-xlarge mtp-heading--compact">
      {% blocktrans trimmed with name=request.user.get_full_name|default:request.user.username %}
        Welcome {{ name }}
      {% endblocktrans %}
    </h1>
  </header>
  <p class="lede">
    {% trans 'Use the tools below to manage prisoner money' %}
  </p>

  <div class="grid-row">
    <div class="column-third">
      <div class="mtp-box">
        <a href="{% url 'new-credits' %}" aria-labelledby="tool-1">{% trans 'Digital cashbook' %}</a>
        <p id="tool-1">
          {% trans 'Credit money into a prisoner’s account' %}
        </p>
      </div>
    </div>

    <div class="column-third">
      <div class="mtp-box">
        <a href="{% url 'disbursements:start' %}">{% trans 'Digital disbursements' %}</a>
        <p id="tool-2">
          {% trans 'Send money out of a prisoner’s account by bank transfer or cheque' %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
