{% load i18n %}

<div class="mtp-notification mtp-notification--info mtp-notification--open">
  <h2 class="mtp-notification__headline">
    {% trans 'No more bank transfers' %}
  </h2>
  <div class="mtp-notification__message">

    <p>{% trans 'A policy change from November 2nd means that senders have to ‘Send money to someone in prison’ using a debit card.' %}</p>
    <p>{% trans 'They will no longer be able to send money by bank transfer or send in cash, cheques or postal orders by post.' %}</p>
    <p>{% trans 'If they don’t have a bank account, we’re encouraging them to set one up. If they can’t use the service, they can apply to the governor for an ‘exemption’.' %}</p>
    <p>{% trans 'You may see a temporary rise in complaints because of these changes.' %}</p>

  </div>
</div>
