{% load i18n %}

<div class="mtp-notification mtp-notification--info mtp-notification--open">
  <h2 class="mtp-notification__headline">
    {% trans 'How Nov 2nd policy changes will affect you' %}
  </h2>
  <div class="mtp-notification__message">

    <h3><strong>{% trans 'Credits' %}</strong></h3>
    <p>{% trans 'Senders will no longer be able to send money by bank transfer.' %}</p>

    <h3><strong>{% trans 'Disbursements' %}</strong></h3>
    <p>{% trans 'There will be a cap on how much money can be sent out of prison.' %}</p>
    <p>{% trans 'The cap will be a maximum of £50 a week sent out to each person.' %}</p>

    <p><a href="{% url 'policy-change' %}">{% trans 'More details about Credit and Disbursement changes' %}</a></p>
  </div>
</div>
