{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load static %}

{% block page_title %}{{ view.title }} – {{ block.super }}{% endblock %}

{% block content %}

  {% static 'downloads/apply-to-send-out-more-than-50.pdf' as form_link %}

  {% notification_banners request 'cashbook_dashboard' 'cashbook_all' %}

  <!--[policy-change-warning]-->
  <header>
    <h1 class="heading-xlarge">{% trans 'How Nov 2nd policy changes will affect you' %}</h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">{% trans 'No more bank transfers' %}</h2>

      <p>{% trans 'A policy change from November 2nd means that senders have to ‘Send money to someone in prison’ using a debit card.' %}</p>
      <p>{% trans 'They will no longer be able to send money by bank transfer or send in cash, cheques or postal orders by post.' %}</p>
      <p>{% trans 'If they don’t have a bank account, we’re encouraging them to set one up. If they can’t use the service, they can apply to the governor for an ‘exemption’.' %}</p>
      <p>{% trans 'You may see a temporary rise in complaints because of these changes.' %}</p>

      <h2 class="heading-large">{% trans 'What is the disbursements cap?' %}</strong></h3>
      <p>{% trans 'A policy change from November 2nd means only £50 a week can be sent out to each person.' %}</p>
      <p>{% trans 'Example: They can send up to £250 a week, if it’s to 5 different people.' %}</p>

      <h3><strong>{% trans 'If they want to send out more' %}</strong></h3>
      <p>
        {% blocktrans %}
          A resident must apply for approval from the governor if they need to send out more than £50 to a person in a week. In exceptional circumstances, this might be granted. It must be applied for each time by filling in a <a href="{{ form_link }}">form</a> which is attached to their disbursement before handing in.
        {% endblocktrans %}
      </p>

      <h3><strong>{% trans 'What you need to do' %}</strong></h3>
      <p>{% trans 'If the resident’s application is approved, make the disbursement. If it is not approved, send the application form back with a reason why.' %}</p>

      <h3><strong>{% trans 'Exceptional circumstances could be:' %}</strong></h3>
      <ul class="list list-bullet">
        <li>{% trans 'paying off debts if you have no external bank account' %}</li>
        <li>{% trans 'sending financial support to family' %}</li>
        <li>{% trans 'paying for a legitimate service, e.g. legal fees, dentistry' %}</li>
        <li>{% trans 'operating a business, if unconvicted' %}</li>
        <li>{% trans 'transferring your money from prison to a new or existing bank account' %}</li>
      </ul>

      <p>
        {% blocktrans trimmed %}
          This is a copy of the new <a href="{{ form_link }}">‘Apply to send more than £50’ disbursement form</a>
        {% endblocktrans %}
      </p>


    </div>
  </div>
{% endblock %}
