{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}

{% block body_classes %}{{ block.super }} mtp-login{% endblock %}
{% block page_title %}{% trans 'Sign in' %} – {{ block.super }}{% endblock %}

{% block inner_content %}

  <div class="mtp-login__header">
    <div class="mtp-login__content">
      <div class="grid-row">
        <div class="column-full">
          {% language_switch %}
        </div>
      </div>

      <div class="grid-row">
        <header class="column-two-thirds">
          <h1 class="heading-xlarge">
            {% trans 'Process money sent to your prison' %}
            {% comment %} << once disbursements are live, replace above trans line with this
            {% trans 'Manage prisoners’ money' %}
            {% endcomment %}
          </h1>

          <aside>
            {% blocktrans trimmed %}
              This is where you process credits sent to your prison by a member of the public through the <a href="{{ start_page_url }}">Send money to someone in prison</a> service.
            {% endblocktrans %}
            {% comment %} << once disbursements are live, replace above blocktrans block with this
            {% trans 'These tools will help you manage prisoner money' %}
            <ul class="list list-bullet">
              <li>{% trans 'Digital cashbook' %}</li>
              <li>{% trans 'Digital disbursements' %}</li>
            </ul>
            {% endcomment %}
          </aside>
        </header>

        <div class="column-one-third">
          <img alt="{% trans 'Digital cashbook' %}" src="{% static 'images/landing-cashbook.png' %}" srcset="{% static 'images/landing-cashbook@2x.png' %} 2x"/>
        </div>
      </div>
    </div>
  </div>

  <div class="mtp-login__content">

    {% notifications_box request 'cashbook_login' %}

    <div class="grid-row">
      <section class="column-half">
        <h2 class="heading-medium">{% trans 'How to get access' %}</h2>
        {% comment %} << uncomment once disbursements are live
        <p>
          {% trans 'Log into both tools with your existing digital cashbook details.' %}
        </p>
        {% endcomment %}
        <p>
          {% trans 'Your business hub administrator can set up an account for you if you don’t have access to the digital cashbook.' %}
        </p>
        <p>
          <a href="{% url 'submit_ticket' %}">
            {% trans 'Need more help?' %}
          </a>
        </p>
      </section>

      <section class="column-half">
        <h2 class="heading-medium">{% trans 'Sign in' %}</h2>

        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <form action="{{ app_path }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

          {% include 'mtp_common/forms/field.html' with field=form.username input_classes='form-control-3-4' only %}
          {% include 'mtp_common/forms/field.html' with field=form.password input_classes='form-control-3-4' only %}

          <div class="form-group">
            <button type="submit" class="button" name="signin">{% trans 'Sign in' %}</button>
          </div>
        </form>

        {% if ENVIRONMENT != 'test' %}
          <p><a href="{% url 'reset_password' %}">{% trans 'Forgotten your password?' %}</a></p>
        {% endif %}

      </section>
    </div>
  </div>

{% endblock %}
