{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Move prison' %} – {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">{% trans 'Move prison' %}</h1>
  </header>

  <p>
    {% trans 'If you have moved to a new prison, you can request access here.' %}
  </p>

  <form action="." method="post" class="mtp-account-management__sign-up">
    {% csrf_token %}

    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    <input type="hidden" name="change-role" value="true">
    {% for field in hidden_fields %}
      <input type="hidden" name="{{ field.html_name }}" value="{{ field.value|default_if_none:field.initial }}">
    {% endfor %}
    {% include 'mtp_common/forms/select-field.html' with field=form.prison only %}

    <div class="form-group">
      <button type="submit" class="button">
        {% trans 'Submit request' %}
      </button>
    </div>
  </form>
{% endblock %}
