// Fixes

button,
.button {
  font-family: inherit;
}

.button-secondary {
  background-color: $grey-3;
}

.button + .button {
  margin-top: 0;
}

// App specific

button,
.button {
  padding-top: .3em;
  padding-bottom: .3em;
}

