$component: SummaryBoxes;

.#{$component} {
  $box-width: 210px;
  $box-height: 175px;
  $header-height: 50px;
  $boxes-per-row: 2;
  $box-container-width: ($box-width + ($container-h-padding*2)) * $boxes-per-row;

  @include clearfix;
  margin: 0;
  padding: 0;

  @include breakpoint($tablet) {
    max-width: em($box-container-width);
  }

  li {
    float: left;
    margin: 0 $container-h-padding*2 $container-h-padding*2 0;
    list-style: none;
    background: $grey-3;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      color: $white;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        h2 {
          text-decoration: underline;
        }
      }
    }

    h2 {
      margin: 0;
      min-height: $header-height;
      text-align: center;
      font-size: em(30);
      line-height: $header-height;
      background: $grey-1;
    }

    p {
      display: table-cell;
      width: $box-width - $container-h-padding * 2;
      height: $box-height - $header-height;
      padding: 0 $container-h-padding;
      color: $black;
      text-align: center;
      vertical-align: middle;

      span {
        display: block;
      }

      strong {
        display: block;
        font-size: em(48);
        line-height: 1;
      }
    }
  }
}

// Variants
li.#{$component}--unprocessed {
  background: $green-2;

  & h2 {
    background: $green-1;
  }
}
li.#{$component}--locked {
  background: $orange-25;

  & h2 {
    background: $orange;
  }
}

// Siblings
h1 + .#{$component} {
  margin-top: 68px;
}
