.user-details {
  padding-top: 12px;
  padding-bottom: 12px;
  background: $grey-3;
  text-align: right;

  span {
    margin-left: .75em;
    padding-left: .75em;
    padding-right: .75em;
    border-left: 2px solid $grey-1;
  }
}
